{#
# eRačuni template
# -------------------
-#}
{% set q = craft.app.request.getParam('q') %}

{% set bodyClass = 'bg-page-hexes bg-contain bg-no-repeat' %}

{% extends '_layouts/site' %} {% block main %}

	{% include '/_snippet/breadcrumb' %}

    <div class="max-w-4xl mx-auto px-4 lg:mt-20 my-12">
        <h2 class="text-4xl md:text-5xl font-bold mb-8 text-center">{{ entry.title }}</h2>
        <div class="text-center">{{ 'The e-directory of recipients enables the review of information on the receipt of eInvoices of companies included in the bizBox / ZZInet system and related networks, which provide information on e-Exchange users from their environment.'|t }}</div>
    </div>

	<div class="container mx-auto px-4" id="app">
    	<div class="flex flex-row items-center border border-blue-100 p-1 bg-white rounded-[36px] mx-auto max-w-4xl my-12 lg:mb-20">
            <i class="icon-search text-blue pl-4 pr-2"></i>
            <input class="flex-1 border-0 py-3 placeholder:text-dark-700 focus:shadow-none focus-visible:outline-0" v-model="q">
            <button type="button" @click="search()" class="btn btn-primary !px-12 !py-4"><span class="hidden sm:block">{{ 'Search'|t }}</span> <i class="icon-arrow-right !pl-0 sm:!pl-3"></i></button>
		</div>

        <div class="text-bold text-xl text-red py-4">
            ${responseMsg}
        </div>
        <div class="rounded-2xl shadow">
            <div class="overflow-x-auto rounded-t-2xl">
                <table class="text-base bg-white table-auto border-b border-blue-100 w-full">
                    <thead class="bg-dark-700 text-white">
                        <tr class="whitespace-nowrap">
                            <td class="py-3.5 px-4 w-2/12 cursor-pointer" @click="sort('taxid')">{{ 'Tax number'|t }} <img class="inline-block ml-1" :src="sortBy == 'taxid' ? (sortDir == 'asc' ? sortUp : sortDown) : sortDefaultIcon" /></td>     
                            <td class="py-3.5 px-4 w-2/12 cursor-pointer" @click="sort('name')">{{ 'Company name'|t }}<img class="inline-block ml-1" :src="sortBy == 'name' ? (sortDir == 'asc' ? sortUp : sortDown) : sortDefaultIcon" /></td>
                            <td class="py-3.5 px-4 w-2/12 cursor-pointer" @click="sort('address')">{{ 'Company address'|t }}<img class="inline-block ml-1" :src="sortBy == 'address' ? (sortDir == 'asc' ? sortUp : sortDown) : sortDefaultIcon" /></td>
                            <td class="py-3.5 px-4 w-2/12 cursor-pointer" @click="sort('provider')">{{ 'Network'|t }}<img class="inline-block ml-1" :src="sortBy == 'provider' ? (sortDir == 'asc' ? sortUp : sortDown) : sortDefaultIcon" /></td>
                            <td class="py-3.5 px-4 w-2/12 cursor-pointer" @click="sort('defaultlocation')">IBAN<img class="inline-block ml-1" :src="sortBy == 'defaultlocation' ? (sortDir == 'asc' ? sortUp : sortDown) : sortDefaultIcon" /></td>
                            <td class="py-3.5 px-4 w-2/12 cursor-pointer text-right" @click="sort('isedirecipient')">{{ 'Accepts'|t }}<img class="inline-block ml-1" :src="sortBy == 'isedirecipient' ? (sortDir == 'asc' ? sortUp : sortDown) : sortDefaultIcon" /></td>
                        </tr>    
                    </thead>
                    <tbody class="divide-y divide-blue-100">
                        <tr v-for="row in data" class="align-top">
                            <td class="p-4"> ${ row.taxid }</td>
                            <td class="p-4"> ${ row.name }</td>
                            <td class="p-4"> ${ row.address }</td>
                            <td class="p-4"> ${ row.provider }</td>
                            <td class="p-4"> ${ row.defaultlocation }</td>
                            <td class="p-4 flex items-center gap-2 justify-end pr-16">
                                <template v-if="row.isedirecipient == 1"><i class="icon-check-circle text-green"></i>{{ 'Yes'|t }}</template>
                                <template v-else><i class="icon-cancel-circle text-orange" v-else></i>{{ 'No'|t }}</template>
                            </td>
                        </tr>
                        <tr v-if="data.length == 0">
                            <td class="p-4" colspan="6">
                                <div class="max-w-md mx-auto text-center py-16">    
                                    <i class="block icon-search text-blue text-4xl mb-6"></i>
                                    <template v-if="q && loading">
                                        <div class="block text-[22px] font-bold text-dark-700 mb-4">{{ 'No hits'|t }}!</div>
                                        <p class="text-lg">{{ 'There are no results for the entered search string. Try another.'|t }}</p>
                                    </template>
                                    <template v-else>
                                        <div class="block text-[22px] font-bold text-dark-700 mb-4">{{ 'Enter a search string'|t }}!</div>
                                        <p class="text-lg">{{ 'To display the results in the table, enter the desired search string in the search engine above.'|t }}</p>
                                    </template>
                                <div>
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </div>

            <div class="flex items-center md:justify-between px-4 py-6 flex-col md:flex-row gap-3">
                <div class="inline-flex items-center gap-4 text-base">
                    {{ 'Show'|t }}
                    <ul class="flex items-center space-x-2 text-sm">
                        <li :class="perPage == 10 ? 'bg-blue text-white' : 'bg-blue-100 text-dark-500'" class="px-4 py-2 cursor-pointer rounded-full hover:bg-blue hover:text-white" @click="setPerPage(10)">10</li>
                        <li :class="perPage == 25 ? 'bg-blue text-white' : 'bg-blue-100 text-dark-500'" class="px-4 py-2 cursor-pointer rounded-full hover:bg-blue hover:text-white" @click="setPerPage(25)">25</li>
                        <li :class="perPage == 50 ? 'bg-blue text-white' : 'bg-blue-100 text-dark-500'" class="px-4 py-2 cursor-pointer rounded-full hover:bg-blue hover:text-white" @click="setPerPage(50)">50</li>
                        <li :class="perPage == 100 ? 'bg-blue text-white' : 'bg-blue-100 text-dark-500'" class="px-4 py-2 cursor-pointer rounded-full hover:bg-blue hover:text-white" @click="setPerPage(100)">100</li>
                    </ul>
                    {{ 'records'|t }}.
                </div>

                <ul class="inline-flex items-center justify-center text-base">
                    <li><button class="mx-1 w-8 h-8 flex items-center justify-center rounded-full bg-blue-100 text-dark-500 hover:bg-blue hover:text-white" type="button"@click="onClickPreviousPage()":disabled="isInFirstPage"><i class="icon-arrow-left"></i> </button></li>
                    <li v-for="page in pages" :key="page.name">
                        <button class="mx-1 w-6 h-6 rounded-full bg-blue-100 text-dark-500 hover:bg-blue hover:text-white" type="button" @click="onClickPage(page.name)" :disabled="page.isDisabled" :class="{'text-white bg-blue': page.currentPage }">${ page.name }</button>
                    </li>
                    <li><button class="mx-1 w-8 h-8 flex items-center justify-center rounded-full bg-blue-100 text-dark-500 hover:bg-blue hover:text-white" type="button" @click="onClickNextPage()" :disabled="isInLastPage"><i class="icon-arrow-right"></i> </button></li>
                </ul>

            </div>
        </div>  
    </div>  

    <div class="container px-4 mx-auto mt-16 lg:mt-28">

    	{% include '/_includes/product_body' %}

    </div>


    <script>
    Vue.createApp({
        delimiters: ['${', '}'],
        data() {
            return {
                q: '',
                response: [],
                sortDir:"asc",
                sortBy:"taxid",
                perPage: 10,
                currentPage: 1,
                maxVisibleButtons:3,
                sortDefaultIcon: '{{ alias('@web/assets/images/svg/sort-default.svg')}}',
                sortDown: '{{ alias('@web/assets/images/svg/sort-down.svg')}}',
                sortUp: '{{ alias('@web/assets/images/svg/sort-up.svg')}}',
                responseMsg:'',
                loading:false,
            }
        },
        computed: {
            totalPages() {
                return Math.ceil(this.response.length / this.perPage)
            },
            data() {
                return this.response
                    .slice((this.currentPage - 1) * this.perPage, this.currentPage * this.perPage)
                    .sort((a, b) => {
                        if (this.sortDir === 'asc') {
                            return a[this.sortBy] > b[this.sortBy] ? 1 : -1
                        } else {
                            return a[this.sortBy] < b[this.sortBy] ? 1 : -1
                        }
                    });
            },
            startPage() {
               if (this.currentPage === 1) {
                    return 1;
                }

                // When on the last page
                if (this.currentPage === this.totalPages) {
                  //  return this.totalPages - this.maxVisibleButtons;
                }

                // When inbetween
                return this.currentPage - 1;
            },
            pages() {
                const range = [];
                for ( let i = this.startPage; i <= Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages); i++) {
                    range.push({
                        name: i,
                        isDisabled: i === this.currentPage,
                        currentPage: this.currentPage === i
                    });
                }
                return range;
            },
            isInFirstPage() {
                return this.currentPage === 1;
            },
            isInLastPage() {
                return this.currentPage === this.totalPages;
            },
        },
        methods: {
            sort(sortBy) {
                if (this.sortBy === sortBy) {
                    this.sortDir = this.sortDir === 'asc' ? 'desc' : 'asc';
                } else {
                    this.sortBy = sortBy;
                    this.sortDir = 'asc';
                }
            },
            search() {
                this.loading = true;
                this.response = [];

                if(this.q.length < 3) {
                  this.responseMsg = 'Vsaj 2 znaka morata biti definirana!';
                  return;
                }

                this.responseMsg = '';
                var self = this;
                fetch('https://bizbox.zzi.si/bizBoxIskalnik?filter='.concat(this.q))
                    .then(response => response.json())
                    .then(function(data) {
                        self.response = data.result.companies;
                    });
            },
            pagechanged(page) {
                this.currentPage = page;
            },
            onClickPreviousPage() {
                this.pagechanged(  this.currentPage - 1 );
            },
            onClickPage(page) {
                this.pagechanged( page );
            },
            onClickNextPage() {
                this.pagechanged( this.currentPage + 1 );
            },
            setPerPage(perPage) {
                this.perPage = perPage;
                this.currentPage = 1;
            }
        },
    }).mount('#app')
    </script>
{% endblock %}
