{#
# eRačuni template
# -------------------
-#}

{% set bodyClass = 'bg-page-hexes bg-contain bg-no-repeat' %}

{% extends '_layouts/site' %} {% block main %}
	{% include '/_snippet/breadcrumb' %}
	<div class="container mx-auto px-4 lg:mt-20 my-12 lg:mb-40">
		<h2 class="text-4xl md:text-5xl font-bold mb-24 text-center">
			{{ entry.title }}
		</h2>

		<div class="border border-b-0 rounded border-blue-100 overflow-hidden bg-white">
			{% for row in entry.faqContent.all() %}
				<div class="faq-item">
					{% for block in row.groupQuestion.all() %}
						{% if block.heading %}
							<div class="faq-title flex items-center border-b border-blue-100 p-4 cursor-pointer">
								<h4 class="text-2xl lg:text-3xl font-bold">
									{{ block.heading }}
								</h4>
								<i class="icon-chevron-down ml-auto text-base text-dark-500"></i>
							</div>
						{% endif %}
						<div class="faq-content hidden">
							{% for block in block.faqContent.all() %}
								{% if block.subheading %}
									<div class="text-xl border-b border-blue-100 px-4 py-3 font-bold">
										{{ block.subheading }}
									</div>
								{% endif %}

								{% if block.question %}
									<ul>
										{% for block in block.question %}
											<li>
												<span class="text-lg lg:text-xl faq-question flex items-baseline border-b border-blue-100 px-4 py-3 cursor-pointer">{{ block.question }}<i class="icon-chevron-down ml-auto text-base text-dark-500"></i></span>
												<span class="prose-item prose-base faq-answer hidden border-b border-blue-100 bg-blue-50 p-4 text-sm">{{ block.answer }}</span>
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
				<!-- faq-item -->
			{% endfor %}
		</div>

		{% include '/_modules/contacts' %}

		{% include '/_modules/supportCenterLinks' %}
	</div>
{% endblock %}
