{#
# Front page template
# -------------------
-#}
{% set bodyClass = 'bg-page-hexes-v2 bg-[length:678px_868px] bg-no-repeat bg-right' %}

{% extends '_layouts/site' %} {% block main %}

    {% include '_modules/mainBanner_static' %}


	{% if craft.app.language == 'sl-SI' %} 
		<div class="animation slideBottomToTop">
			{% include '_modules/webLinks' %}
		</div>
	{% endif %}

	{% include '_modules/counter' %}

	{% if craft.app.language == 'sl-SI' %} 
		<div class="animation slideBottomToTop">
		{% include '_modules/highlightNewsSlider' %}
		</div>
	{% endif %}

	<div class="container mx-auto animation slideBottomToTop">
		<h2 class="mx-auto mb-12 md:mb-28 lg:w-2/3 text-center text-4xl md:text-5xl font-bold leading-tight">
			{{ entry.heading }}
		</h2>

		{% include '/_includes/frontpage_body' %}
	</div>

	{% if craft.app.language == 'sl-SI' %} 
		<div class="animation slideBottomToTop">
			{% include '_modules/bannerLink' %}
		</div>
	{% endif %}

	<div class="container mx-auto px-4 animation slideBottomToTop hidden">
		<div class="flex md:flex-row md:gap-28 flex-col">
			<div class="w-full md:w-8/12">
				{% include '_modules/lastNews' %}
			</div>
			<div class="w-full md:w-4/12">
				<h2 class="text-3xl md:text-4xl font-bold leading-tight mb-8">
					{{ 'Support'|t }}
				</h2>
				{% include '_modules/support' %}
			</div>
		</div>
	</div>
{% endblock %}
