{#
# eRačuni template
# -------------------
-#}
{% extends '_layouts/site' %} {% block main %}
	{% include '/_snippet/breadcrumb' %}
	<div class="container mx-auto px-4 lg:mt-20">
		<div class="flex items-center md:flex-row md:space-x-12 relative flex-col my-12 lg:mb-40">
			<div class="w-full lg:w-1/2 lg:pr-28 mb-8 lg:mb-0">
				<h2 class="text-4xl md:text-5xl font-bold mb-6">
					{{ entry.title }}
				</h2>
				{% if entry.reachText %}
					<div class="mb-8 redactor">
						{{ entry.reachText }}
					</div>
				{% endif %}
				<a href="#form" class="btn btn-primary mr-3">	{{'Fill out the form'|t}} <i class="icon-arrow-right ml-2"></i></a>
			</div>
			{% if entry.introImage.one() %}
				<div class="w-full lg:w-1/2">
					<img src="{{ entry.introImage.one().getUrl }}" title="{{ entry.introImage.one().title }}" />
				</div>
			{% endif %}
		</div>
		<div class="lg:w-2/3" id="form">
			{% include '/_form/inquiry' %}
		</div>
	</div>
{% endblock %}
