{% set title = 'Partnership solutions'|t %}

{% extends '_layouts/site' %}

{% set q = craft.app.request.getParam('q') %}

{% set chart = craft.app.request.getParam('chart') %}

{% set query = craft.entries.section('partnerSolutions') %}

{% if q %}
	{% set query = query.search(q) %}
{% endif %}

{% if chart %}
	{% set query = query.search('title::' ~ chart ~ '*') %}
{% endif %}

{% set pageEntries = query.all() %}

{% set alpabet = ['A', 'B', 'C', 'Č', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'Š', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'Ž'] %}

{% block main %}
	{% include '/_snippet/breadcrumb' %}

	<div class="container mx-auto px-4 lg:mt-20 mt-8 mb-12 lg:mb-40">
		<h1 class="text-4xl md:text-5xl font-bold mb-10 text-center">
			{{ title }}
		</h1>

		<div class="lg:w-8/12 mx-auto">
			<div class="text-dark-600 mb-20 text-center">
				<p>
					{{ 'In the list of partner solutions, check which bizBox services you can already use in your business information system and where to order the services.'|t }}
				</p>
			</div>

			<form method="get" action="">
				<div class="flex flex-row items-center border border-blue-100 p-1 bg-white rounded-[36px] my-4">
					<i class="icon-search text-blue pl-4 pr-2"></i>
					<input type="text" class="border-0 rounded-[36px] placeholder:text-dark-700 focus:shadow-none" placeholder="Iskanje" name="q" value="{{ q }}" />
					<button type="submit" class="btn btn-primary !px-12 !py-4"><span class="hidden sm:block">{{ 'Search'|t }}</span> <i class="icon-arrow-right !pl-0 sm:!pl-3"></i></button>
				</div>
			</form>
			<div class="bg-blue-50 p-2 rounded divide-y divide-blue-100 mb-20">
				<div class="flex gap-1 flex-wrap">
					{% for letter in alpabet %}
						<a class="w-6 h-6 hover:bg-blue rounded-full inline-flex items-center justify-center text-dark-500 hover:text-white {{ chart == letter ? 'bg-blue text-white' : '' }}" href="{{ craft.app.request.getFullPath }}?chart={{ letter }}">{{ letter }}</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-12">
			{% for item in pageEntries %}
				{% set image = item.introImage.one() ?? null %}
				<article class="bg-white shadow rounded-2xl p-8 flex flex-col text-base">
					<h2 class="text-2xl font-bold">
						<a target="_blank" href="{{ item.placeholder }}">{{ item.title }}</a>
					</h2>
					<h3 class="!text-dark-500">
						{{ item.plainText }}
					</h3>
					{% if image %}
						<a target="_blank" class="block" href="{{ item.placeholder }}"><img class="mx-auto object-contain w-[235px] h-[157px]" src="{{ image.getUrl() }}" alt="{{ image.title }}" /></a>
					{% endif %}
					<div class="mb-4 border-t pt-4 border-blue-100">
						{{ 'Represents and sells'|t }} {{ item.represents.label }}
					</div>
					<div>
						{{ 'Integrations'|t }}
					</div>
					<ul class="space-y-1 font-bold mt-1">
						{% for i, item in item.integrations %}
							<li>{{ item.label|t }}</li>
						{% endfor %}
					</ul>
				</article>
			{% endfor %}

			{% if (pageEntries|length) == 0 %}
				<div class="text-center text-gray-600 col-span-3 text-3xl text-gray-800">
					{{ 'No results found.'|t }}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
