{#
# eRačuni template
# -------------------
-#}

{% set bodyClass = 'bg-page-hexes-v2 bg-[length:678px_868px] bg-no-repeat bg-right-top' %}

{% extends '_layouts/site' %} {% block main %}
	{% include '/_snippet/breadcrumb' %}
	<section class="page-banner">
		<div class="container mx-auto px-4 lg:mt-20 my-12 lg:mb-40">
			<div class="flex items-center md:flex-row md:space-x-12 relative flex-col">
				<div class="w-full lg:w-1/2 lg:pr-28 mb-8 lg:mb-0">
					{% if entry.subtitle %}
						<div class="text-dark-500 text-sm tracking-wide uppercase mb-6">
							{{ entry.subtitle }}
						</div>
					{% endif %}

					<h2 class="text-4xl md:text-5xl font-bold mb-6">
						{{ entry.heading }}
					</h2>
					{% if entry.reachText %}
						<div class="mb-8 redactor">
							{{ entry.reachText }}
						</div>
					{% endif %}

					{% if entry.urlLink %}
						<a href="{{ entry.urlLink }}" class="btn btn-primary mr-3">{{ entry.placeholder }} <i class="icon-arrow-right ml-2"></i></a>
					{% endif %}
				</div>

				{% if entry.introImage.one() %}
					<div class="w-full lg:w-1/2">
						<img src="{{ entry.introImage.one().getUrl }}" title="{{ entry.introImage.one().title }}" />
					</div>
				{% endif %}
			</div>
		</div>
	</section>
	{% include '/_includes/product_body' %}

    {% if entry.showVideo %}
	    {% include '/_modules/digitize_your_business' %}
    {% endif %}

    {% if entry.showSuccessStories %}
        <section class="mb-16 md:mb-24 lg:mb-36">
            {% include '/_modules/successStories' with entry %}
        </section>
    {% endif %}

	{% include '/_modules/extraInfo' %}
{% endblock %}
