{#
# eRačuni template
# -------------------
-#}

{% extends '_layouts/site' %} {% block main %}
	{% include '/_snippet/breadcrumb' %}

	<div class="container mx-auto px-4 lg:mt-20 my-12 lg:mb-40">
		<div class="flex items-center md:flex-row md:space-x-12 relative flex-col">
			<div class="w-full lg:w-1/2 lg:pr-24 mb-8 lg:mb-0">
				{% if entry.subtitle %}
					<div class="text-dark-500 text-sm tracking-wide uppercase mb-6">
						{{ entry.subtitle }}
					</div>
				{% endif %}

				<h2 class="text-4xl md:text-5xl font-bold mb-6">
					{{ entry.heading }}
				</h2>
				{% if entry.reachText %}
					<div class="mb-8 redactor">
						{{ entry.reachText }}
					</div>
				{% endif %}

				{% if entry.urlLink %}
					<a href="{{ entry.urlLink }}" class="btn btn-primary mr-3">{{ entry.placeholder }} <i class="icon-arrow-right ml-2"></i></a>
				{% endif %}
			</div>

			{% if entry.introImage.one() %}
				<div class="w-full lg:w-1/2">
					<img src="{{ entry.introImage.one().getUrl }}" title="{{ entry.introImage.one().title }}" />
				</div>
			{% endif %}
		</div>

		<div class="mx-auto w-full lg:w-8/12 my-20 lg:my-28">
			{% include '/_includes/article_body' %}

			{% if entry.urlLink %}
				<a href="{{ entry.urlLink }}" class="btn btn-primary mr-3 mt-12">{{ entry.placeholder }} <i class="icon-arrow-right ml-2"></i></a>
			{% endif %}
		</div>
		{% include '/_modules/contacts' %}

		{% include '/_modules/supportCenterLinks' %}
	</div>
{% endblock %}
