{#
# support center template
# -------------------
-#}

{% set title = 'Customer support'|t %}

{% set q = craft.app.request.getParam('q') %}

{% set bodyClass = 'bg-page-hexes bg-contain bg-no-repeat' %}

{% extends '_layouts/site' %} {% block main %}
	{% include '/_snippet/breadcrumb' %}
	<div class="container mx-auto px-4 lg:mt-20 my-12 lg:mb-40">
		<h2 class="text-4xl md:text-5xl font-bold mb-12 lg:mb-20 text-center">
			{{ title }}
		</h2>

		<p>
			{{ 'In the support department, we provide technical support to users, maintain and update our applications, and train users for an optimal user experience. We are at your disposal every working day from 8 am to 4 pm, at the contacts listed below.'|t }}
		</p>

		{% include '/_modules/contacts' %}

		<h4 class="text-3xl font-bold mb-6">
			{{ 'Remote assistance'|t }}
		</h4>

		<p>
			{{ 'With TeamViewervam, we also provide remote assistance, as it connects to your computer and fix the problem together. Installing the program is quick and easy, you only need to arrange access.'|t }}<br />
			{{ 'Click on the Remote Assistance link to download Teamviewer and give us the link.'|t }}
		</p>
        <p> {{ 'The use of remote assistance is linked to the processing of personal data. More information is available here.'|t|raw}}</p>

		<a href="https://get.teamviewer.com/q3ghv8s" target="_blank" class="inline-flex items-center mb-2 border-blue-100 border rounded p-3 mt-6">
			<img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-remote-assistance.svg') }}" width="35" title="" alt="" />{{ 'Remote assistance'|t }} <i class="icon-arrow-right text-blue ml-14"></i>
		</a>

		<form method="get" action="{{ url('search/results') }}">
			<div class="flex flex-row items-center border border-blue-100 p-1 bg-white rounded-[36px] mx-auto max-w-3xl my-12 lg:my-20">
				<i class="icon-search text-blue pl-4 pr-2"></i>
				<input type="text" class="border-0 rounded-[36px] placeholder:text-dark-700 focus:shadow-none" placeholder="{{ 'How we can help you?'|t }}" name="q" value="{{ q }}" />
				<button type="submit" class="btn btn-primary !px-12 !py-4"><span class="hidden sm:block">{{ 'Search'|t }}</span> <i class="icon-arrow-right !pl-0 sm:!pl-3"></i></button>
			</div>
		</form>

			{% if craft.app.language == 'sl-SI' %} 
				{% include '/_modules/supportCenterLinks' %}
			{% endif %}
	</div>


	{% if craft.app.language == 'sl-SI' %} 
		{% include '_modules/lastWebinar' %}

		{% include '_modules/lastDocs' %}
	{% endif %}

	<!--                    
	<div class="container px-4 mx-auto">
		{% include '/_modules/socialLinks' %}
	</div>
                        -->
{% endblock %}
