{% extends '_layouts/site' %}

{% set logo = entry.brandImage.one() ?? null %}

{% set category = entry.categoryStory.one() ?? null %}

{% block main %}
	<section class="bg-split-white-black pt-0.5 mb-6 lg:mb-12">
		{% include '/_snippet/breadcrumb' %}
		<div class="mx-auto px-4 text-center container">
			{% if logo %}
				<img class="max-w-[200px] mx-auto mt-12 mb-8" src="{{ logo.getUrl() }}" alt="{{ logo.title }}" />
			{% endif %}

			<h1 class="text-4xl md:text-5xl font-bold mb-6 !text-white max-w-3xl mx-auto">
				{{ entry.title }}
			</h1>
			<div class="flex text-dark-900 justify-center gap-6 text-sm mb-12">
				{% if entry.placeholder %}
					<div>
						{{ 'Company'|t }}: {{ entry.placeholder }}
					</div>
				{% endif %}

				{% if category %}
					<div>
						{{ 'Product'|t }}: {{ category }}
					</div>
				{% endif %}
			</div>

			{% set image = entry.introImage.one() %}
			{% if image %}
				<img class="cover w-full rounded-2xl aspect-video" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
			{% endif %}
		</div>
	</section>

	<div class="container mx-auto px-4 mb-12 lg:mb-24">
		<div class="flex py-8">
			<div class="hidden lg:block w-2/12">
				<div class="flex flex-col space-y-3">
					{% include ['/_snippet/share'] %}
				</div>
			</div>
			<div class="lg:w-8/12 w-full">
				{{ entry.reachText }}

				{% include '/_includes/article_body' %}
			</div>
		</div>
		<div class="border-t border-blue-100 pt-8 text-center">
			<div class="flex items-center justify-center space-x-4">
				{% include ['/_snippet/share'] %}
			</div>
		</div>
	</div>

	{% include '/_modules/digitize_your_business' %}

	<section class="bg-blue-50 max-w-[1600px] rounded-lg mx-auto py-12">
		{% include '/_modules/successStories' with entry %}
	</section>
{% endblock %}
