{% set query = craft.entries.section('news').limit(3).orderBy('postDate desc').id('not ' ~ entry.id) %}

{% set pageEntries = query.all %}

{% if pageEntries %}
	<div class="container">
		<div class="page-heading a-center my-5">
			<h3 class="heading-1 main-title d-inline-block t-uppercase color-petrol mb-0">
				{{ 'Read also'|t }}
			</h3>
		</div>

		<div class="row justify-content-center">
			{% for newsEntry in pageEntries %}
				<div class="col-lg-4 col-md-12 mb-5">
					{% include ['/_snippet/' ~ itemView ?? 'content_article'] %}
				</div>
			{% endfor %}
		</div>

		<div class="a-center">
			<a href="{{ url('novice') }}" class="btn btn-primary">Vse novice <i class="icon-arrow-right ml-2"></i></a>
		</div>
	</div>
{% endif %}
