{% extends '_layouts/site' %}

{% set fileUrl = entry.file.one().getUrl() %}
{% set image = entry.introImage.one() %}
{% set category = entry.documentsCategory.one() ?? null %}

{% block main %}
	<div class="bg-blue-50">
		<div class="container px-4 mx-auto mb-8 lg:mb-0 py-3">
			{% include '/_snippet/breadcrumb' %}
			<div class="flex flex-col md:flex-row items-center gap-6 md:gap-12 lg:gap-24 py-12 lg:py-20">
				<div class="w-full md:w-1/2">
                   {% if category %}
                        <a href="{{ category.getUrl() }} " class="text-blue text-sm tracking-wide block mt-2 sm:mt-0 mb-2 uppercase">{{ category }}</a>
                    {% endif %}
					<h1 class="text-4xl md:text-5xl font-bold mb-6">
						{{ entry.title }}
					</h1>
                    <span class="text-dark-500 text-base">{{ entry.postDate|date('d. M Y') }}</span>
					<p class="text-xl my-6">
						{{ entry.plainText }}
					</p>
					<a href="{{ fileUrl }}" class="btn btn-primary">{{ 'Download the document'|t }} <i class="icon-download ml-3"></i></a>
				</div>
				<div class="w-full md:w-1/2">
					{% if image %}
						<img class="rounded-xl cover w-full aspect-[5/3]" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="container mx-auto px-4 lg:mb-24 md:py-12">
		<div class="flex py-8 mb-12">
			<div class="hidden lg:block w-2/12">
				<div class="flex flex-col space-y-3">
					{% include ['/_snippet/share'] %}
				</div>
			</div>
			<div class="lg:w-8/12 w-full">
				<div class="prose-item mb-6">
					{{ entry.reachText }}
				</div>
				<a href="{{ fileUrl }}" class="btn btn-primary">{{ 'Download the document'|t }} <i class="icon-download ml-3"></i></a>
			</div>
		</div>
		<div class="border-t border-blue-100 pt-8 text-center">
			<div class="flex items-center justify-center space-x-4">
				{% include ['/_snippet/share'] %}
			</div>
		</div>
	</div>

	{% include ['/documents/_related'] %}

{% endblock %}
