{% set title = 'Documentation'|t %}
{% set seo = craft.seo.custom(title) %}

{% extends '_layouts/site' %}

{% set query = craft.entries.section('docs').limit(12).orderBy('postDate desc') %}

{% if category is defined %}
	{% set query = query.relatedTo(category) %}
{% endif %}

{% paginate query as pageInfo, pageEntries %}

{% block main %}
	{% include '/_snippet/breadcrumb' %}

	<div class="container mx-auto px-4 lg:mt-20 mt-8 mb-12 lg:mb-40">
		<div class="text-center">
			<h1 class="text-4xl md:text-5xl font-bold mb-12">
				{{ title }}
			</h1>

			{% include '/_snippet/categories' with {
				type: 'documents',
				all: 'All documentation'|t,
				url: docsUrl
			} %}
		</div>

		<section>
			{% for item in pageEntries %}
				{% include '/_snippet/content_horizontal_full' with {
					category: item.documentsCategory
				} %}
			{% endfor %}
		</section>

		{% include '_snippet/pagination' %}

	</div>
{% endblock %}
