/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: absolute;
    border: none;
    color: #333;
    &:after {
        position: absolute;
        font-family: 'icomoon';
        color: #373baf;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
  }
  
  .flickity-button:hover {
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: currentColor;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ececf9;
    /* vertically center */
    transform: translateY(-50%);
  }


  .flickity-prev-next-button.previous { 
    left: -50px; 
    &:after {
      content: "\e900";
    }
  }


.flickity-prev-next-button.next { 
    right: -50px; 
    &:after {
      content: "\e90d";
    }
  }

  @media (max-width: 1500px) {
    .flickity-prev-next-button.previous { 
        left: 10px; 
        &:after {
          content: "\e900";
        }
      }
  
  
    .flickity-prev-next-button.next { 
        right: 10px; 
        &:after {
          content: "\e90d";
        }
      }
  }
  

  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button .flickity-button-icon {
    display: none;
  }
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 64px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots { direction: rtl; }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: solid 2px #e6e6e6;
  }
  
  .flickity-page-dots .dot.is-selected {
    background-color: transparent;
    border: solid 2px #9ea0e0;
    &:after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 3px;
      background-color: #323194;
    }

  }


  @media (max-width: 767px) { 
    .flickity-page-dots {
      bottom: 46px;
    }
  }
