{% set blocks = entry.pageContent %}
{% if blocks %}
    {% for i, block in blocks.all() %} 
        {% set type = block.type.handle %} 
        {% include "/_includes/article_" ~ type with block %}
    {% endfor %} 
{% endif %}
