<div class="my-12">
	<img class="mb-3" src="{{ alias('@web/assets/images/svg/sm-quote.svg') }} " width="35" title="" alt="" />
	<blockquote class="">{{block.importantText}}</blockquote>

	{% if block.author %}
	<div class="text-base italic text-dark-500">{{block.author}}</div>
	{% endif%}
</div>
