<div class="my-12 rounded-lg bg-white px-6 py-6 shadow lg:px-12">
	<div class="mb-6 text-sm uppercase tracking-wide text-dark-500">{{block.subtitle}}</div>

	<div class="flex flex-col gap-6 md:flex-row md:gap-12">
		<div>
			<h3 class="mb-3 text-[22px] font-bold">{{block.headingLeft}}</h3>
			<hr class="w-10 border-t border-blue" />
			<p>{{block.descriptionLeft}}</p>
		</div>

		<div>
			<h3 class="mb-3 text-[22px] font-bold">{{block.headingRight}}</h3>
			<hr class="w-10 border-t border-blue" />
			<p>{{block.descriptionRight}}</p>
		</div>
	</div>
</div>
