{% set blocks = entry.frontpageBody %} {% if blocks %} {% for i, block in blocks.all() %} {% set type = block.type.handle %}

<div class="imageContent animation slideBottomToTop container relative mx-auto mb-16 flex flex-col items-center justify-between gap-8 px-4 md:mb-24 md:flex-row md:gap-24 lg:mb-40">
	<div class="w-full divide-y divide-blue-100 lg:w-1/2">
		<div class="mb-6">
			{% set image = block.icon.one() %}

			<div class="mb-4 flex items-center text-sm uppercase tracking-wider text-blue">
				{% if image %}
				<img class="mr-3" src="{{image.getUrl()}}" alt="{{ image.title }}" width="35" />
				{{ block.subheading }} {% endif %}
			</div>

			<h3 class="mb-6 text-3xl font-bold md:text-4xl">{{ block.heading }}</h3>
			<div class="redactor">{{ block.description }}</div>
		</div>

		{% if block.list %}
		<div class="custom-list custom-list-2">{{ block.list }}</div>
		{% endif %} {% if block.urlLink %}
		<a href="{{ block.urlLink }}" target="_blank" class="flex flex-1 items-center justify-start pt-6 pb-1">{{ block.linkTitle }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
		{% endif %}
	</div>

	{% set image = block.mainImage.one() %} {% if image %}
	<div class="w-full lg:w-1/2">
		<img class="px-9" alt="{{ image.title }}" title="{{ image.title }}" src="{{image.getUrl()}}" />
	</div>

	{% endif %}
</div>

{% endfor %} {% endif %}
