{% set blocks = entry.partnerSolution %}

 {% if blocks %} 
    {% for i, block in blocks.all() %}
        {% set image =  block.introImage.one()  %}
    <div class="solution py-20">
        <div class="container px-4 mx-auto">
            <span class="text-sm uppercase text-blue font-medium tracking-wider">{{ 'Solution'|t }}</span>
            <div class="md:flex md:justify-between md:items-center mb-4 space-y-4 md:space-y-0">
                <h2 class="text-4xl font-bold">{{ block.solutionName }}<h2>
                <a href="{{ block.urlLink }}" class="btn btn-primary">
                    {{ block.solutionName }} <i class="icon-arrow-right ml-2"></i>
                </a>
            </div>
            <div class="border-b border-blue-100 pb-8 mb-12 max-w-4xl">
                {{ block.description }}

                {% if image %}       
                    <img class="w-[396px] mt-4" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
                {% endif %}
            </div>

            <div class="grid md:grid-cols-2 gap-6 lg:grid-cols-3 border-b border-blue-100 pb-12">
                <div>
                    <h4 class="text-[22px] font-bold mb-6">{{ 'Which bizbox services does it support?'|t }}<h2>
                    <ul class="space-y-4">
                    {% for i, item in block.supportedServices %}
                        <li class="flex gap-4"><img src="{{ alias('@web/assets/images/svg/check-blue.svg') }} " width="35"/>{{ item.label|t }}</li>
                    {% endfor %} 
                    </ul>
                </div>

                <div>
                    <h4 class="text-[22px] font-bold mb-6">{{ 'Which eDocument does it receive?'|t }}<h2>
                    <ul class="space-y-4">
                    {% for i, item in block.receivedEdocuments %}
                        <li class="flex gap-4"><img src="{{ alias('@web/assets/images/svg/check-orange.svg') }} " width="35"/>{{ item.label|t }}</li>
                    {% endfor %} 
                    </ul>
                </div>

                <div>
                    <h4 class="text-[22px] font-bold mb-6">{{ 'Which eDocument am I sending?'|t }}<h2>
                    <ul class="space-y-4">
                    {% for i, item in block.sentEdocuments %}
                        <li class="flex gap-4"><img src="{{ alias('@web/assets/images/svg/check-green.svg') }} " width="35"/>{{ item.label|t }}</li>
                    {% endfor %} 
                    </ul>
                </div>
            </div>

            <div class="text-center pt-8"> 
                <a href="{{ block.urlLink }}" class="btn btn-primary">{{ block.solutionName }} <i class="icon-arrow-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>

    {% endfor %} 
{% endif %}
