<div class="container mx-auto mb-16 px-4 md:mb-24 lg:mb-36">
	<div class="mx-auto mb-12 max-w-4xl text-center">
		<h2 class="mb-6 text-3xl font-bold md:text-4xl">{{ block.heading }}</h2>
		<div class="lg.w-8/12 redactor mx-auto">{{ block.sectionDescription }}</div>
	</div>
	<div class="flex flex-col flex-wrap items-center md:flex-row">
		<div class="flex flex-1 flex-col overflow-hidden rounded-lg shadow">
			<div class="space-y-8 divide-y divide-blue-200 p-5 sm:p-[40px] sm:pb-4">
				<div>
					<h3 class="text-xl font-bold">{{'Basic package'|t}}</h3>
					<p>{{ block.basicPackageShortDescription }}</p>
				</div>
				<div class="pt-8">
					<div class="mb-2 text-3xl font-bold md:text-4xl">{{'Free'|t}}</div>
					<p class="mb-4">{{'Basic features are always free'|t}}.</p>
				</div>
				<div class="custom-list pt-8">{{ block.basicPackageLongDescription }}</div>
			</div>

			<a href="https://bizbox.zzi.si/bizBox/viewspublic/user_profile/registration.xhtml" target="_blank" class="mt-auto flex items-center justify-center bg-blue-100 p-5">{{'Start free'|t}} <i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
		</div>

		<div class="my-2.5 flex-1 overflow-hidden rounded-lg bg-dark-600 text-white shadow">
			<div class="space-y-8 divide-y divide-dark-500 p-5 sm:p-[40px] sm:pb-4">
				<div>
					<h3 class="text-xl font-bold !text-white">{{'Advanced package'|t}}</h3>
					<p>{{ block.advancedPackageShortDescription }}</p>
				</div>
				<div class="pt-8">
					<div class="mb-2 text-3xl font-bold md:text-4xl">{{ block.advancedPackagePriceTag }}</div>
				</div>
				<div class="custom-list pt-8">{{ block.advancedPackageLongDescription }}</div>
			</div>

			<a href="{{ inquiryUrl }}" class="flex items-center justify-center bg-dark-800 p-5">{{'Demand'|t}} <i class="icon-arrow-right ml-2.5 text-base text-white"></i></a>
		</div>
	</div>

	<div class="mt-12 hidden text-center">
		<strong>{{'Not sure which package is right for you, or looking for a custom solution?'|t}}</strong>
		<a href="{{ inquiryUrl }}" class="flex items-center justify-center py-4">{{'Send an inquiry'|t}} <i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
	</div>
</div>
