<div class="mb-16 bg-blue-50 py-20 md:mb-24 lg:mb-40">
	<div class="container mx-auto px-4">
		<div class="text-center">
			{% if block.subheading %}
			<div class="mb-4 text-sm uppercase tracking-wider text-dark-500">{{ block.subheading }}</div>
			{% endif %}
			<h2 class="mb-6 text-3xl font-bold md:text-4xl">{{ block.heading }}</h2>
			<p class="mx-auto w-8/12">{{ block.description }}</p>
		</div>
		<div class="custom-list-v2">{{ block.list }}</div>
		<div class="flex flex-wrap justify-center">
			{% if block.linkUrlPrimary %}
			<a href="{{block.linkUrlPrimary}}" class="btn btn-primary mx-3">{{ block.placeholderPrimary }}<i class="icon-arrow-right ml-2"></i></a>
			{% endif %} {% if block.linkUrlSecondary %}
			<a href="{{block.linkUrlSecondary}}" class="mx-3 inline-flex items-center justify-start py-2">{{block.placeholderSecondary}} <i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
			{% endif %}
		</div>
	</div>
</div>
