<div class="container mx-auto mb-16 px-4 text-center md:mb-24 lg:mb-40">
	<h2 class="mb-6 text-3xl font-bold md:text-4xl">{{block.heading}}</h2>
	<div class="mx-auto mb-8 lg:w-8/12">{{block.description}}</div>

	{% if block.imageList.all() %}
	<ul class="flex flex-wrap justify-center py-4">
		{% for i, image in block.imageList.all() %}
		<li class="flex w-1/2 flex-col items-center py-3 md:w-1/3 lg:w-1/6">
			<img class="mb-1" src="{{image.getUrl()}}" width="56" />
			{{image.title}}
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	<div class="mx-auto mb-8 mt-8 lg:w-8/12">{{block.introText}}</div>
</div>
