<div class="mb-16 md:mb-24 lg:mb-36">
	<div class="container mx-auto px-4">
		<div class="mb-14 text-center">
			<h2 class="text-3xl font-bold md:text-4xl">{{ block.heading }}</h2>
		</div>

		{% set image = block.scheme.one() %} {% if image %}
		<img class="mb-12 w-full" src="{{image.getUrl()}}" alt="{{ image.title }}" />
		{% endif %}

		<div class="custom-list custom-list-3">{{ block.list }}</div>
	</div>
</div>
