<div class="imageContent container relative mx-auto mb-16 flex flex-col items-center justify-between gap-8 px-4 md:mb-24 md:flex-row md:gap-24 lg:mb-40">
	<div class="w-full lg:w-1/2">
		<div class="mb-3">
			{% if block.subheading %}
			<div class="mb-4 flex items-center text-sm uppercase tracking-wider text-dark-500">{{ block.subheading }}</div>
			{% endif %}

			<h3 class="mb-6 text-3xl font-bold md:text-4xl">{{ block.heading }}</h3>
			<div class="redactor">{{ block.description }}</div>
		</div>
		{% if block.list %}
		<div class="custom-list custom-list-2 border-b border-blue-100 border-t mt-6 pt-4">{{ block.list }}</div>
		{% endif %} {% if block.UrlLink or block.urlLink2 %}
		<div class="flex flex-wrap border-blue-100 border-t -mt-[1px]">
			{% if block.UrlLink %}
			<a href="{{ block.UrlLink }}" class="mr-6 inline-flex items-center justify-start whitespace-nowrap pt-6 pb-1">{{ block.linkTitle }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
			{% endif %} {% if block.urlLink2 %}
			<a href="{{ block.urlLink2 }}" class="mr-6 inline-flex items-center justify-start whitespace-nowrap pt-6 pb-1">{{ block.linkTitle2 }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
			{% endif %}
		</div>
		{% endif %}
	</div>

	{% set image = block.mainImage.one() %} {% if image %}
	<div class="w-full lg:w-1/2">
		<img class="px-9" alt="{{ image.title }}" title="{{ image.title }}" src="{{image.getUrl()}}" />
	</div>

	{% endif %}
</div>
