<div class="container mx-auto mb-16 px-4 md:mb-24 lg:mb-40">
	<div class="flex flex-col md:flex-row md:gap-24">
		<div class="w-full md:w-1/2">
			<div class="mb-6">
				<h3 class="mb-6 text-3xl font-bold md:text-4xl">{{ block.heading1 }}</h3>
			</div>
			{% set image = block.mainImage1.one() %} {% if image %}
			<div class="w-full">
				<img class="px-9" alt="{{ image.title }}" title="{{ image.title }}" src="{{image.getUrl()}}" />
			</div>

			{% endif %}

			<div class="divide-y divide-blue-100">
				{% if block.list1 %}
				<div class="custom-list custom-list-1">{{ block.list1 }}</div>
				{% endif %} {% if block.urlLink1 %}
				<a href="{{ block.urlLink1 }}" class="flex flex-1 items-center justify-start pt-6 pb-1">{{ block.linkTitle1 }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
				{% endif %}
			</div>
		</div>

		<div class="mt-8 w-full md:mt-0 md:w-1/2">
			<div class="mb-6">
				<h3 class="mb-6 text-3xl font-bold md:text-4xl">{{ block.heading2 }}</h3>
			</div>
			{% set image = block.mainImage2.one() %} {% if image %}
			<div class="w-full">
				<img class="px-9" alt="{{ image.title }}" title="{{ image.title }}" src="{{image.getUrl()}}" />
			</div>

			{% endif %}

			<div class="divide-y divide-blue-100">
				{% if block.list2 %}
				<div class="custom-list custom-list-1">{{ block.list2 }}</div>
				{% endif %} {% if block.urlLink2 %}
				<a href="{{ block.urlLink2 }}" class="flex flex-1 items-center justify-start pt-6 pb-1">{{ block.linkTitle2 }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
