{% if submission.message.product == "fieldEbills" %}
	<tr>
		<td colspan="2" style="padding: 24px 16px; border-bottom: solid 1px #e7e8ee">
			<p style="margin: 0 0 6px; font-weight: bold">
				Priprava eRačunov - aplikacija
			</p>

			{% if submission.message.eBillsReceiving is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Želim prejemati eDokumente.
				</p>
			{% endif %}

			{% if submission.message.eBillsSending is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Želim pošiljati eDokumente.
				</p>
			{% endif %}

			{% if submission.message.eBillsQtyBillsPerMonth is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Povprečno število poslanih računov mesečno <span style="color: #00b8f1">
						{{ submission.message.eBillsQtyBillsPerMonth }}
					</span>
				</p>
			{% endif %}

			{% if submission.message.eBillsEdiStandard is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Kateri EDI standard uporabljam (eSLOG 2.0, EDIFACT, …): 
					<span style="color: #00b8f1">

						{{ submission.message.eBillsEdiStandard }}

					</span>
				</p>
			{% endif %}


			{% if submission.message.eBillsOwnAccountingSystem is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Imam lastni inf. sistem za računovodstvo / ERP:<span style="color: #00b8f1">  {{ submission.message.eBillsOwnAccountingSystemType }}</span>
					{% if submission.message.eBillsOwnAccountingSystemTypeOther is defined %}
						Drugo:
						{{ submission.message.eBillsOwnAccountingSystemTypeOther }}
					{% endif %}
				</p>
			{% endif %}


			{% if submission.message.eBillsExternalAccountingProvider is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Imam zunanjega izvajalca računovodskih storitev.
		
						{% if submission.message.eBillsExternalAccountingProviderName is defined %}
						Ime izvajalca:
							{{ submission.message.eBillsExternalAccountingProviderName }}
						{% endif %}
				</p>

			{% endif %}


            {% if submission.message.eBillsNeedIntegration is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
                    Želim integracijo z obstoječim poslovno informacijskim sistemom.
                </p>
            {% endif %}

            {% if submission.message.eBillsNeedOnlineEinvoice is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
                    Potrebujem spletno izdajo eRačunov (spletna rešitev za priprpavo eRačunov).
                   
                </p>
            {% endif %}

            {% if submission.message.eBillsNeedStorage is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
                    Potrebujem formlano dolgoročno hrambo izmenjanih eRačunov (eHramba.si).
                </p>
            {% endif %}

            {% if submission.message.eBillsNeedPrepaidPackage is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
                    Želim predplačniški paket brez mesečne naročnine. Izberite EDI.web paket za predračun:
                    <span style="color: #00b8f1">

                        {{ submission.message.eBillSubscriptionPackage }}

                    </span>
                </p>
            {% endif %}

            {% if submission.message.eBillsNeedMonthlySubscription is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
                    Želim mesečno naročnino in več funkcij. Kontaktirala vas bo prodaja.
                </p>
            {% endif %}

            {% if submission.message.eBillsNote is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
                    Dodatne opombe
                    <span style="color: #00b8f1">

                        {{ submission.message.eBillsNote }}

                    </span>
                </p>
            {% endif %}
		</td>
	</tr>
{% endif %}

