{% if submission.message.product == "fieldEcompensation" %}
	<tr>
		<td colspan="2" style="padding: 24px 16px; border-bottom: solid 1px #e7e8ee">
			<p style="margin: 0 0 6px; font-weight: bold">
				Verižne kompenzacije
			</p>

		    {% if submission.message.eCompensationInitiator is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Želim nastopati v procesu kompenzacij kot pobudnik/inicicator kompenzacij.
			</p>
            	{% endif %}

		    {% if submission.message.eCompensationNr is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Koliko predlogov za kompenzacije izvajate mesečno? <span style="color: #00b8f1">
		
						{{ submission.message.eCompensationNr }}
				
				</span>
			</p>
            {% endif %}


            {% if submission.message.eCompensationPartnersNr is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Vpišite število partnerjem s katerimi bi izvajali digitalni operativni proces kompenzacije <span style="color: #00b8f1">
					
						{{ submission.message.eCompensationPartnersNr }}
			
				</span>
			</p>
            {% endif %}

		    {% if submission.message.eCompensationParticipation is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				V procesu kompenzacij bomo nastopali samo kot udeležnece, z možnostjo potrjevanja oz. zavračanja kompenzacij.
			</p>
            {% endif %}

            {% if submission.message.eCompensationProgram is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Uporabljamo program za kompenzacije.
			</p>
		    {% endif %}

            {% if submission.message.eCompensationBizboxIntegration is defined %}			
            <p style="margin: 0; font-size: 14px; color: #6e798b">
				Želimo integracijo bizBox kompenzacij za digitalni operativni proces izvajanja kompenzacij s partnerji.
			</p>
	        {% endif %}

			{% if submission.message.eCompensationNote is defined %}
            <p style="margin: 0; font-size: 14px; color: #6e798b">
				Dodatne opombe <span style="color: #00b8f1">
						{{ submission.message.eCompensationNote }}
				</span>
			</p>
            {% endif %}
		</td>
	</tr>
{% endif %}
