{% if submission.message.product == "fieldEdi" %}
	<tr>
		<td colspan="2" style="padding: 24px 16px; border-bottom: solid 1px #e7e8ee">
			<p style="margin: 0 0 6px; font-weight: bold">
				EDI eIzmenjava
			</p>

            {% if submission.message.eExchangeReceiving is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
                    Želim prejemati eDokumente: <span style="color: #00b8f1"> {{ submission.message.eExchangeReceivingDocuments }}	</span>
                    {% if submission.message.eExchangeReceivingDocumentsOther is defined %}
                      	Drugo: {{ submission.message.eExchangeReceivingDocumentsOther }}
                    {% endif %}
                </p>     
            {% endif %}

	        {% if submission.message.eExchangeSending is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Želim pošiljati eDokumente: <span style="color: #00b8f1"> {{ submission.message.eExchangeSendingDocuments }} </span>

				{% if submission.message.eExchangeSendingDocumentsOther is defined %}
					Drugo: {{ submission.message.eExchangeSendingDocumentsOther }}
				{% endif %}
			</p>
            {% endif %}

            {% if submission.message.eExchangeQtyBillsPerMonth is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Koliko EDI eDokumentov pošljem mesečno<span style="color: #00b8f1">

					{{ submission.message.eExchangeQtyBillsPerMonth }}
				
				</span>
			</p>
            {% endif %}


	        {% if submission.message.eExchangeEdiStandard is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Kateri EDI standard uporabljam (eSLOG 2.0, EDIFACT, …) <span style="color: #00b8f1">
				
						{{ submission.message.eExchangeEdiStandard }}
	
				</span>
			</p>
            {% endif %}


	        {% if submission.message.eExchangePartnersEdiStandard is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Kateri EDI standard uporablja moj partner (eSLOG 2.0, EDIFACT, …)<span style="color: #00b8f1">
				
						{{ submission.message.eExchangePartnersEdiStandard }}
			
				</span>
			</p>
            {% endif %}

		    {% if submission.message.eExchangeOwnAccountingSystem is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Imam lastni inf. sistem za računovodstvo / ERP: <span style="color: #00b8f1">{{ submission.message.eExchangeOwnAccountingSystemType }}</span>
				{% if submission.message.eExchangeOwnAccountingSystemTypeOther is defined %}
					Drugo: {{ submission.message.eExchangeOwnAccountingSystemTypeOther }}
				{% endif %}
			</p>
            {% endif %}

			{% if submission.message.eExchangeNeedIntegration is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Želim integracijo z obstoječim poslovno informacijskim sistemom. 
			</p>
            {% endif %}


	        {% if submission.message.eExchangeIntroductionToPartners is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Želim uvedbo EDI eNaročanja s partnerji. 
			</p>
            {% endif %}

	        {% if submission.message.eExchangeOnlineEorderingWithPartners is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem spletno EDI eNaročanje s partnerji.
			</p>
            {% endif %}

	        {% if submission.message.eExchangeLongtermStorage is defined %}
			<p style="margin: 0 0 12px; font-size: 14px; color: #6e798b">
				Potrebujem formlano dolgoročno hrambo izmenjanih eDokumentov (eHramba.si).
			</p>
            {% endif %}

		    {% if submission.message.eExchangeNeedPrepaidPackage is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Želim predplačniški paket brez mesečne naročnine. Izberite EDI.web paket za predračun
				<span style="color: #00b8f1"> {{ submission.message.eExchangeubscriptionPackage }}</span>
			</p>
            {% endif %}

            {% if submission.message.eExchangeNeedMonthlySubscription is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Želim mesečno naročnino in več funkcij. Kontaktirala vas bo prodaja.
			</p>
            {% endif %}

	        {% if submission.message.eExchangeNote is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Dodatne opombe <span style="color: #00b8f1">

					{{ submission.message.eExchangeNote }}
			
				</span>
			</p>
            {% endif %}
		</td>
	</tr>
{% endif %}
