{% if submission.message.product == "fieldElogistic" %}
	<tr>
		<td colspan="2" style="padding: 24px 16px; border-bottom: solid 1px #e7e8ee">
			<p style="margin: 0 0 6px; font-weight: bold">
				eLogistika
			</p>
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Tip organizacije: <br /> <span style="color: #00b8f1">
					{% if submission.message.eLogisticOrganizationLogistic is defined %}
						{{ submission.message.eLogisticOrganizationLogistic }} <br />
					{% endif %}
					{% if submission.message.eLogisticOrganizationTransport is defined %}
						{{ submission.message.eLogisticOrganizationTransport }} <br />
					{% endif %}
					{% if submission.message.eLogisticOrganizationTransportForOwnNeeds is defined %}
						{{ submission.message.eLogisticOrganizationTransportForOwnNeeds }} <br />
					{% endif %}
					{% if submission.message.eLogisticOrganizationTrade is defined %}
						{{ submission.message.eLogisticOrganizationTrade }} <br />
					{% endif %}
					{% if submission.message.eLogisticOrganizationEcommerce is defined %}
						{{ submission.message.eLogisticOrganizationEcommerce }} <br />
					{% endif %}
					{% if submission.message.eLogisticOrganizationNeedTraceability is defined %}
						{{ submission.message.eLogisticOrganizationNeedTraceability }}
					{% endif %}
				</span>
			</p>

            {% if submission.message.eLogisticTruckTracking is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Uporabljam inf. sistem za sledenje kamionov <span style="color: #00b8f1">
					
						{{ submission.message.eLogisticTruckTracking }}
				</span>
			</p>
            {% endif %}


            {% if submission.message.eLogisticUseSystem is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Uporabljam sistem za skladišče, pripravo pošiljk,….
			</p>	
            {% endif %}

			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem module LogChain: <br /><span style="color: #00b8f1">
					{% if submission.message.eLogisticModulesPreparation is defined %}
						{{ submission.message.eLogisticModulesPreparation }} <br />
					{% endif %}
					{% if submission.message.eLogisticModulesTracking is defined %}
						{{ submission.message.eLogisticModulesTracking }} <br />
					{% endif %}
					{% if submission.message.eLogisticModulesFieldActivities is defined %}
						{{ submission.message.eLogisticModulesFieldActivities }}
					{% endif %}
				</span>
			</p>

            {% if submission.message.eLogisticNeedTablets is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem tablice ali čitalce za delo na terenu.
			</p>
            {% endif %}


            {% if submission.message.eLogisticNeedIntegration is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem integracijo s svojimi inf. Sistemi.
			</p>
            {% endif %}


	        {% if submission.message.eLogisticUsersByModules is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Opredelite število uporabnikov po modulih <span style="color: #00b8f1">
						{{ submission.message.eLogisticUsersByModules }}
		
				</span>
			</p>
            {% endif %}

			
            {% if submission.message.eLogisticDriversNumber is defined %}
            <p style="margin: 0; font-size: 14px; color: #6e798b">
				Število voznikov <span style="color: #00b8f1">
			
						{{ submission.message.eLogisticDriversNumber }}
				</span>
			</p>
            {% endif %}

		    {% if submission.message.eLogisticNote is defined %}
        	<p style="margin: 0; font-size: 14px; color: #6e798b">
				Dodatne opombe <span style="color: #00b8f1">
		
						{{ submission.message.eLogisticNote }}
				</span>
			</p>
            {% endif %}
		</td>
	</tr>
{% endif %}
