{% if submission.message.product == "fieldStorage" %}
	<tr>
		<td colspan="2" style="padding: 24px 16px; border-bottom: solid 1px #e7e8ee">
			<p style="margin: 0 0 6px; font-weight: bold">
				Dolgoročna eHramba.si
			</p>

            {% if submission.message.eStorageKeepDocuments is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Katere dokumente želim hraniti oziroma za katere procese (eRačuni, eNaročanje, Pogodbe,...) <span style="color: #00b8f1">

					{{ submission.message.eStorageKeepDocuments }}
				
				</span>
			</p>
            {% endif %}

		    {% if submission.message.eStorageOwnDocumentSystem is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Imam dokumentni sistem.
		
				</span>
			</p>
            {% endif %}

			{% if submission.message.eStorageNeedIntegration is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem integracijo storitve eHramba.si z internimi sistemi (DMS, ERP,…).
			</p>
		    {% endif %}

        	{% if submission.message.eStorageNeedInterface is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem spletni vmesnik za storitev eHramba.si.
				</span>
			</p>
            {% endif %}


	        {% if submission.message.eStorageNeedInternalRetentionRules is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem pomoč pri izdelavi notranih pravil hrambe.
			</p>
            {% endif %}

	        {% if submission.message.eStorageNeedIntroduction is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem svetovanje pri uvedbi eHrambe (signirni načrti, klasifikacijski načrti,..).
			</p>
            {% endif %}


	        {% if submission.message.eStorageMonthlyIncrement is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Število vloženih dokumentov mesečno (Vpiši velikost mesečnega prirastka v GB - celo število) <span style="color: #00b8f1">
				
						{{ submission.message.eStorageMonthlyIncrement }}
		
				</span>
			</p>

            {% endif %}

		    {% if submission.message.eStorageEstimatedSize is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Ocenjena velikost (povprečna) vloženih dokumentov (v kb) <span style="color: #00b8f1">
			
						{{ submission.message.eStorageEstimatedSize }}
				</span>
			</p>
            {% endif %}


			{% if submission.message.eStorageEstimatedMonthlySize is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Ocena velikosti vloženih dokumentov mesečno <span style="color: #00b8f1">
	
						{{ submission.message.eStorageEstimatedMonthlySize }}
		
				</span>
			</p>

            {% endif %}

	        {% if submission.message.eStorageNeedPaperArchive is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Potrebujem storitev skeniranja papirnega arhiva - obstoječa dokumenatcija.
			</p>
            {% endif %}

		    {% if submission.message.eStorageEstimatedArchiveSize is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Ocena velikosti arhiva <span style="color: #00b8f1">
			
					{{ submission.message.eStorageEstimatedArchiveSize }}
			
				</span>
			</p>

            {% endif %}

	        {% if submission.message.eStorageNote is defined %}
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Dodatne opombe <span style="color: #00b8f1">
				
						{{ submission.message.eStorageNote }}
			
				</span>
			</p>
            {% endif %}
		</td>
	</tr>
{% endif %}
