{% if submission.message.product == "fieldStore" %}

	<tr>
		<td colspan="2" style="padding: 24px 16px; border-bottom: solid 1px #e7e8ee">
			<p style="margin: 0 0 6px; font-weight: bold">
				Zunanja trgovina
			</p>
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Tip organizacije <span style="color: #00b8f1;font-size:14px;margin-top:10px;">
					{% if submission.message.eStoreOrganizationForwarding is defined %}
						{{ submission.message.eStoreOrganizationForwarding }} <br />
					{% endif %}
					{% if submission.message.eStoreOrganizationOwnAccount is defined %}
						{{ submission.message.eStoreOrganizationOwnAccount }}
					{% endif %}
				</span>
			</p>
			<p style="margin: 0; font-size: 14px; color: #6e798b">
				Postopki, ki jih želim digitalizirati:
			</p>

			<!-- Item01 -->
			{% if submission.message.eStoreProceduresForDigitizeItem01 is defined %}
				<span style="color: #00b8f1;font-size:14px;">{{ submission.message.eStoreProceduresForDigitizeItem01 }}</span>
                 {% if submission.message.estoreNrLocationsItem01 is defined %}
                    <p style="margin: 0; font-size: 14px; color: #6e798b">
                        Število lokacij za izvajanje postopkov: 
                        {{ submission.message.estoreNrLocationsItem01 }}
                    </p>
                {% endif %}
                
                {% if submission.message.estoreNrUsersOfSlolutionItem01 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Število uporabnikov rešitve:
						{{ submission.message.estoreNrUsersOfSlolutionItem01 }}
				</p>
                {% endif %}

                {% if submission.message.estoreNrProceduresItem01 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Okvirno število izvedenih postopkov mesečno:
						{{ submission.message.estoreNrProceduresItem01 }}
				</p>
                {% endif %}

				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Države v katerih se izvaja postopke:{% if submission.message.estorecountriesSLOItem01 is defined %}
						{{ submission.message.estorecountriesSLOItem01 }}
					{% endif %}

                    {% if submission.message.estorecountriesEUItem01 is defined %}
						{{ submission.message.estorecountriesEUItem01 }}
					{% endif %}
					{% if submission.message.estorecountriesMonteNegroItem01 is defined %}
						{{ submission.message.estorecountriesMonteNegroItem01 }}
					{% endif %}
					{% if submission.message.estorecountriesMacedoniaItem01 is defined %}
						{{ submission.message.estorecountriesMacedoniaItem01 }}
					{% endif %}
					{% if submission.message.estorecountriesSerbiaItem01 is defined %}
						{{ submission.message.estorecountriesSerbiaItem01 }}
					{% endif %}
					{% if submission.message.estorecountriesOtherTypeItem01 is defined %}
						{{ submission.message.estorecountriesOtherTypeItem01 }}
					{% endif %}
					{% if submission.message.eStoreCountryNoteItem01 is defined %}
						<br /> {{ submission.message.eStoreCountryNoteItem01 }}
					{% endif %}
				</p>
                
                {% if submission.message.eStoreNoteItem01 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Dodatne opombe: {{ submission.message.eStoreNoteItem01 }}
				</p>
                {% endif %}
			{% endif %}
			<!-- Item01 -->

			<!-- Item02 -->
			{% if submission.message.eStoreProceduresForDigitizeItem02 is defined %}
				<span style="color: #00b8f1;font-size:14px;margin-top:10px;">{{ submission.message.eStoreProceduresForDigitizeItem02 }}</span>
				
                {% if submission.message.estoreNrLocationsItem02 is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
					Število lokacij za izvajanje postopkov:
						{{ submission.message.estoreNrLocationsItem02 }}
				</p>
                {% endif %}

                {% if submission.message.estoreNrUsersOfSlolutionItem02 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Število uporabnikov rešitve:
						{{ submission.message.estoreNrUsersOfSlolutionItem02 }}
				</p>
				{% endif %}

                {% if submission.message.estoreNrProceduresItem02 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Okvirno število izvedenih postopkov mesečno:
						{{ submission.message.estoreNrProceduresItem02 }}
				</p>
                {% endif %}


				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Države v katerih se izvaja postopke:{% if submission.message.estorecountriesSLOItem02 is defined %}
						{{ submission.message.estorecountriesSLOItem02 }}
					{% endif %}

                    {% if submission.message.estorecountriesEUItem02 is defined %}
						{{ submission.message.estorecountriesEUItem02 }}
					{% endif %}
					{% if submission.message.estorecountriesMonteNegroItem02 is defined %}
						{{ submission.message.estorecountriesMonteNegroItem02 }}
					{% endif %}
					{% if submission.message.estorecountriesMacedoniaItem02 is defined %}
						{{ submission.message.estorecountriesMacedoniaItem02 }}
					{% endif %}
					{% if submission.message.estorecountriesSerbiaItem02 is defined %}
						{{ submission.message.estorecountriesSerbiaItem02 }}
					{% endif %}
					{% if submission.message.estorecountriesOtherTypeItem02 is defined %}
						{{ submission.message.estorecountriesOtherTypeItem02 }}
					{% endif %}
					{% if submission.message.eStoreCountryNoteItem02 is defined %}
						<br /> {{ submission.message.eStoreCountryNoteItem02 }}
					{% endif %}
				</p>

                {% if submission.message.eStoreNoteItem02 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Dodatne opombe: {{ submission.message.eStoreNoteItem02 }}
				</p>
                {% endif %}
			{% endif %}
			<!-- Item02 -->

			<!-- Item03 -->
			{% if submission.message.eStoreProceduresForDigitizeItem03 is defined %}
				<span style="color: #00b8f1;font-size:14px;margin-top:10px;">{{ submission.message.eStoreProceduresForDigitizeItem03 }}</span>

                {% if submission.message.estoreNrLocationsItem03 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Število lokacij za izvajanje postopkov:
						{{ submission.message.estoreNrLocationsItem03 }}
				</p>
                {% endif %}

                {% if submission.message.estoreNrUsersOfSlolutionItem03 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Število uporabnikov rešitve:
						{{ submission.message.estoreNrUsersOfSlolutionItem03 }}
				</p>
                {% endif %}

                {% if submission.message.estoreNrProceduresItem03 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Okvirno število izvedenih postopkov mesečno:
						{{ submission.message.estoreNrProceduresItem03 }}
				</p>
                {% endif %}

				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Države v katerih se izvaja postopke:{% if submission.message.estorecountriesSLOItem03 is defined %}
						{{ submission.message.estorecountriesSLOItem03 }}
					{% endif %}

                    {% if submission.message.estorecountriesEUItem03 is defined %}
						{{ submission.message.estorecountriesEUItem03 }}
					{% endif %}

					{% if submission.message.estorecountriesMonteNegroItem03 is defined %}
						{{ submission.message.estorecountriesMonteNegroItem03 }}
					{% endif %}
					{% if submission.message.estorecountriesMacedoniaItem03 is defined %}
						{{ submission.message.estorecountriesMacedoniaItem03 }}
					{% endif %}
					{% if submission.message.estorecountriesSerbiaItem03 is defined %}
						{{ submission.message.estorecountriesSerbiaItem03 }}
					{% endif %}
					{% if submission.message.estorecountriesOtherTypeItem03 is defined %}
						{{ submission.message.estorecountriesOtherTypeItem03 }}
					{% endif %}
					{% if submission.message.eStoreCountryNoteItem03 is defined %}
						<br /> {{ submission.message.eStoreCountryNoteItem03 }}
					{% endif %}
				</p>
                
                {% if submission.message.eStoreNoteItem03 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
						Dodatne opombe: {{ submission.message.eStoreNoteItem03 }}
				</p>
                {% endif %}
			{% endif %}
			<!-- Item03 -->

			<!-- Item04 -->
			{% if submission.message.eStoreProceduresForDigitizeItem04 is defined %}
				<span style="color: #00b8f1;font-size:14px;margin-top:10px;">{{ submission.message.eStoreProceduresForDigitizeItem04 }}</span>
				
                {% if submission.message.estoreNrLocationsItem04 is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
					Število lokacij za izvajanje postopkov:
						{{ submission.message.estoreNrLocationsItem04 }}
				</p>
                {% endif %}
				
                {% if submission.message.estoreNrUsersOfSlolutionItem04 is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
					Število uporabnikov rešitve:
						{{ submission.message.estoreNrUsersOfSlolutionItem04 }}
				</p>
                {% endif %}

                {% if submission.message.estoreNrProceduresItem04 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Okvirno število izvedenih postopkov mesečno:
						{{ submission.message.estoreNrProceduresItem04 }}
				</p>
                {% endif %}

				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Države v katerih se izvaja postopke:{% if submission.message.estorecountriesSLOItem04 is defined %}
						{{ submission.message.estorecountriesSLOItem04 }}
					{% endif %}

                    {% if submission.message.estorecountriesEUItem04 is defined %}
						{{ submission.message.estorecountriesEUItem04 }}
					{% endif %}

					{% if submission.message.estorecountriesMonteNegroItem04 is defined %}
						{{ submission.message.estorecountriesMonteNegroItem04 }}
					{% endif %}
					{% if submission.message.estorecountriesMacedoniaItem04 is defined %}
						{{ submission.message.estorecountriesMacedoniaItem04 }}
					{% endif %}
					{% if submission.message.estorecountriesSerbiaItem04 is defined %}
						{{ submission.message.estorecountriesSerbiaItem04 }}
					{% endif %}
					{% if submission.message.estorecountriesOtherTypeItem04 is defined %}
						{{ submission.message.estorecountriesOtherTypeItem04 }}
					{% endif %}
					{% if submission.message.eStoreCountryNoteItem04 is defined %}
						<br /> {{ submission.message.eStoreCountryNoteItem04 }}
					{% endif %}
				</p>

                {% if submission.message.eStoreNoteItem04 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
						Dodatne opombe: {{ submission.message.eStoreNoteItem04 }}
				</p>
                {% endif %}
			{% endif %}
			<!-- Item04 -->

			<!-- Item05 -->
			{% if submission.message.eStoreProceduresForDigitizeItem05 is defined %}
				<span style="color: #00b8f1;font-size:14px;margin-top:10px;">{{ submission.message.eStoreProceduresForDigitizeItem05 }}</span>
				
                {% if submission.message.estoreNrLocationsItem05 is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
					Število lokacij za izvajanje postopkov:
						{{ submission.message.estoreNrLocationsItem05 }}
				</p>
                {% endif %}
				
                {% if submission.message.estoreNrUsersOfSlolutionItem05 is defined %}
                <p style="margin: 0; font-size: 14px; color: #6e798b">
					Število uporabnikov rešitve:
						{{ submission.message.estoreNrUsersOfSlolutionItem05 }}
				</p>
                {% endif %}

                {% if submission.message.estoreNrProceduresItem05 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Okvirno število izvedenih postopkov mesečno:
						{{ submission.message.estoreNrProceduresItem05 }}
				</p>
                {% endif %}

				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Države v katerih se izvaja postopke:
                    {% if submission.message.estorecountriesSLOItem05 is defined %}
						{{ submission.message.estorecountriesSLOItem05 }}
					{% endif %}

                    {% if submission.message.estorecountriesEUItem05 is defined %}
						{{ submission.message.estorecountriesEUItem05 }}
					{% endif %}

					{% if submission.message.estorecountriesMonteNegroItem05 is defined %}
						{{ submission.message.estorecountriesMonteNegroItem05 }}
					{% endif %}
					{% if submission.message.estorecountriesMacedoniaItem05 is defined %}
						{{ submission.message.estorecountriesMacedoniaItem05 }}
					{% endif %}
					{% if submission.message.estorecountriesSerbiaItem05 is defined %}
						{{ submission.message.estorecountriesSerbiaItem05 }}
					{% endif %}
					{% if submission.message.estorecountriesOtherTypeItem05 is defined %}
						{{ submission.message.estorecountriesOtherTypeItem05 }}
					{% endif %}
					{% if submission.message.eStoreCountryNoteItem05 is defined %}
						<br /> {{ submission.message.eStoreCountryNoteItem05 }}
					{% endif %}
				</p>

                {% if submission.message.eStoreNoteItem05 is defined %}
				<p style="margin: 0; font-size: 14px; color: #6e798b">
					Dodatne opombe: {{ submission.message.eStoreNoteItem05 }}
				</p>
                {% endif %}
			{% endif %}
			<!-- Item05 -->


		    {% if submission.message.eStoreNeedStorage is defined %}
            <p style="margin: 24px 0 0 0; font-size: 14px; color: #6e798b">
				Potrebujem storitev eHramba.si za hrambo carinskih dokumentov in priponk.
			</p>
            {% endif %}


	        {% if submission.message.eStoreNote is defined %}
			<p style="margin: 10px 0 0 0; font-size: 14px; color: #6e798b">
				Dodatne opombe: {{ submission.message.eStoreNote }}
			</p>
            {% endif %}
		</td>
	</tr>
{% endif %}
