{% set pageEntries = craft.entries.section('webinars').limit(3).orderBy('postDate desc').id('not ' ~ entry.id).all() %}

{% if pageEntries %}
	<div class="bg-blue-50 mt-8">
		<div class="container px-4 mx-auto py-20 lg:py-28 mb-8 lg:mb-0">
			<div class="flex items-center mb-12">
				<h4 class="text-4xl font-bold text-center">
					{{ 'See also'|t }}
				</h4>
				<a href="{{ webinarsUrl }}" class="inline-flex items-center ml-auto">{{ 'More'|t }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
			</div>
			<div class="grid gap-x-12 gap-y-6 lg:grid-cols-3 mb-8">
				{% for item in pageEntries %}
					{% include '/_snippet/content_vertical' with {
						category: item.webinarsCategory
					} %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
