{% set title = 'Webinars'|t %}

{% extends '_layouts/site' %}

{% set query = craft.entries.section('webinars').limit(12).orderBy('postDate desc') %}

{% if category is defined %}
	{% set query = query.relatedTo(category) %}
{% endif %}

{% paginate query as pageInfo, pageEntries %}

{% block main %}
	{% include '/_snippet/breadcrumb' %}

	<div class="container mx-auto px-4 lg:mt-20 mt-8 mb-12 lg:mb-40">
		<div class="text-center">
			<h1 class="text-4xl md:text-5xl font-bold mb-12">
				{{ title }}
			</h1>

			{% include '/_snippet/categories' with {
				type: 'webinars',
				all: 'All webinars'|t,
				url: webinarsUrl
			} %}
		</div>
		<div class="grid gap-6 md:gap-12 sm:grid-cols-2 lg:grid-cols-3">
			{% for item in pageEntries %}
				{% include '/_snippet/content_vertical' with {
					category: item.webinarsCategory
				} %}
			{% endfor %}
		</div>
		{% include '_snippet/pagination' %}
	</div>
{% endblock %}
