{% extends '_layouts/site' %}

{% set category = entry.knowledgeBaseCategory.one() ?? null %}

{% block main %}
	<div class="bg-blue-50">
		<div class="container mx-auto lg:pt-1 pb-8 lg:pb-14 mb-8 lg:mb-12 text-center px-4">
			{% include '/_snippet/breadcrumb' %}
			<div class="lg:w-8/12 mx-auto mt-20">

                {% if category %}
                    <a href="{{ category.getUrl() }}" class="text-blue text-sm tracking-wide block mb-4 uppercase">{{ category }}</a>
                {% endif %}

				<h1 class="text-4xl md:text-5xl font-bold mb-6">
					{{ entry.title }}
				</h1>
                
				<p class="mb-10">
					{{ entry.plainText }}
				</p>
			</div>
			{% if entry.urlLink %}
				{% set ytregex1 = '/^(?:https?:\\/\\/)?(?:www\.)?(?:youtu\.be\\/|youtube\.com)(?:\\/embed\\/|\\/v\\/|\\/watch\\?v=||\\/watch\\\?.+&v=)/' %}
				{% set ytregexTrailingSlash = '/(\\/)$/' %}
				{% set ytregexTrailingVariables = '/(&+.*)/' %}
				{% set youtubeid = entry.urlLink|replace(ytregex1, '')|replace(ytregexTrailingSlash, '')|replace(ytregexTrailingVariables, '') %}

				<iframe id="ytplayer" type="text/html" class="w-full aspect-[16/9] rounded-xl" src="https://www.youtube.com/embed/{{ youtubeid }}?autoplay=0&origin={{ siteUrl }}&rel=0" frameborder="0"></iframe>
			{% endif %}
		</div>
	</div>

	<div class="container mx-auto px-4 lg:mb-24">
		<div class="flex py-8 mb-12">
			<div class="hidden lg:block w-2/12">
				<div class="flex flex-col space-y-3">
					{% include ['/_snippet/share'] %}
				</div>
			</div>
			<div class="lg:w-8/12 w-full prose-item">
				{{ entry.reachText }}
			</div>
		</div>
		<div class="border-t border-blue-100 pt-8 text-center">
			<div class="flex items-center justify-center space-x-4">
				{% include ['/_snippet/share'] %}
			</div>
		</div>
	</div>

	{% include ['/knowledge-base/_related'] %}
{% endblock %}
