{# set a variable called myBreadcrumb #}
{% set myBreadcrumb = craft.breadcrumb.config %}

{# If there is more than 1 item in the breadcrumb #}
{% if myBreadcrumb > 1 %}
	<div class="hidden md:block breadcrumbs container mx-auto px-4 mt-5 mb-8">
		<ol class="flex gap-1 text-sm text-dark-500 items-center">
			{% for crumb in myBreadcrumb %}
				{% if loop.first %}
					<li class=""><a class="" href="{{ crumb.url }}"><span><i class="icon-home text-dark-400"></i></span></a></li>
					<li><i class="icon-chevron-right"></i></li>
					{# The last item in the breadcrumb #}
				{% elseif loop.last %}
					<li class="text-dark-600"><span>{{ crumb.title }}</span></li>
					{# A normal link in the breadcrumb #}
				{% else %}
					<li class=""><a class="" href="{{ crumb.url }}"><span>{{ crumb.title }}</span></a></li>
					<li><i class="icon-chevron-right"></i></li>
				{% endif %}
			{% endfor %}
		</ol>
	</div>
{% endif %}



