{% set categoryQuery = craft.categories().group(type).all() %}

{% set currentCategory = category.id ?? null %}

<ul class="flex flex-wrap text-sm justify-center -mx-1 mt-8 mb-12 lg:mb-20">
	<li class="p-1"><a class="py-1.5 px-3 rounded-2xl block {{ currentCategory == null ? 'bg-blue text-white' : 'bg-dark-50 text-dark-500' }}" href="{{ url }}">{{ all }}</a></li>
	{% nav item in categoryQuery %}
		<li class="p-1"><a class="py-1.5 px-3 rounded-2xl block {{ item.id == currentCategory ? 'bg-blue text-white' : 'bg-dark-50 text-dark-500' }}" href="{{ item.url }}">{{ item.title|t }}</a></li>
	{% endnav %}
</ul>
