{% set url = item.type.handle == 'link' ? item.linkUrl : item.url %}
{% set image = item.introImage.one() ?? null %}


<article class="w-full sm:flex sm:items-center sm:gap-8">
	{% if image %}
		<a class="block mb-3 sm:mb-0" href="{{ url }}">
			<img class="rounded-md sm:w-52 object-cover w-full aspect-[16/9]" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
		</a>
	{% endif %}

	<div class="flex-1">

        {% if item.getSection().handle in ['news', 'docs'] %}
			<span class="text-dark-500 text-sm">{{ item.postDate|date('d. M Y') }}</span>
		{% endif %}

		<h3 class="text-[22px] font-bold">
			<a href="{{ url }}">{{ item.title }}</a>
		</h3>

	</div>
</article>

