{% set url = newsEntry.type.handle == 'link' ? newsEntry.linkUrl : newsEntry.url %}
{% set image = newsEntry.introImage.one() ?? null %}
{% set logo = newsEntry.brandImage.one() ?? null %}
{% set category = newsEntry.categoryStory.one() ?? null %}

<a class="flex flex-col md:flex-row bg-white shadow rounded-2xl relative" href="{{ url }}">
	{% if image %}
		<div class="md:max-w-[396px] cover aspect-[16/9] md:aspect-[1/1] relative">
			<img class="rounded-2xl block h-full w-full object-cover" src="{{ image.getUrl() }}" alt="{{ image.title }}" />

			{% if logo %}
				<span class="absolute top-0 bottom-0 left-0 right-0 bg-dark-700/50 z-10 rounded-2xl"></span>
				<img class="absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-[200px] max-h-[200px]" src="{{ logo.getUrl() }}" alt="{{ logo.title }}" />
			{% endif %}
		</div>
	{% endif %}

	<span class="flex-1 p-6 md:px-12 md:py-14">
		<span class="block text-blue text-base mb-2">{{ newsEntry.placeholder }}</span>

		<h2 class="text-2xl md:text-3xl font-bold mb-4">
			{{ newsEntry.title }}
		</h2>
		<div class="wrap-text-2 mb-8">
			{{ newsEntry.reachText }}
		</div>

		<div class="btn btn-primary">
			{{ 'Read more'|t }} <i class="icon-arrow-right ml-2"></i>
		</div>
	</span>

	{% if category %}
		<span class="absolute py-1.5 px-3 z-20 rounded-2xl block text-sm bg-dark-50 text-dark-500 top-4 right-4">{{ category }}</span>
	{% endif %}
</a>
