{% set url = newsEntry.type.handle == 'link' ? newsEntry.linkUrl : newsEntry.url %}
{% set image = newsEntry.introImage.one() ?? null %}
{% set logo = newsEntry.brandImage.one() ?? null %}
{% set category = newsEntry.categoryStory.one() ?? null %}

<a class="w-full flex-shrink-0 cursor-pointer px-4 py-8 sm:p-10" href="{{ url }}">
	<span class="flex flex-col lg:flex-row bg-white shadow rounded-2xl relative">
		{% if image %}
			<div class="lg:max-w-[285px] cover aspect-[16/9] lg:aspect-[1/1] relative">
				<img class="rounded-2xl block h-full w-full object-cover" src="{{ image.getUrl() }}" alt="{{ image.title }}" />

				{% if logo %}
					<span class="absolute top-0 bottom-0 left-0 right-0 bg-dark-700/50 z-10 rounded-2xl"></span>
					<img class="absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-[200px] max-h-[200px]" src="{{ logo.getUrl() }}" alt="{{ logo.title }}" />
				{% endif %}
			</div>
		{% endif %}

		<span class="flex-1 p-6 md:px-12 md:py-14 flex flex-col justify-center">
			<span class="block text-blue text-base mb-2">{{ newsEntry.placeholder }}</span>

			<h2 class="text-2xl md:text-[22px] font-bold mb-4">
				{{ newsEntry.title }}
			</h2>
			<span class="inline-flex items-center">{{ 'Read more'|t }} <i class="icon-arrow-right ml-2.5 text-base text-blue"></i></span>
		</span>

		{% if category %}
			<span class="absolute py-1.5 px-3 z-20 rounded-2xl block text-sm bg-dark-50 text-dark-500 top-4 right-4">{{ category }}</span>
		{% endif %}
	</span>
</a>
