{% set url = item.type.handle == 'link' ? item.linkUrl : item.url %}
{% set image = item.introImage.one() ?? null %}
{% set category = category.one() ?? null %}


<article class="w-full sm:flex sm:items-center sm:gap-8">
	{% if image %}
		<a class="block" href="{{ url }}">
			<img class="rounded-md sm:w-32 object-cover w-full aspect-[16/9] sm:aspect-[1/1]" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
		</a>
	{% endif %}

	<div class="flex-1">

        {% if category %}
            <a href="{{ category.getUrl() }}" class="text-blue text-sm tracking-wide block mt-2 sm:mt-0 mb-2 uppercase">{{ category }}</a>
        {% endif %}

		<h3 class="text-[22px] font-bold">
			<a href="{{ url }}">{{ item.title }}</a>
		</h3>

        <div class="line-clamp-1">
            {{ item.plainText }}    
        </div>

        {% if item.getSection().handle in ['news', 'docs'] %}
			<span class="text-dark-500 text-sm">{{ item.postDate|date('d. M Y') }}</span>
		{% endif %}
	</div>

    <div class="text-right hidden md:block">
        <a href="{{ url }}" class="inline-flex items-center justify-center w-8 h-8 text-white rounded-full bg-blue text-sm"><i class="icon-arrow-right"></i></a>
    </div>
</article>
<hr class="my-5 border-t border-blue-100" />
