{% set url = item.type.handle == 'link' ? item.linkUrl : item.url %}
{% set image = item.introImage.one() ?? null %}
{% set category = category.one() ?? null %}

<article>
	{% if image %}
		<a class="relative block mb-4" href="{{ url }}">
            {% if item.getSection().handle in ['videos', 'knowledgeBase'] %}
				<img class="absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-[200px] max-h-[200px]" src="{{ alias('@web/assets/images/svg/play.svg') }}" alt="{{ image.title }}" width="48" />
				<span class="absolute top-0 bottom-0 left-0 right-0 bg-dark-700/50 z-10 rounded-lg"></span>
			{% endif %}
			<img class="rounded-lg cover w-full aspect-[5/3]" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
		</a>
	{% endif %}

	{% if category %}
		<a href="{{ category.getUrl() }} " class="text-blue text-sm tracking-wide block mb-2 uppercase">{{ category }}</a>
	{% endif %}

	<h3 class="text-[22px] font-bold mb-2">
		<a href="{{ url }}">{{ item.title }}</a>
	</h3>

	{% if item.getSection().handle in ['news', 'docs'] %}
		<span class="text-dark-500 text-base block mb-2">{{ item.postDate|date('d. M Y') }}</span>
	{% endif %}
</article>
