{% set dropdownField = craft.app.fields.getFieldByHandle(fieldName) %}

<div class="mb-6">
	<h4 class="font-bold mb-3">
		{{ heading }}
	</h4>
	<ul class="flex flex-wrap gap-2 text-sm">
		<li class="cursor-pointer px-4 py-1.5 bg-blue text-white rounded-3xl">{{ All }}</li>
		{% for option in dropdownField.settings.options %}
			<li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl">{{ option.label }}</li>
		{% endfor %}
	</ul>
</div>
