
{% if pageEntries %}
    {% if pageInfo.totalPages > 1 %}    
        <div class="flex items-center justify-center md:mt-20 mb-12 text-base">
            {% if pageInfo.prevUrl %}
                <a class="mx-1 w-8 h-8 flex items-center justify-center rounded-full bg-blue-100 text-dark-500 hover:bg-blue hover:text-white" href="{{ pageInfo.prevUrl }}"><i class="icon-arrow-left"></i></a>
            {% endif %}

            {% for page, url in pageInfo.getPrevUrls(5) %}
                <a class="mx-1 w-6 h-6 flex items-center justify-center rounded-full bg-blue-100 text-dark-500 hover:bg-blue hover:text-white" href="{{ url }}">{{ page }}</a>
            {% endfor %}

            <span class="mx-1 w-6 h-6 flex items-center justify-center rounded-full bg-blue text-white">{{ pageInfo.currentPage }}</span>

            {% for page, url in pageInfo.getNextUrls(5) %}
                <a class="mx-1 w-6 h-6 flex items-center justify-center rounded-full bg-blue-100 text-dark-500 hover:bg-blue hover:text-white" href="{{ url }}">{{ page }}</a>
            {% endfor %}

            {% if pageInfo.nextUrl %}
                <a class="mx-1 w-8 h-8 flex items-center justify-center rounded-full bg-blue-100 text-dark-500 hover:bg-blue hover:text-white" href="{{ pageInfo.nextUrl }}"><i class="icon-arrow-right"></i></a>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    <h3 class="text-center text-4xl">{{'No entries found.' | t}}</h3>
{% endif %}
