<div class="text-dark-500 text-sm tracking-wide uppercase">
	{{ 'Share on'|t }}
</div>
<div class="flex space-x-3">
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ craft.app.request.absoluteUrl }}"><img src="{{ alias('@web/assets/images/svg/sm-fb.svg') }}" alt="" width="35" /></a>
	<a href="https://twitter.com/home?status={{ craft.app.request.absoluteUrl }}"><img src="{{ alias('@web/assets/images/svg/sm-fb.svg') }}" alt="" width="35" /></a>
	<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ craft.app.request.absoluteUrl }}&title=&summary=&source="><img src="{{ alias('@web/assets/images/svg/sm-twitter.svg') }}" alt="" width="35" /></a>
</div>
