<div class="support-toogler fixed top-1/4 right-0 z-20 translate-x-[16rem] transform transition duration-200 ease-in-out">
	<div class="flex items-start">
		<div class="support-btn cursor-pointer rounded-l-lg bg-blue px-1.5 sm:px-2 py-2 sm:py-2.5 text-sm sm:text-base text-white">
			<div class="open flex flex-col items-center">
				<img class="mb-1 w-12 sm:w-14" src="{{ alias('@web/assets/images/svg/support-img.svg') }} " width="56" title="" alt="" />
				{{ 'Support'|t }}
			</div>
			<div class="close hidden flex-col items-center">
				<img class="mb-1 w-12 sm:w-14" src="{{ alias('@web/assets/images/svg/close-circle.svg') }} " width="56" title="" alt="" />
				{{ 'Close'|t }}
			</div>
		</div>
		<div class="w-[16rem] rounded-bl-lg border-2 border-r-0 border-blue bg-white p-6">
			<h2 class="mb-5 text-2xl font-bold leading-tight">
				{{ 'Support'|t }}
			</h2>
			{% include '_modules/support' %}
		</div>
	</div>
</div>
