@keyframes slideLeftToRight { 
    0% { 
        opacity: 0; 
        transform: translateX(-150%) scale(0);
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0%) scale(1);
    }   
}

@keyframes slideRightToLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(150%) scale(0);
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0%) scale(1);
    }   
}

@keyframes slideBottomToTop { 
    0% { 
        opacity: 0; 
        transform: translateY(20%);
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0%);
    }   
}

@keyframes slideTopToBottom { 
    0% { 
        opacity: 0; 
        transform: translateY(-20%);
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0%);
    }   
}

.animation-list .animation-item {
    opacity: 0;
    visibility: hidden;
}
.animation-list.start .animation-item {
    visibility: visible;
    animation: slideBottomToTop 350ms forwards ease-out 0.8s;
    &:nth-child(1) {
        animation-delay: 0.7s;
    }
    &:nth-child(2) {
        animation-delay: 0.9s;
    }
    &:nth-child(3) {
        animation-delay: 1.1s;
    }
    &:nth-child(4) {
        animation-delay: 1.3s;
    }
    &:nth-child(5) {
        animation-delay: 1.5s;
    }
}

.slideLeftToRight, .slideRightToLeft, .slideBottomToTop, .slideTopToBottom {
    opacity: 0;
}

.animation.start {
    &.slideLeftToRight {
        animation: slideLeftToRight 0.5s forwards ease-out 0.8s;
    }
    &.slideRightToLeft {
        animation: slideRightToLeft 0.5s forwards ease-out 0.8s;
    }
    &.slideBottomToTop {
        animation: slideBottomToTop 0.5s forwards ease-out 0.3s;
    }
    &.slideTopToBottom {
        animation: slideBottomToTop 0.5s forwards ease-out 0.3s;
    }
}

