.btn {
	@apply inline-flex items-center rounded-[32px] border px-5 py-3 text-lg leading-7;
}
.btn-sm {
	@apply rounded-[20px] px-4 py-1.5 text-lg;
}
.btn-xs {
	@apply rounded-[20px] px-3 py-1 text-base;
}
.btn i {
	@apply pl-3 text-base;
}
.btn-xs i {
	@apply text-xs;
}
.btn-primary {
	@apply border-blue bg-blue text-white;
}

.btn-secondary {
	@apply border-blue-100 bg-blue-100 text-dark-600;
}

.btn-outline {
	@apply border-[#a5bd4a] bg-[#a5bd4a] text-white px-4 py-1.5 rounded-[32px] border inline-flex items-center gap-2;
}

.btn-secondary i {
	@apply text-dark-500;
}
