.checkbox-box {
	@apply relative;
}

.checkbox-box [type='checkbox'],
.checkbox-box [type='radio'] {
	@apply absolute top-4 left-4;
}

.checkbox-box label {
	@apply rounded border-2 border-blue-100 py-2.5 px-3;
}

.checkbox-box input[type='checkbox']:checked + label,
.checkbox-box input[type='radio']:checked + label {
	@apply border-blue bg-blue-300;
}
