/*custom-list*/
.custom-list {
	a {
		@apply contents text-blue;
	}
	ul {
		@apply mb-6 grid gap-x-10 gap-y-3 pt-6;
		li {
			@apply inline-flex w-full items-start before:mr-3 before:font-['icomoon'] before:font-normal before:text-green before:content-['\e910'];
		}
	}
}

.custom-list-2 ul {
	@apply sm:grid-cols-2;
}

.custom-list-3 ul {
	@apply gap-x-24 md:grid-cols-2 lg:grid-cols-3;
}

.custom-list-v2 ul {
	@apply grid gap-x-12 gap-y-6 py-8 md:grid-cols-2 lg:grid-cols-3;
	li {
		@apply w-full bg-[url('../images/svg/sm-check.svg')] bg-[length:40px_35px] bg-no-repeat pl-12;
	}
}
