@layer base {
	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select {
		@apply w-full rounded border border-blue-100 bg-[length:1rem_1rem] py-3 text-lg focus:border-blue focus:shadow-xs focus:shadow-blue-100 focus:outline-none focus:ring-0;
	}
	[type='checkbox'],
	[type='radio'] {
		@apply mr-3 h-[21px] w-[21px] border-2 border-blue-100 text-lg text-blue focus:ring-0 focus:ring-offset-0;
	}
	[type='checkbox'] {
		@apply relative top-1 rounded;
	}
	[type='checkbox']:checked {
		@apply bg-[url('../images/bg/checkbox.svg')];
	}
	[type='radio'] {
		@apply rounded-full;
	}
}

.label {
	@apply text-xs font-bold uppercase tracking-wide text-dark-700;
}
