/*md-modal*/
.md-modal {
	@apply fixed top-1/2 left-1/2 z-50 hidden w-full -translate-x-1/2 -translate-y-1/2 px-6 lg:max-w-7xl;
}
.md-modal .md-close {
	@apply absolute right-0 -top-5 z-50 cursor-pointer;
}
.md-overlay {
	@apply top-0 bottom-0 left-0 right-0 z-40 bg-dark-700/80;
}

.md-modal.md-show {
	@apply visible block;
}

.md-modal.md-show + .md-overlay {
	@apply fixed top-0 bottom-0 left-0 right-0 z-20 bg-dark-700/80;
}
