/*mega-menu*/

.mega-menu {
	> li {
		@apply mb-5 px-5 sm:px-[40px] md:mb-0;
		> a,
		> span {
			@apply mb-3 block text-lg font-medium;
		}
		ul {
			@apply leading-8;
		}
	}
}

.menu-collapse:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 11px 11px 11px;
	border-color: transparent transparent #ffffff transparent;
	top: -11px;
	right: 10px;
}

.main-menu {
	@apply space-x-6 xl:space-x-12;
	> li {
		> a {
			@apply hover:text-blue;
		}
		ul {
			@apply before:absolute before:-top-5 before:left-0 before:h-5 before:w-full before:bg-transparent before:content-[''];
			&:after {
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 11px 11px 11px;
				border-color: transparent transparent #ffffff transparent;
				top: -11px;
				left: 50%;
				transform: translateX(-50%);
			}
			li {
				flex: 0 0 50%;
				max-width: 50%;
				@apply px-3;
			}
			li a,
			li span {
				@apply flex  cursor-pointer py-1 before:inline-flex before:pr-4 before:font-['icomoon'] before:text-2xl before:text-blue before:content-['\e912'];
			}
		}
	}
	> li:hover {
		ul {
			@apply flex;
		}
	}
}
