

main .imageContent:nth-child(2n + 1) {
	@apply md:flex-row-reverse;
}

.wrap-text-2 p {
	@apply line-clamp-2;
}

.redactor {
	p {
		@apply mb-4;
	}
	a {
		@apply text-blue;
	}
}

.pagination-dots .dot {
	@apply bg-blue-200;
	&.is-selected {
		@apply bg-blue;
	}
}

.text-list button.is-selected {
	@apply text-blue underline;
}

.lang-switch:hover .lang-dropdown {
	@apply flex;
}

.important-text {
	p:last-child {
		@apply mb-0;
	}
	a {
		@apply text-blue;
	}
}

.bg-split-white-black .breadcrumbs .text-dark-600 {
	@apply text-white;
}

.solution:nth-child(2n-1) {
    @apply bg-blue-50;
}

.hyperlink {
	@apply !text-dark-700 no-underline font-bold;
}


