.prose-item {
	@apply prose prose-lg max-w-full prose-h3:mt-6 prose-h3:text-3xl prose-h4:text-[22px] prose-a:text-blue prose-figcaption:text-center prose-ul:pl-3.5 prose-li:my-1 prose-li:marker:text-green prose-img:rounded-2xl;
}

p {
	@apply mb-4;
}

h1,
h2,
h3,
h4,
h5 {
	@apply !text-dark-700;
}
