{% macro errorList(errors) %}
    {% if errors %} 
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
 {% endmacro %} 
 
 {% set message = message ?? null %} 

 {% if craft.app.session.hasFlash('notice') %}
    <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
{% elseif craft.app.session.hasFlash('error') %}
    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
{% endif %}

{{ errors ?? '' }}

<script>
jQuery(document).ready(function () {
	//open mega menu
	$('#showForm').click(function (i) {
		$('#inquiry-partner').removeClass();
        $('#showForm').hide();
	})
});
</script>

<button type="button" class="btn btn-primary mr-3" id="showForm">Postanite partner <i class="icon-arrow-right ml-2"></i></button>

<form accept-charset="UTF-8" action="" class="mt-5 hidden" method="post" id="inquiry-partner">
	<input type="hidden" name="message[form]" value="becomePartner" />
	<input type="hidden" name="subject" value="Povpraševanje - Partner" />
	<input type="hidden" name="message[template]" value="{{ 'becomePartner'|hash }}" />
	<input type="hidden" name="message[notificationTemplate]" value="{{ 'becomePartner'|hash }}" />
	{{ csrfInput() }}
    {{ actionInput('contact-form/send') }}

	<div class="mb-8">
		<h4 class="mb-4 text-2xl font-bold">{{ 'Contact details'|t }}</h4>
		<div class="space-y-6">
			<div id="fromTaxId">
				<label for="fromTaxId" class="label">{{ 'Tax number'|t }}</label>
				<input type="text" placeholder="{{ 'Tax number'|t }}" name="message[fromTaxId]" />
			</div>

			<div id="fromCompany">
				<label for="fromCompany" class="label">{{ 'Company name'|t }}</label>
				<input type="text" placeholder="{{ 'Company name'|t }}" name="message[fromCompany]" />
			</div>

            <div id="fromSolution">
				<label for="fromSolution" class="label">{{ 'Name of software solution'|t }}</label>
				<input type="text" placeholder="{{ 'Name of software solution'|t }}" name="message[fromSolution]" />
			</div>

			<div id="fromName">
				<label for="fromName" class="label">{{ 'Contact person'|t }}</label>
				<input type="text" placeholder="{{ 'Contact person'|t }}" name="fromName" />
			</div>

			<div id="fromEmail">
				<label for="fromEmail" class="label">{{ 'Email'|t }}</label>
				<input type="email" placeholder="{{ 'Email'|t }}" name="fromEmail" />
			</div>

			<div id="fromPhone">
				<label for="fromPhone" class="label">{{ 'Phone'|t }}</label>
				<input type="tel" placeholder="{{ 'Phone'|t }}" name="message[fromPhone]" />
			</div>

            <div id="fromNotes">
				<label for="fromNotes" class="label">{{ 'Additional notes'|t }}</label>
				<textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[fromNotes]"></textarea>
			</div>
		</div>
	</div>

	<div class="mb-8 space-y-2">
		<h4 class="mb-4 text-2xl font-bold">Soglasja</h4>

        <!--
		<div id="message_consentTerms">
			<label class="flex items-baseline" for="consentTerms">
				<input name="message[consentTerms]" id="consentTerms" type="checkbox" value="Da" />
				Dovoljujem, da podjetje ZZI d.o.o. moje osebne podatke do preklica hrani in obdeluje za namene, podrobno opisane tukaj, ki vključujejo spremljanje mojih aktivnosti na spletni strani ter mojih zanimanj z namenom oblikovanja personaliziranih vsebin in ponudb.
			</label>
		</div>
		<div id="message_consentNews">
			<label class="flex items-baseline" for="consentNews">
				<input name="message[consentNews]" id="consentNews" type="checkbox" value="Da" />
				Dovoljujem, da me obveščate o prilagojenih ponudbah glede storitev in rešitev ZZI / bizBox.
			</label>
		</div>

		<div id="message_consentData">
			<label class="flex items-baseline" for="consentData">
				<input name="message[consentData]" id="consentData" type="checkbox" value="Da" />
				Dovoljujem, da se moje osebne podatke uporabi za namene obveščanja o storitvah in rešitvah ZZI/bizBox.
			</label>
		</div>
        -->

        Vaše osebne podatke obdelujemo na podlagi zakonitega interesa. Več o obdelavi osebnih podatkov si lahko preberete v naši <a class="text-blue" href="{{ privacyPolicyUrl }}">politiki zasebnosti</a>.

	</div>
     {{ craft.contactFormExtensions.recaptcha | raw }}
	<button type="submit" class="btn btn-primary mr-3">Oddajte povpraševanje <i class="icon-arrow-right ml-2"></i></button>
</form>

<script>
    $( "form#inquiry-partner" ).submit(function( e ) {
        e.preventDefault();
        var form = $(this);
        $('.error-msg').remove();
        $.post({
            url: '',
            dataType: 'json',
            data: $(form).serialize(),
            success: function(response) {
                if (response.success) {
                    $(form).find('select').val('');
                    $(form).find('input[type="text"]').val('');
                    $(form).find('textarea').val('');
                    $(form).find('input[type="email"]').val('');
                    $(form).find('input[type="tel"]').val('');
                    $(form).find('input[type="radio"]').prop('checked', false);
                    $(form).find('input[type="checkbox"]').prop('checked', false);
                    form.html('<div class="text-2xl">' + response.message + '</div>');
                     $('html, body').animate({
                        scrollTop: (form.offset().top)
                    },500);
                } else {
                    const keys = Object.keys(response.errors);
                    keys.forEach((key, index) => {
                        const error = response.errors[key];
                        key =  key.replace('.', '_');
                        const $el = $('#' + key);
                        $el.addClass('has-error');
                        $el.append(`<span class="text-red text-sm error-msg">Preverite vnosno polje.</span>`);
                    });
                    $('html, body').animate({
                        scrollTop: ($('.has-error').first().offset().top)
                    },500);
                }
            }
        });
    });
</script>