{% macro errorList(errors) %}
    {% if errors %} 
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
 {% endmacro %} 
 
 {% set message = message ?? null %} 

 {% if craft.app.session.hasFlash('notice') %}
    <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
{% elseif craft.app.session.hasFlash('error') %}
    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
{% endif %}

{{ errors ?? '' }}
<form accept-charset="UTF-8" action="" class="mt-5" method="post" id="inquiry-form">
	<input type="hidden" name="message[form]" value="inquiry" />
	<input type="hidden" name="subject" value="Povpraševanje" />
	<input type="hidden" name="message[template]" value="{{ 'inquiry'|hash }}" />
	<input type="hidden" name="message[notificationTemplate]" value="{{ 'inquiry'|hash }}" />
	{{ csrfInput() }}
    {{ actionInput('contact-form/send') }}

    {% include '/_form/parts/base' %}

    <div class="mb-8">
		<h4 class="mb-4 text-2xl font-bold">{{ 'Fields'|t }}</h4>
		<p class="mb-4 text-dark-600">{{ 'Fields desc'|t }}</p>

		<div class="space-y-2">
			<div id="message_fieldEbills" class="checkbox-box">
				<input name="message[product]" id="fieldEbills" type="radio" value="fieldEbills" data-show="field-ebills"/>
				<label class="flex items-center" for="fieldEbills"> <span class="ml-9">{{ 'Preparation of eInvoices - application'|t }}</span> </label>
			</div>
			<div id="message_fieldEdi" class="checkbox-box">
				<input name="message[product]" id="fieldEdi" type="radio" value="fieldEdi" data-show="field-edi"/>
				<label class="flex items-center" for="fieldEdi"> <span class="ml-9">{{ 'eExchange + EDI'|t }}</span> </label>
			</div>
            <div id="message_fieldStorage" class="checkbox-box">
				<input name="message[product]" id="fieldStorage" type="radio" value="fieldStorage" data-show="field-estorage"/>
				<label class="flex items-center" for="fieldStorage"> <span class="ml-9">{{ 'Long-term eStorage'|t }}</span> </label>
			</div>
			<div id="message_fieldStore" class="checkbox-box">
				<input name="message[product]" id="fieldStore" type="radio" value="fieldStore" data-show="field-store"/>
				<label class="flex items-center" for="fieldStore"> <span class="ml-9">{{ 'Foreign trade'|t }}</span> </label>
			</div>
			<div id="message_fieldElogistic" class="checkbox-box">
				<input name="message[product]" id="fieldElogistic" type="radio" value="fieldElogistic" data-show="field-elogistic"/>
				<label class="flex items-center" for="fieldElogistic"> <span class="ml-9">{{ 'Logistics - LogChain'|t }}</span> </label>
			</div>
			<div id="message_fieldEcompensation" class="checkbox-box">
				<input name="message[product]" id="fieldEcompensation" type="radio" value="fieldEcompensation" data-show="field-ecompensation"/>
				<label class="flex items-center" for="fieldEcompensation"> <span class="ml-9">{{ 'Chain compensations'|t }}</span> </label>
			</div>
		</div>
	</div>

    {% include '/_form/parts/eBills' %}
    {% include '/_form/parts/edi' %}
    {% include '/_form/parts/eStorage' %}
    {% include '/_form/parts/store' %}
    {% include '/_form/parts/eLogistic' %}
    {% include '/_form/parts/eCompensation' %}

	<div class="mb-8 space-y-2">
        <!--
		<div id="message_consentTerms">
			<label class="flex items-baseline" for="consentTerms">
				<input name="message[consentTerms]" id="consentTerms" type="checkbox" value="Da"/>
				{{ 'I allow the company ZZI d.o.o. retains and processes my personal data until revoked for the purposes described in detail here, which include monitoring my activities on the website and my interests in order to create personalized content and offers.'|t }}
			</label>
		</div>
     
		<div id="message_consentNews">
			<label class="flex items-baseline" for="consentNews">
				<input name="message[consentNews]" id="consentNews" type="checkbox" value="Da" />
				{{ 'I allow you to inform me about customized offers regarding ZZI / bizBox services and solutions.'|t }} 
			</label>
		</div>

		<div id="message_consentData">
			<label class="flex items-baseline" for="consentData">
				<input name="message[consentData]" id="consentData" type="checkbox" value="Da" />
				{{ 'I allow my personal data to be used for the purpose of informing about ZZI / bizBox services and solutions.'|t }}
			</label>
		</div>
        -->

        {{ 'We process your personal data based on a legitimate interest. You can read more about the processing of personal data in our'|t }} <a class="text-blue" href="{{ privacyPolicyUrl }}">{{ 'privacy policy'|t }}</a>.
	</div>

	<button type="submit" class="btn btn-primary mr-3">{{ 'Submit an inquiry'|t }} <i class="icon-arrow-right ml-2"></i></button>

    <div class="text-xl md:text-2xl font-bold my-6" data-response></div>
     {{ craft.contactFormExtensions.recaptcha | raw }}
</form>

<script>
    $( "input[data-show]" ).change(function( e ) {
        var data = $(this).attr('data-show');
        var el = $('#' + data);
        el.removeClass('hidden');

         $( "input[data-show]" ).not(this).each(function( e ) {
            var data = $(this).attr('data-show');
            var el = $('#' + data);
            el.addClass('hidden');
         });
    });

    $( "input[data-toggle]" ).change(function( e ) {
         var data = $(this).attr('data-toggle');
         var el = $('#' + data);
        if(e.target.checked) {
            el.removeClass('hidden');
        } else {
            el.addClass('hidden');
        }
    });

    $( "select[data-toggle]" ).change(function( e ) {
        var data = $(this).attr('data-toggle');
        var el = $('#' + data);
        if( $(this).val() == 'other') {
            el.removeClass('hidden');
        } else {
            el.addClass('hidden');
        }
    });
    fieldEbills

    $( "form#inquiry-form" ).submit(function( e ) {
        e.preventDefault();
        var form = $(this);
        $('.error-msg').remove();
        $.post({
            url: '',
            dataType: 'json',
            data: $(form).serialize(),
            success: function(response) {
                if (response.success) {
                    $(form).find('select').val('');
                    $(form).find('input[type="text"]').val('');
                    $(form).find('textarea').val('');
                    $(form).find('input[type="email"]').val('');
                    $(form).find('input[type="tel"]').val('');
                    $(form).find('input[type="radio"]').prop('checked', false);
                    $(form).find('input[type="checkbox"]').prop('checked', false);
                    $('[data-response]').html(response.message).addClass('text-blue').removeClass('text-red text-sm error-msg');
                } else {
                    const keys = Object.keys(response.errors);
                    keys.forEach((key, index) => {
                        const error = response.errors[key];
                        key =  key.replace('.', '_');
                        const $el = $('#' + key);
                        $el.addClass('has-error');
                        $('[data-response]').html('Preverite vnosno polje.').removeClass('text-blue').addClass('text-red text-sm error-msg');
                    });
                }
            }
        });
    });
</script>