<form name="" action="" method="post">
	{{ csrfInput() }}
	{{ redirectInput('thankyou') }}

	<input type="hidden" name="action" value="mailchimp-subscribe/audience/subscribe"/>

	{% set subscribeResponse = mailchimpSubscribe is defined and mailchimpSubscribe.action == 'subscribe' ? mailchimpSubscribe : null %}

	{% if subscribeResponse %}
		{% if not subscribeResponse.success %}
			<p>
				{{'An error has occurred'|t}}:
				{{ subscribeResponse.message }}
			</p>
		{% endif %}
	{% endif %}

	<div class="mb-6">
		<label class="label">E-mail</label>
		<input id="emailInput" type="text" class="form-control form-control-transparent" placeholder="{{'Enter your Email Address'|t}}" name="email" {% if subscribeResponse and not subscribeResponse.success %} value="{{ subscribeResponse.values.email ?? '' }}" {% endif %}/>
	</div>

	{{'By clicking Sign up for our newsletter, you give your consent to the processing and storage of your email address by ZZI d.o.o. for the purposes of sending the newsletter.'|t }}
	{{'You may withdraw your consent at any time by contacting us as: <a class="text-blue" href="mailto:gdpr@zzi.si">gdpr@zzi.si</a>.'|t|raw}}


	<div class="my-4">
		<button class="text-blue inline-flex items-center" type="button" data-readmore="#terms">{{'I want more information'|t }}
			<i class="ml-1 icon-chevron-down"></i>
		</button>
	</div>

	<div class="prose-item mb-6 hidden" id="terms">

		<p>{{'ZZI d.o.o. will also process your personal data for the purposes of conducting mild segmentation and monitoring the efficacy of the newsletter, all on the grounds of legitimate interest; more information is available <a href="/politikazasebnosti#">here</a>.'|t|raw }}.<br/><br/>
			{{'By clicking Sign up for our newsletter, you confirm that you are aware:'|t }}</p>
		<ul class="ml-5">
			{{'newsletter-consent-list'|t|raw }}
		</ul>
	</div>
	<!--<div class="relative">
																        <label for="terms" class="flex items-baseline">
																            <input type="checkbox" name="terms" value="1" id="terms" requried />
																            <span>{{ ('I agree to the Privacy Policy'|t (params = {privacyPolicy: privacyPolicyUrl}))|raw}}</span>
																        </label>
																    </div>
																    <div class="my-2">
																        <label for="conditions" class="flex items-baseline">
																        <input type="checkbox" name="conditions" value="1" id="conditions" requried />
																        {{'I allow my personal data to be used for the purpose of informing about ZZI / bizBox services and solutions.'|t}}
																        </label>
																    </div>
																    <div class="mb-5">
																        <label for="marketing" class="flex items-baseline">
																        <input type="checkbox" name="marketing" value="1" id="marketing" requried />
																        {{'I allow you to inform me about customized offers regarding ZZI / bizBox services and solutions.'|t}}
																        </label>
																    </div>-->

	<span class="btn btn-primary inline-block cursor-pointer">
		<input type="submit" class="cursor-pointer" value="{{'Sign up for the newsletter'|t}}"/><i class="icon-arrow-right"></i>
	</span>
	{{ craft.contactFormExtensions.recaptcha | raw }}
</form>

<script>
	jQuery(document).ready(function () {
$('[data-readmore]').click(function () {
var $this = $(this);
var $target = $($this.data('readmore'));
$target.removeClass('hidden');
});
});
</script>
