{% set pageEntries = craft.entries.section('reports').limit(3).orderBy('postDate desc').id('not ' ~ entry.id).all() %}

{% if pageEntries %}
	<div class="bg-blue-50 mt-8">
		<div class="container mx-auto px-4 py-12 lg:py-28 mb-8 lg:mb-0">
			<div class="flex items-center mb-12">
				<h4 class="text-4xl font-bold text-center">
					{{ 'Also check'|t }}
				</h4>
				<a href="{{ reportsUrl }}" class="inline-flex items-center ml-auto">{{ 'More'|t }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
			</div>

			<div class="grid gap-8 sm:gap-12 lg:grid-cols-2 mb-8">
				{% for item in pageEntries %}
                    {% include '/_snippet/content_horizontal' with {
                        category: item.reportsCategory
                    } %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
