{% set title = 'Guidelines and reports'|t %}

{% extends '_layouts/site' %}

{% set query = craft.entries.section('reports').limit(10).orderBy('postDate desc') %}

{% if category is defined %}
	{% set query = query.relatedTo(category) %}
{% endif %}

{% paginate query as pageInfo, pageEntries %}

{% block main %}
	{% include '/_snippet/breadcrumb' %}

	<div class="container mx-auto px-4 lg:mt-20 mt-8 mb-12 lg:mb-40">
		<div class="text-center">
			<h1 class="text-4xl md:text-5xl font-bold mb-12">
				{{ title }}
			</h1>

			{% include '/_snippet/categories' with {
				type: 'reports',
				all: 'All guidelines and reports'|t,
				url: reportsUrl
			} %}
		</div>


        <div class="grid gap-6 lg:gap-12 sm:grid-cols-2 lg:grid-cols-3 my-12 lg:my-20">
			{% for item in pageEntries|slice(0, 3) %}
				{% include '/_snippet/content_vertical' with {
					category: item.reportsCategory
				} %}
			{% endfor %}
		</div>

	    <section>
			{% for item in pageEntries|slice(3, 8) %}
				{% include '/_snippet/content_horizontal_full' with {
					category: item.reportsCategory
				} %}
			{% endfor %}
		</section>

		{% include '_snippet/pagination' %}


	</div>
{% endblock %}
