{#
	# News entry template
	# -------------------
	#
	# This template gets loaded when "/novice" is requested.
	#
-#}
{% set q = craft.app.request.getParam('q') %}

{% set limit = craft.app.request.getParam('limit', 9) %}

{% set searchSection = craft.app.request.getParam('search_section', ['stories', 'news', 'videos', 'docs']) %}

{% set count = craft.entries().section(searchSection|join(',')).search(q).count() %}

{% set query = craft.entries().section(searchSection|join(',')).search(q).orderBy('score').limit(limit) %}

{% paginate query as pageInfo, pageEntries %}

{% extends '_layouts/site' %}

{% set bodyClass = 'bg-page-hexes bg-contain bg-no-repeat' %}

{% block main %}
	<form method="get" action="{{ url('search/results') }}">
		{% include '/_snippet/breadcrumb' %}
		<div class="container mx-auto mt-6 mt-md-9 px-4">
			<h1 class="text-center font-bold text-4xl lg:text-5xl mb-2">
				{{ 'Search results'|t }}
			</h1>
			<div class="flex flex-row items-center border border-blue-100 p-1 bg-white rounded-[36px] mx-auto max-w-3xl my-12 lg:my-20">
				<i class="icon-search text-blue pl-4 pr-2"></i>
				<input type="text" class="border-0 rounded-[36px] placeholder:text-dark-700 focus:shadow-none" placeholder="{{ 'How can we help you?'|t }}" name="q" value="{{ q }}" />
				<button type="submit" class="btn btn-primary !px-12 !py-4"><span class="hidden sm:block">{{ 'Search'|t }}</span> <i class="icon-arrow-right !pl-0 sm:!pl-3"></i></button>
			</div>

			<p class="text-2xl lg:text-3xl mb-14">
				{{
					'Found {num} entries for "{q}"'
						|t(
							params = {
								num: count,
								q: q
							}
						)
						|raw
				}}
			</p>

			<div class="flex flex-wrap">
				<div class="w-full lg:w-1/3 mb-8">
					<div class="text-dark-500 uppercase tracking-wide text-sm mb-4">
						{{ 'Content types'|t }}
					</div>
					<div class="my-2">
						<input type="checkbox" name="search_section[]" value="news" id="news" {{ 'news' in searchSection ? 'checked' : '' }} /><label for="news">{{ 'News'|t }}</label>
					</div>
					<div class="my-2">
						<input type="checkbox" name="search_section[]" value="docs" id="docs" {{ 'docs' in searchSection ? 'checked' : '' }} /><label for="docs">{{ 'Documentation'|t }}</label>
					</div>
					<div class="my-2">
						<input type="checkbox" name="search_section[]" value="videos" id="videos" {{ 'videos' in searchSection ? 'checked' : '' }} /><label for="videos">{{ 'Video guides'|t }}</label>
					</div>
					<div class="my-2">
						<input type="checkbox" name="search_section[]" value="stories" id="stories" {{ 'stories' in searchSection ? 'checked' : '' }} /><label for="stories">{{ 'Success stories'|t }}</label>
					</div>
				</div>
				<div class="w-full lg:w-2/3">
					{% for entry in pageEntries %}
						{% set section = entry.getSection().name ?? null %}
						<div class="mb-3">
							{% if section %}
								<div class="text-dark-500 uppercase tracking-wide text-sm mb-2">
									{{ section|t }}
								</div>
							{% endif %}

							<h3 class="mb-2">
								<a href="{{ entry.url }}" class="text-2xl text-blue">{{ entry.title }}</a>
							</h3>

							{% if entry.plainText %}
								<p class="text-dark-600">
									{{ entry.plainText }}
								</p>
							{% endif %}
						</div>
						<hr class="my-5 border-t border-blue-100" />
					{% endfor %}
					{% include '_snippet/pagination' %}
				</div>
			</div>
		</div>
	</form>
{% endblock %}
