@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?4z5svp');
  src:  url('icomoon.eot?4z5svp#iefix') format('embedded-opentype'),
    url('icomoon.ttf?4z5svp') format('truetype'),
    url('icomoon.woff?4z5svp') format('woff'),
    url('icomoon.svg?4z5svp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel-circle:before {
  content: "\e91b";
}
.icon-check-circle:before {
  content: "\e91c";
}
.icon-reset:before {
  content: "\e91a";
}
.icon-network:before {
  content: "\e919";
}
.icon-download:before {
  content: "\e918";
}
.icon-support:before {
  content: "\e915";
}
.icon-Whatsapp:before {
  content: "\e916";
}
.icon-Viber:before {
  content: "\e917";
}
.icon-chevron-right:before {
  content: "\e914";
}
.icon-users:before {
  content: "\e913";
}
.icon-sm-arrow:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e90d";
}
.icon-home:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-doc-received:before {
  content: "\e907";
}
.icon-doc-send:before {
  content: "\e908";
}
.icon-play-circle:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-chevron-down:before {
  content: "\e90b";
}
.icon-chevron-up:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e90e";
}
