{% extends '_layouts/site' %}

{% set category = entry.newsCategory.one() ?? null %}
{% set fileUrl = entry.file.one() %}

{% block main %}
    <div class="container mx-auto">
        {% include '/_snippet/breadcrumb' %}
    </div>
	<div class="container mx-auto px-4">
		<div class="flex flex-col gap-6 md:gap-12 lg:gap-24 items-center justify-between py-10 md:flex-row">
			<div class="w-full md:w-1/2">
                {% if category %}
                    <a href="{{ category.getUrl() }} " class="text-blue text-sm tracking-wide block mb-2">{{ category }}</a>
                {% endif %}
			
				<h1 class="text-3xl md:text-5xl font-bold mb-6">
					{{ entry.title }}
				</h1>

                <span class="text-dark-500 text-base">{{ entry.postDate|date('d. M Y') }}</span>

				<p class="text-xl">
					{{ entry.reachText|raw }}
				</p>
			</div>
			<div class="w-full md:w-1/2">
				{% set image = entry.introImage.one() %}
				{% if image %}
					<img class="cover w-full rounded-2xl" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
				{% endif %}
			</div>
		</div>

        <div class="flex py-8">
            <div class="hidden lg:block w-2/12">
                <div class="flex flex-col space-y-3">
                    {% include ['/_snippet/share'] %}
                </div>
            </div>
            <div class="lg:w-8/12 w-full">
                {% include '/_includes/article_body' %}

                {% if fileUrl %}
                    <a href="{{ fileUrl.getUrl() }}" class="btn btn-primary mt-6">{{ 'Download the document'|t }} <i class="icon-download ml-3"></i></a>
                {% endif %}

            </div>
        </div>
        <div class="border-t border-blue-100 pt-8 text-center">
            <div class="flex items-center justify-center space-x-4">
                {% include ['/_snippet/share'] %}
            </div>
        </div>
	</div>
    {% include ['/news/_related'] %}
{% endblock %}
