
{% set cookies = craft.app.request.getRawCookies() %}

{% if '3_part_cookie_agree' in cookies|keys %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MWB8Q71WNB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MWB8Q71WNB');
    </script>
{% endif %}