{% if craft.app.language == 'en' %}
	{% set knowledgeBaseUrl = siteUrl ~ 'knowledge-base' %}
	{% set docsUrl = siteUrl ~ 'documents' %}
	{% set supportCenterFaqUrl = siteUrl ~ 'faq' %}
	{% set supportCenterUrl = siteUrl ~ 'support-center' %}
	{% set newsletterUrl = siteUrl ~ 'newsletter' %}
	{% set newsUrl = siteUrl ~ 'news' %}
	{% set inquiryUrl = siteUrl ~ 'inquiry' %}
	{% set successStoriesUrl = siteUrl ~ 'success-stories' %}
	{% set remoteAssistanceUrl = siteUrl ~ 'support/remote-assistance' %}
	{% set privacyPolicyUrl = siteUrl ~ 'privacy-policy' %}
	{% set partnersUrl = siteUrl ~ 'partners' %}
	{% set ecosystemUrl = siteUrl ~ 'products/bizbox-ecosystem' %}
	{% set edirectoryUrl = siteUrl ~ 'eDirectory' %}
	{% set cookiesUrl = siteUrl ~ 'cookie-policy' %}
{% endif %}

{% if craft.app.language == 'sl-SI' %}
	{% set knowledgeBaseUrl = siteUrl ~ 'aktualno/baza-znanja' %}
	{% set docsUrl = siteUrl  ~ 'podpora/dokumentacija' %}
	{% set supportCenterFaqUrl = siteUrl ~ 'podpora/pogosta-vprasanja' %}
	{% set supportCenterUrl = siteUrl ~ 'podpora-za-uporabnike' %}
	{% set newsletterUrl = siteUrl ~ 'enovice' %}
	{% set newsUrl = siteUrl ~ 'aktualno/novosti' %}
	{% set inquiryUrl = siteUrl ~ 'povprasevanje' %}
	{% set successStoriesUrl = siteUrl ~ 'aktualno/zgodbe-o-uspehu' %}
	{% set remoteAssistanceUrl = siteUrl ~ 'podpora/oddaljena-pomoc' %}
	{% set privacyPolicyUrl = siteUrl ~ 'politikazasebnosti' %}
	{% set partnersUrl = siteUrl ~ 'partnerji' %}
	{% set ecosystemUrl = siteUrl ~ 'partnerske-resitve' %}
	{% set edirectoryUrl = siteUrl ~ 'partnerske-resitve/eImenik' %}
	{% set cookiesUrl = siteUrl ~ 'piskotki' %}
{% endif %}

{% set linkedinUrl = 'https://si.linkedin.com/showcase/bizbox-eu' %}
{% set facebookUrl = 'https://www.facebook.com/BizBox.paperless' %}
{% set companyEmail = 'prodaja@bizbox.eu' %}
{% set companyEmailSupport = 'podpora@bizbox.eu' %}
{% set companyPhoneSupport = '+386 (0)1 530 33 21' %}
{% set companyPhoneDemand = '+386 (0)1 530 33 52' %}
{% set partnershipEmail = 'prodaja@bizbox.eu' %}
{% set partnershipSupportEmail = ' podpora@bizbox.eu' %}
{% set zziSupportEmail = ' prodaja@zzi.si' %}
{% set apiDocumentationUrl = 'https://demo.zzi.si/bizBox/views/login.xhtml?id=L2JpekJveFV0aWxzL3ZpZXdzL2FwaS9iaXpib3hFc3Rvcml0dmUueGh0bWw=' %}
{% set featuresUrl = 'https://app.swaggerhub.com/apis-docs/zzi.si/bizBoxServices/2.0.0' %}
{% set xmlDocumentationUrl = 'https://demo.zzi.si/bizBox/views/login.xhtml?id=L2JpekJveFV0aWxzL3ZpZXdzL2VzbG9nMjAvZG9jdW1lbnRhdGlvbi54aHRtbA==' %}
{% set testPortalUrl = 'https://demo.zzi.si/bizBox/viewspublic/user_profile/registration.xhtml' %}
{% set registerlUrl = 'https://bizbox.zzi.si/bizBox/viewspublic/user_profile/registration.xhtml' %}

{% set chatUrl = '#' %}
{% set viberUrl = '#' %}
{% set whatsappUrl = '#' %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="scroll-smooth">
	<head>
		{% block head %}
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

			{% hook 'seo' %}

			<!-- include font -->
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"/>

			<link
			type="text/css" rel="stylesheet" href="{{ alias('@web') }}/assets/fonts/style.css?v=1.00"/>

			<!-- include css -->
			<link
			type="text/css" rel="stylesheet" href="{{ alias('@web') }}/assets/css/style.css?v=1.00"/>

			<!-- include js -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
			<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

			<script src="{{ alias('@web') }}/assets/js/theme.js"></script>
			<script src="{{ alias('@web') }}/assets/js/partners.js"></script>
			<script src="{{ alias('@web') }}/assets/js/md-modal.js"></script>
			<script src="{{ alias('@web') }}/assets/js/cookie.js"></script>
			<script src="{{ alias('@web') }}/assets/js/animation.js"></script>
			<script src="https://unpkg.com/vue@3"></script>
			<script src="{{ alias('@web') }}/assets/js/jquery.viewportchecker.js"></script>

			<link rel="icon" type="image/png" sizes="32x32" href="{{ alias('@web') }}/assets/images/favicon.ico"/>

		{% endblock %}

		{% include ['/_layouts/3-part-cookie'] %}

	</head>
	<body class="flex min-h-screen flex-col font-body text-lg leading-8 text-dark-600"> {% block body %}{% endblock %}{% block foot %}{% endblock %}
		</body>
	</html>
