{# # The site layout template # # This layout template extends the _layouts/base.html layout, and defines the # main site layout: the header, footer, and main content area. # # It’s never accessed directly. Instead it is extended by all of our main site # templates. # # This template defines one
block region, `main`, which should be extended by # child templates to define the main contents for the page. -#}

{% extends "_layouts/base" %}

{% block body %}
	<div class="bg-blue-50 py-2">
		<div class="container mx-auto flex items-center justify-between px-4 text-base">
			<div class="flex-wrap hidden lg:flex">
				<div class="mr-5">
					<a href="{{ inquiryUrl }}" class="font-medium">{{ 'Demand'|t }}:</a>
					<a class="ml-3 inline-flex items-center" href="tel:{{ companyPhoneDemand }}">
						<i class="icon-phone mr-2 text-sm text-blue"></i>
						{{ companyPhoneDemand }}</a>
					<a class="ml-3 inline-flex items-center" href="mailto:{{ companyEmail }}">
						<i class="icon-mail mr-2 text-sm text-blue"></i>
						{{ companyEmail }}</a>
				</div>
				<div>
					<span class="font-medium">{{ 'Support'|t }}:</span>
					<a class="ml-3 inline-flex items-center" href="tel:{{ companyPhoneSupport }}">
						<i class="icon-phone mr-2 text-sm text-blue"></i>
						{{ companyPhoneSupport }}</a>
					<a class="ml-3 inline-flex items-center" href="mailto:{{ companyEmailSupport }}">
						<i class="icon-mail mr-2 text-sm text-blue"></i>
						{{ companyEmailSupport }}</a>
				</div>
			</div>
			<div class="flex items-center">
				<a href="{{ craft.app.sites.primarySite.baseUrl }}" class="p-1 {{ craft.app.language != 'en' ? 'text-blue' : '' }}">SI</a>
				<a href="{{ craft.app.sites.primarySite.baseUrl }}en" class="p-1 {{ craft.app.language == 'en' ? 'text-blue' : '' }}">EN</a>
			</div>
		</div>
	</div>
	<header class="container mx-auto px-4">
		<nav class="relative grid grid-cols-12 items-center gap-4 py-4">
			<a href="{{ url() }}" class="col-span-5 block flex-shrink-0 lg:col-span-2">
				<img src="{{ alias('@web/assets/images/bizBox-logo.svg') }} " width="153" title="" alt=""/>
			</a>

			{% set activeNode = craft.navigation.getActiveNode({ handle: 'mainMenu' }, true) %}
			{% set nodes = craft.navigation.nodes().handle('mainMenu').all() %}

			<ul class="main-menu col-span-8 hidden justify-center text-lg lg:flex lg:flex-grow">
				{% nav node in nodes %}
				<li class="{% if node.active %}active{% endif %} relative">
					{% if node.url %}
						<a href="{{ node.url }}" class="inline-block leading-7 cursor-pointer {{ node.classes }}">{{ node.title }}</a>
					{% else %}
						<span class="inline-block leading-7 cursor-pointer {{ node.classes }}">{{ node.title }}</span>
					{% endif %}
					{% ifchildren %}
					<ul class="absolute top-12 left-1/2 z-20 hidden w-[540px] -translate-x-1/2 flex-wrap rounded-lg bg-white p-6 leading-8 shadow sm:px-6 sm:pt-8 sm:pb-6">
						{% children %}
					</ul>
					{% endifchildren %}
				</li>
				{% endnav %}
			</ul>

			<div class="col-span-7 flex items-center justify-end space-x-3 lg:col-span-2">
				<a href="https://bizbox.zzi.si/" class="btn-outline" target="_blank">{{ 'Entry'|t }}
					<i class="icon-arrow-right text-white"></i>
				</a>
				<a href="#" data-modal="md-search" class="p-2 md-trigger">
					<i class="icon-search text-dark-500"></i>
				</a>
				<a href="#" class="menu-toggler p-2">
					<i class="icon-menu text-dark-500"></i>
				</a>

				<div class="menu-collapse absolute top-full right-0 z-30 hidden w-full max-w-[1284px] rounded-md bg-white shadow">
					<div class="max-h-[70vh] overflow-y-auto">
						<div class="divide-y divide-blue-100 text-base">
							<ul class="mega-menu grid divide-blue-100 py-[40px] leading-8 sm:grid-cols-2 md:grid-cols-5 md:divide-x">
								{% nav node in nodes %}
								<li class="{% if node.active %}active{% endif %} flex-1">
									{% if node.url %}
										<a href="{{ node.url }}" class="{{ node.classes }}">{{ node.title }}</a>
									{% else %}
										<span class="{{ node.classes }}">{{ node.title }}</span>
									{% endif %}
									{% ifchildren %}
									<ul class="flex flex-col text-base font-normal">
										{% children %}
									</ul>
									{% endifchildren %}
								</li>
								{% endnav %}
							</ul>
							{% if craft.app.language == 'sl-SI' %}
								<div class="grid py-[40px] leading-8 sm:grid-cols-2 md:grid-cols-4">
									<a href="#" class="hidden px-5 sm:px-[40px]">
										{{ 'Configurator'|t }}</a>
									<a href="{{ ecosystemUrl }}" class="px-5 sm:px-[40px]">
										{{ 'bizBox in your application'|t }}</a>
									<a href="{{ edirectoryUrl }}" class="px-5 sm:px-[40px]">
										{{ 'Recipient directory'|t }}</a>
									<a href="{{ newsUrl }}" class="px-5 sm:px-[40px]">
										{{ 'News'|t }}</a>
								</div>
							{% endif %}
						</div>
						<div class="grid divide-blue-200 rounded-b-md bg-blue-100 py-6 sm:grid-cols-2 lg:grid-cols-4 lg:divide-x text-base">
							<div class="mb-4 px-5 sm:px-[40px] lg:mb-0">
								<p class="mb-4 font-medium">{{ 'Demands'|t }}</p>
								<p class="mb-3">
									<a href="tel:{{ companyPhoneDemand }}">
										<i class="icon-phone mr-3 text-blue"></i>
										{{ companyPhoneDemand }}</a>
								</p>
								<p>
									<a href="mailto:{{ companyEmail }}">
										<i class="icon-mail mr-3 text-blue"></i>
										{{ companyEmail }}</a>
								</p>
							</div>
							<div class="mb-4 px-5 sm:px-[40px] lg:mb-0">
								<p class="mb-4 font-medium">{{ 'Support'|t }}</p>
								<p class="mb-3">
									<a href="tel:{{ companyPhoneSupport }}">
										<i class="icon-phone mr-3 text-blue"></i>
										{{ companyPhoneSupport }}</a>
								</p>
								<p>
									<a href="mailto:{{ companyEmailSupport }}">
										<i class="icon-mail mr-3 text-blue"></i>
										{{ companyEmailSupport }}</a>
								</p>
							</div>
							<div class="px-5 sm:px-[40px]">
								<p class="mb-3 font-medium">{{ 'For members'|t }}</p>
								<a href="https://bizbox.zzi.si/" class="btn btn-xs btn-primary my-1 pr-2" target="_blank">{{ 'Entry'|t }}
									<i class="icon-arrow-right"></i>
								</a>
								<a href="https://bizbox.zzi.si/bizBox/viewspublic/user_profile/registration.xhtml" class="btn btn-xs btn-primary my-1 pr-2" target="_blank">{{ 'Register'|t }}
									<i class="icon-arrow-right"></i>
								</a>
							</div>
							<div class="mt-4 px-5 sm:mt-0 sm:px-[40px]">
								<p class="mb-4 font-medium">{{ 'Follow us'|t }}</p>
								<a href="{{ facebookUrl }}" target="_blank" class="mr-2 inline-block"><img src="{{ alias('@web/assets/images/svg/sm-fb.svg') }} " width="35" title="Facebook" alt="Facebook"/></a>
								<a href="{{ linkedinUrl }}" target="_blank" class="mr-2 inline-block"><img src="{{ alias('@web/assets/images/svg/sm-linkedin.svg') }} " width="35" title="LinkedIn" alt="LinkedIn"/></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main id="main" role="main" class="{% if bodyClass is defined %} {{ bodyClass }} {% endif %}">
		{% block main %}{% endblock %}
	</main>

	{% include '_snippet/supportFloat' %}

	<footer class="mt-auto text-base">
		<div class="relative pt-8 after:absolute after:left-0 after:right-0 after:bottom-0 after:-z-10 after:h-48 after:bg-blue-50 after:content-[''] md:pt-24">
			<div class="container mx-auto px-4">
				<div class="flex flex-col md:flex-row md:space-x-12">
					<div class="w-full md:w-1/2">
						<div class="flex h-full flex-col items-start rounded-lg bg-white py-8 px-6 md:px-[40px]">
							<a href="{{ newsletterUrl }}">
								<img class="mb-4" src="{{ alias('@web/assets/images/content/newsletter.png') }}" height="230" width="296" title="" alt=""/>
							</a>
							<div class="mt-auto mb-4 text-[22px] font-bold">{{ 'Stay up to date!'|t }}</div>
							<p class="mb-6 text-lg">{{ 'Sign up for eNews where we will keep you informed about promotions, events and news on the bizBox platform.'|t }}</p>
							<a href="{{ newsletterUrl }}" class="btn btn-primary btn-sm">{{ 'Sign up for the newsletter'|t }}
								<i class="icon-arrow-right"></i>
							</a>
						</div>
					</div>
					<div class="w-full md:w-1/2">
						<div class="flex h-full flex-col items-start rounded-lg bg-white py-8 px-6 md:px-[40px]">
							<a href="https://bizbox.zzi.si/bizBox/viewspublic/user_profile/registration.xhtml" target="_blank"><img class="mb-4" src="{{ alias('@web/assets/images/content/register.png') }}" height="230" width="465" title="" alt=""/></a>
							<div class="mt-auto mb-4 text-[22px] font-bold">{{ 'Get started today!'|t }}</div>
							<p class="mb-6 text-lg">{{ 'Become a bizBox user and automate the entire process of your business today!'|t }}</p>
							<a href="https://bizbox.zzi.si/bizBox/viewspublic/user_profile/registration.xhtml" target="_blank" class="btn btn-primary btn-sm">{{ 'Register'|t }}
								<i class="icon-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-blue-50 pt-10">
			<div class="container mx-auto divide-y divide-blue-100 px-4">
				<div class="-mx-4 flex flex-wrap py-10">
					<div class="mb-6 w-full px-4 sm:w-1/2 md:w-1/3 lg:mb-0 lg:w-1/5">
						<div class="mb-3 block text-lg font-medium">bizBox</div>
						{{ craft.navigation.render('footerBizbox', { ulClass: 'leading-8', liClass: 'block', aClass: '', activeClass: '', }) }}
					</div>
					<div class="mb-6 w-full px-4 sm:w-1/2 md:w-1/3 lg:mb-0 lg:w-1/5">
						<div class="mb-3 block text-lg font-medium">{{ 'The rest'|t }}</div>
						{{ craft.navigation.render('footerOther', { ulClass: 'leading-8', liClass: 'block', aClass: '', activeClass: '', }) }}
					</div>

					<div class="mb-6 w-full px-4 sm:w-1/2 md:w-1/3 lg:mb-0 lg:w-1/5">
						<div class="mb-3 block text-lg font-medium">{{ 'Support'|t }}</div>
						{{ craft.navigation.render('footerSupport', { ulClass: 'leading-8', liClass: 'block', aClass: '', activeClass: '', }) }}
					</div>

					<div class="mb-6 w-full px-4 sm:w-1/2 lg:mb-0 lg:w-1/5">
						<div class="mb-3 block text-lg font-medium">{{ 'Contacts'|t }}</div>
						<p class="mb-4 font-medium">{{ 'Demands'|t }}</p>
						<p class="mb-3">
							<a href="tel:{{ companyPhoneDemand }}">
								<i class="icon-phone mr-3 text-blue"></i>
								{{ companyPhoneDemand }}</a>
						</p>
						<p>
							<a href="mailto:{{ companyEmail }}">
								<i class="icon-mail mr-3 text-blue"></i>
								{{ companyEmail }}</a>
						</p>

						<p class="my-4 font-medium">{{ 'Support'|t }}</p>
						<p class="mb-3">
							<a href="tel:{{ companyPhoneSupport }}">
								<i class="icon-phone mr-3 text-blue"></i>
								{{ companyPhoneSupport }}</a>
						</p>
						<p>
							<a href="mailto:{{ companyEmail }}">
								<i class="icon-mail mr-3 text-blue"></i>
								{{ companyEmail }}</a>
						</p>
					</div>
					<div class="mb-6 w-full px-4 sm:w-1/2 lg:mb-0 lg:w-1/5">
						<a href="{{ url() }}" class="mb-4 block">
							<img src="{{ alias('@web/assets/images/bizBox-logo.svg') }} " width="153" title="" alt=""/>
						</a>

						<p class="mt-6 mb-4 font-medium">{{ 'Follow us'|t }}</p>
						<a href="{{ facebookUrl }}" target="_blank" class="mr-2 inline-block"><img src="{{ alias('@web/assets/images/svg/sm-fb.svg') }} " width="35" title="Facebook" alt="Facebook"/></a>
						<a href="{{ linkedinUrl }}" target="_blank" class="mr-2 inline-block"><img src="{{ alias('@web/assets/images/svg/sm-linkedin.svg') }} " width="35" title="LinkedIn" alt="LinkedIn"/></a>
					</div>
				</div>
				<div class="flex flex-wrap items-center justify-center py-8 lg:justify-start">
					<span class="flex-[0_0_100%] py-3 text-left text-lg sm:text-center lg:flex-none lg:pr-12 lg:text-left">{{ 'We work closely with'|t }}:</span>
					<div class="flex flex-wrap items-center">
						<a href="https://epos.si/" target="_blank" class="block py-3 pr-12">
							<img src="{{ alias('@web/assets/images/logos/epos.png') }} " width="174" title="Center za ePoslovanje Slovenije" alt="Center za ePoslovanje Slovenije"/>
						</a>
						<a href="https://www.gov.si/drzavni-organi/organi-v-sestavi/uprava-za-javna-placila/" target="_blank" class="block py-3 pr-12">
							<img src="{{ alias('@web/assets/images/logos/ujp.png') }} " width="265" title="RS Ministrstvo za finance" alt="RS Ministrstvo za finance"/>
						</a>
						<a href="https://www.gs1si.org/" target="_blank" class="block py-3 pr-12">
							<img src="{{ alias('@web/assets/images/logos/gs1.png') }} " width="76" title="GS1 Slovenija" alt="GS1 Slovenija"/>
						</a>

						<a href="https://www.gzs.si/zdruzenje_za_informatiko_in_telekomunikacije" target="_blank" class="block py-3 pr-12">
							<img src="{{ alias('@web/assets/images/logos/zit.png') }} " width="76" title="Združenje za informatiko in telekomunikacije" alt="Združenje za informatiko in telekomunikacije"/>
						</a>
					</div>
				</div>
				<div class="flex flex-col flex-wrap items-center py-4 text-sm text-dark-600 sm:flex-row">
					<div class="order-2 text-center sm:order-1 sm:w-2/6 sm:text-left">© bizBox, 2022. Powered by ZZI d.o.o.,
						{{ 'All rights reserved'|t }}.</div>
					<div class="order-1 text-center sm:order-2 sm:w-2/6">
						<a href="https://www.zzi.si/" target="_blank" class="inline-block">
							<img src="{{ alias('@web/assets/images/logos/zzi.svg') }} " width="75" title="ZZi" alt="ZZi"/>
						</a>
					</div>
					<div class="order-3 sm:w-2/6">
						{% set nodes = craft.navigation.nodes().handle('footerCopyright').all() %}
						<ul class="text-center sm:text-right space-x-4">
							{% nav node in nodes %}
							<li class="inline-block">
								<a href="{{ node.url }}" class="{{ node.classes }}">{{ node.title }}</a>
							</li>
							{% endnav %}
						</ul>
						{# craft.navigation.render('footerCopyright', { ulClass: 'text-center sm:text-right space-x-6', liClass: 'inline-block'}) #}
					</div>
				</div>
			</div>
		</div>
	</footer>

	{% include '_modals/md_search' %}
	{% include '_modals/md_cookie'  %}

{% endblock %}
