{#
# Front pagetemplate
# -------------------
-#}
{% set bodyClass = 'error-page' %}

{% extends '_layouts/site' %}

{% set bodyClass = 'bg-page-hexes bg-contain bg-no-repeat' %}

{% block main %}
	<div class="container mx-auto my-9">
		<div class="w-1/2 mx-auto text-center pt-12 md:pt-20">
			<img src="{{ alias('@web/assets/images/404.svg') }} " width="400" title="404" alt="404" class="inline" />
			<h1 class="text-5xl font-bold my-5">
				{{ '404 error'|t }}
			</h1>
			<p class="text-lg text-dark-600 mb-6 max-w-xl mx-auto">
				{{ 'Sorry, the page you are looking for does not exist! Check the entered web address, or use the option to search our pages. Thanks.'|t }}
			</p>
			<a href="{{ url() }}" class="btn btn-primary">{{ 'Back to homepage'|t }}<i class="icon-arrow-right ml-2"></i></a>
		</div>
	</div>
{% endblock %}
