{% extends '_layouts/site' %}

{% block main %}
	{% include '/_snippet/breadcrumb' %}
	<div class="container mx-auto my-4 px-4">
		<div class="w-full lg:w-8/12 mx-auto">
			<h1 class="text-3xl md:text-4xl font-bold mb-6">
				{{ entry.title }}
			</h1>
			{% include '/_includes/article_body' %}
		</div>
	</div>
{% endblock %}
