{#
# Front pagetemplate
# -------------------
-#}

{% extends '_layouts/site' %}

{% set bodyClass = 'bg-page-hexes bg-contain bg-no-repeat' %}

{% block main %}
    <div class="container mx-auto">
        {% include '/_snippet/breadcrumb' %}
    </div>
	<div class="container mx-auto mt-12 px-4">
		<div class="w-full lg:w-8/12 mx-auto">
			<div class="items-center flex">
				<div class="w-full md:w-2/3">
					<h1 class="text-3xl md:text-5xl font-bold text-gray-800 mb-4">
						{{'Stay up to date!'|t}}
					</h1>
					<p class="text-gray-600">
                    {{'Sign up for eNews where we will keep you informed about promotions, events and news on the bizBox platform.'|t}}
					</p>
				</div>
				<div class="hidden md:block w-full md:w-1/3 mx-auto text-center">
					<img src="{{ alias('@web/assets/images/newsletter.png') }} " width="260" title="" alt="" />
				</div>
			</div>
            {% include '/_form/newsletter' %}
		</div>
	</div>
{% endblock %}
