<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="sl" xml:lang="sl" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			BizBox
		</title>

		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto:300,400,500,700&display=swap&subset=latin-ext" rel="stylesheet" />
		<style type="text/css">
			body { color: #505a78; } a { text-decoration: none; color: #0052f3; text-decoration: underline; }
		</style>
	</head>

	<body style="margin: 0; padding: 0; font-family: 'Roboto', sans-serif; line-height: 1.65; font-weight: 300; font-size: 17px; background-color: #f7f9fc">
		<table style="margin: 0 auto; padding: 24px 0 0; max-width: 680px" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td>
					<table style="max-width: 680px; padding: 48px 48px 32px; background-color: #fff; min-width: 680px; width: 100%; margin: 0 auto" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td>
								<table style="width: 100%; margin-bottom: 20px" cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td style="text-align: center">
											<img src="{{ alias('@web/assets/images/biz-box-logo.png') }}" width="152" heght="52" />
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
                                Hvala za oddano povpraševanje na portal bizBox.eu. V kratkem vas bomo konktaktirali s strani prodaje. V nadaljevanju lahko pregledate vaše povpraševanje.<br/><br/>
								<table style="width: 100%; border: solid 1px #e7e8ee" cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td colspan="2" style="padding: 24px 16px; border-bottom: solid 1px #e7e8ee">
											<p style="margin: 0 0 6px; font-weight: bold">
												Kontaktni podatki
											</p>
											<p style="margin: 0; font-size: 14px; color: #6e798b">
												Davčna številka: <span style="color: #00b8f1">{{ submission.message.fromTaxId }}</span>
											</p>
											<p style="margin: 0; font-size: 14px; color: #6e798b">
												Podjetje: <span style="color: #00b8f1">
													{% if submission.message.fromCompany is defined %}
														{{ submission.message.fromCompany }}
													{% endif %}
												</span>
											</p>
											<p style="margin: 0; font-size: 14px; color: #6e798b">
												Kontaktna oseba: <span style="color: #00b8f1">{{ submission.fromName }}</span>
											</p>
											<p style="margin: 0; font-size: 14px; color: #6e798b">
												Email: <span style="color: #00b8f1">{{ submission.fromEmail }}</span>
											</p>
											<p style="margin: 0; font-size: 14px; color: #6e798b">
												Telefon: <span style="color: #00b8f1">{{ submission.message.fromPhone }}</span>
											</p>
											<p style="margin: 0; font-size: 14px; color: #6e798b">
												Dodatna opomba: <span style="color: #00b8f1">
													{% if submission.message.fromNotes is defined %}
														{{ submission.message.fromNotes }}
													{% endif %}
												</span>
											</p>
										</td>
									</tr>

									{% include '/_emails/parts/eBills' %}
									{% include '/_emails/parts/edi' %}
									{% include '/_emails/parts/eStorage' %}
									{% include '/_emails/parts/store' %}
									{% include '/_emails/parts/eLogistic' %}
									{% include '/_emails/parts/eCompensation' %}

                                    <!--
									<tr>
										<td colspan="2" style="padding: 24px 16px; border-bottom: solid 1px #e7e8ee">
											<p style="margin: 0 0 6px; font-weight: bold">
												Soglasja
											</p>
											<p style="margin: 0 0 12px; font-size: 14px; color: #6e798b">
												Dovoljujem, da podjetje ZZI d.o.o. moje osebne podatke do preklica hrani in obdeluje za namene, podrobno opisane tukaj, ki vključujejo spremljanje mojih aktivnosti na spletni strani ter mojih zanimanj z namenom oblikovanja personaliziranih vsebin in
												ponudb.<span style="color: #00b8f1">
													{% if submission.message.consentTerms is defined %}
														{{ submission.message.consentTerms }}
													{% else %}
														Ne
													{% endif %}
												</span>
											</p>
											<p style="margin: 0 0 12px; font-size: 14px; color: #6e798b">
												Dovoljujem, da me obveščate o prilagojenih ponudbah glede storitev in rešitev ZZI / bizBox.<span style="color: #00b8f1">
													{% if submission.message.consentNews is defined %}
														{{ submission.message.consentNews }}
													{% else %}
														Ne
													{% endif %}
												</span>
											</p>
											<p style="margin: 0 0 12px; font-size: 14px; color: #6e798b">
												Dovoljujem, da se moje osebne podatke uporabi za namene obveščanja o storitvah in rešitvah ZZI/bizBox.<span style="color: #00b8f1">
													{% if submission.message.consentData is defined %}
														{{ submission.message.consentData }}
													{% else %}
														Ne
													{% endif %}
												</span>
											</p>
										</td>
									</tr>
                                    -->
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="max-width: 700px; margin: 0 auto; text-align: center; padding: 20px 0; font-size: 17px; color: #797f91; font-size: 14px" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td>
								<p style="margin: 12px 0 24px">
									© bizBox, 2020. Powered by ZZI d.o.o., Vse pravice pridržane.
								</p>
								<hr style="width: 150px; height: 1px; background-color: #cccedc; margin: 24px auto; border: none" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
