<div class="mx-auto px-4 md:px-14 py-6 md:py-20 text-center">
	<div class="container mx-auto">
		<div class="mb-6 text-sm uppercase tracking-wider text-dark-500">
			{{ 'Partnership solutions'|t }}
		</div>
		<h2 class="mb-6 text-4xl md:text-5xl font-bold">
			{{ 'bizBox in your favorite apps'|t }}
		</h2>
		<p class="mx-auto md:w-2/3 text-dark-600">
			{{ 'Partnership solutions desc'|t }}
		</p>
	</div>

    <div class="mb-4 py-6 md:py-14">
        <picture class="block">
            <source media="(max-width:768px)" srcset="{{ alias('@web/assets/images/content/bizbox-partners-mobile.png') }}">
            <img class="mx-auto" src="{{ alias('@web/assets/images/content/bizbox-partners.png') }}" title="Bizbox partners" alt="Bizbox partners">
        </picture>
    </div>

	<a href="{{ ecosystemUrl }}" class="inline-flex flex-1 items-center justify-center p-5">{{ 'All partner solutions'|t }} <i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
</div>
