<div class="my-12 py-9">



    <p> {{ 'By registering in bizBox you will gain access to our bizBox test portal for checking API documentation, checking and using REST API functions (login function, receive and send functions…) and access to Documentation of individual XML documents in eSlog 2.0.'|t }}</p>
    <p>{{ 'In order to start using it, you must first register.'|t }}</p>

    <div class="py-2"><a target="_blank" href="{{ testPortalUrl }}" class="btn btn-primary">{{ 'bizBox test portal'|t }}<i class="icon-arrow-right"></i></a></div>

    <p class="mt-6 mb-2">{{ 'After registration you can access:'|t }}</p>
    <div class="py-2"><a target="_blank" href="{{ apiDocumentationUrl }}" class="btn btn-primary">{{ 'API documentation'|t }}<i class="icon-arrow-right"></i></a></div>
    
    <p class="mt-6 mb-2">{{ 'Link to REST interface:'|t }}</p>
    <div class="py-2"><a target="_blank" href="{{ featuresUrl }}" class="btn btn-primary">{{ 'Check and use features'|t }}<i class="icon-arrow-right"></i></a></div>
    
    <div class="py-2"><a target="_blank" href="{{ xmlDocumentationUrl }}" class="btn btn-primary">{{ 'XML documentation'|t }}<i class="icon-arrow-right"></i></a></div>

    <p class="mt-6 mb-2">{{ 'After completing the above steps, with our support, adjust the settings of test companies with the possibility of testing e-exchange documents.'|t }}</p>
  
</div>


	<h4 class="text-3xl font-bold mb-6">
		{{ 'Contacts'|t }}
	</h4>

	<div class="flex lg:flex-row flex-col gap-3 space-y-6 mb-8">
		<div class="flex sm:space-x-24 flex-col sm:flex-row space-y-6 sm:space-y-0">


			<div>
				<div class="mb-4 font-medium">
					{{ 'Integration, documentation'|t }}
				</div>
				<div class="mb-3">
					<a href="tel:{{ companyPhoneSupport }}"><i class="icon-phone mr-3 text-blue"></i>{{ companyPhoneSupport }}</a>
				</div>
				<div>
					<a href="mailto:{{ partnershipSupportEmail }}"><i class="icon-mail mr-3 text-blue"></i>{{ partnershipSupportEmail }}</a>
				</div>
			</div>

            <div>
				<div class="mb-4 font-medium">
					{{ 'bizBox partnership'|t }}
				</div>
				<div class="mb-3">
					<a href="tel:{{ companyPhoneDemand }}"><i class="icon-phone mr-3 text-blue"></i>{{ companyPhoneDemand }}</a>
				</div>
				<div>
					<a href="mailto:{{ partnershipEmail }}"><i class="icon-mail mr-3 text-blue"></i>{{ partnershipEmail }}</a>
				</div>
			</div>
		</div>

	</div>
