<div class="border-blue-100 border-b border-t my-12 py-9">
	<h4 class="text-3xl font-bold mb-6">
		{{ 'Contacts'|t }}
	</h4>

	<div class="flex lg:flex-row flex-col space-y-6">
		<div class="flex sm:space-x-24 flex-col sm:flex-row space-y-6 sm:space-y-0">
        
            <div>
				<div class="mb-4 font-medium">
					{{ 'Support'|t }}
				</div>
				<div class="mb-3">
					<a href="tel:{{ companyPhoneSupport }}"><i class="icon-phone mr-3 text-blue"></i>{{ companyPhoneSupport }}</a>
				</div>
				<div>
					<a href="mailto:{{ companyEmailSupport }}"><i class="icon-mail mr-3 text-blue"></i>{{ companyEmailSupport }}</a>
				</div>
			</div>

			<div>
				<div class="mb-4 font-medium">
					{{ 'Demands'|t }}
				</div>
				<div class="mb-3">
					<a href="tel:{{ companyPhoneDemand }}"><i class="icon-phone mr-3 text-blue"></i>{{ companyPhoneDemand }}</a>
				</div>
				<div>
					<a href="mailto:{{ companyEmail }}"><i class="icon-mail mr-3 text-blue"></i>{{ companyEmail }}</a>
				</div>
			</div>

		</div>
		<div class="flex items-center lg:justify-end flex-1 space-x-6 hidden">
			<a href="{{ whatsappUrl }}" class="btn btn-primary">WhatsApp <i class="icon-arrow-right"></i></a>
			<a href="{{ viberUrl }}" class="btn btn-primary">Viber <i class="icon-arrow-right"></i></a>
		</div>
	</div>
</div>
