{% set todayTransactionsSum = craft.feedme.feed({
    url: 'https://bizbox.zzi.si/BizBoxAnalitics-AZ-WS-91-85/BizBoxAnaliticsRpc/BizBoxAnalitics/todayTransactionsSum',
    type: 'json',
}) %}

{% set todayAreas = craft.feedme.feed({
    url: 'https://bizbox.zzi.si/BizBoxAnalitics-AZ-WS-91-85/BizBoxAnaliticsRpc/BizBoxAnalitics/todayAreas',
    type: 'json',
}) %}

{% set totalUsers = craft.feedme.feed({
    url: 'https://bizbox.zzi.si/BizBoxAnalitics-AZ-WS-91-85/BizBoxAnaliticsRpc/BizBoxAnalitics/totalUsers',
    type: 'json',
}) %}

{# todayAreas | json_encode #}

{% set counters = todayAreas.result.counters ?? [] %}

{% set todayAreas = 0 %}

{% for node in counters %}
   {% set todayAreas = todayAreas + node.number ?? '0' %}
{% endfor %}

<div class="animation slideBottomToTop container mx-auto px-4 my-12 lg:my-20">
	<div class="-px-4 flex flex-col md:flex-row">
		<div class="flex-1 py-4 px-4 text-center">
			<i class="icon-users mb-4 block text-4xl text-blue"></i>
			<div class="mb-1 text-3xl font-bold text-dark-700 counter" data-count="{{ totalUsers.result.number ?? '0' }}">
				0
			</div>
			<div class="text-dark-600">
				{{ 'Bizbox e-exchange users'|t }}
			</div>
		</div>
		<div class="v flex-1 py-4 text-center">
			<i class="icon-doc-send mb-4 block text-4xl text-orange"></i>
			<div class="mb-1 text-3xl font-bold text-dark-700 counter" data-count="{{ todayTransactionsSum.result.number ?? '0' }}">
				0
			</div>
			<div class="text-dark-600">
				{{ 'transactions today'|t }}
			</div>
		</div>
		<div class="flex-1 py-4 px-4 text-center">
			<i class="icon-doc-received mb-4 block text-4xl text-green"></i>
			<div class="mb-1 text-3xl font-bold text-dark-700 counter" data-count="{{ todayAreas }}">
				0
			</div>
			<div class="text-dark-600">
				{{ 'exchanged documents today'|t }}
			</div>
		</div>
	</div>
</div>
