<div class="container mx-auto mb-16 px-4 md:mb-24 lg:mb-40">
	<div class="bg-dark-600 rounded-lg text-white text-center px-6 py-14 bg-[url('../images/bg/hexes.svg')] bg-contain bg-no-repeat">
		<h2 class="mb-6 text-3xl md:text-4xl font-bold !text-white">
			{{ 'Digitize your business'|t }}
		</h2>
		<p class="mx-auto md:w-1/2">
			{{ 'Digitize-description'|t }}
		</p>

		<a href="#" data-modal="md-video" class="inline-block md-trigger"><img class="mx-auto rounded-lg mt-6" src="{{ alias('@web/assets/images/content/video-link.jpg') }} " width="620" title="" alt="" /></a>
	</div>
</div>

<div class="md-modal invisible fixed top-1/2 left-1/2 z-30 -translate-x-1/2 -translate-y-1/2 px-6 w-full lg:max-w-7xl" id="md-video">
	<button class="md-close absolute right-0 -top-5 z-30 cursor-pointer"><i class="icon-close text-white"></i></button>
	<iframe class="w-full aspect-video rounded-lg shadow-lg" width="860" height="484" id="intro" src="https://www.youtube.com/embed/_UBhCK-60SQ" title="YouTube video player" frameborder="0" allowfullscreen allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>

<div class="md-overlay top-0 bottom-0 left-0 right-0 bg-dark-700/80 z-20"></div>
