{% set blocks = entry.extraInfo %}

{% if blocks|length %}

    <div class="bg-blue-50 py-20 md:pt-28 md:pb-20 mb-10">
        <div class="container mx-auto px-4">
            <div class="text-center">
                <div class="mb-12 text-3xl font-bold md:text-4xl">
                    {{ 'More information'|t }}
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-4 sm:gap-12 justify-center">

                {% for i, block in blocks.all() %}
                    {% set type = block.type.handle %}

                    {% if block.UrlLink.one() %}
                        <div class="w-full md:w-1/3">
                            <a href="{{ block.UrlLink.one().url }}" class="flex flex-col gap-6 sm:flex-row md:flex-col">
                                {% set image = block.introImage.one() %} {% if image %}
                                    <span class="cover block aspect-[8/5] sm:max-w-[200px] md:max-w-fit"><img class="block h-full w-full rounded-xl object-cover" src="{{ image.getUrl() }}" alt="{{ image.title }}" /></span>
                                {% endif %}

                                <h4 class="mb-6 text-xl font-bold lg:text-2xl">
                                    {{ block.heading }}
                                </h4>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}
