
<div class="bg-blue-50 pt-16 pb-8 mt-8 md:mt-12 mb-16 md:mb-24">
    <div class="container mx-auto px-4">
    {% set pageEntries = craft.entries.section('news').highlightNews('not 0').limit(10).orderBy('postDate desc').all() %}

    {% if pageEntries %}
        <section class="" data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay": false,"prevNextButtons":false, "wrapAround": true, "pageDots":true, "lazyLoad": "true", "groupCells": true}'>
            {% for item in pageEntries %}
                <div class="w-full sm:w-[396px] mr-12">
                
                    {% set url = item.type.handle == 'link' ? item.linkUrl : item.url %}
                    {% set image = item.introImage.one() ?? null %}

                    <article class="w-full sm:flex sm:items-center sm:gap-4">
                        {% if image %}
                            <a class="block mb-3 sm:mb-0" href="{{ url }}">
                                <img class="rounded-md sm:w-44 object-cover w-full aspect-[3/2]" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
                            </a>
                        {% endif %}

                        <div class="flex-1">

                            {% if item.getSection().handle in ['news', 'docs'] %}
                                <span class="text-dark-500 text-sm">{{ item.postDate|date('d. M Y') }}</span>
                            {% endif %}

                            <h3 class="text-lg font-bold line-clamp-3">
                                <a href="{{ url }}">{{ item.title }}</a>
                            </h3>

                        </div>
                    </article>

                </div>
            {% endfor %}
        </section>

    {% endif %}
    </div>
    <div class="container mx-auto text-center mt-14">
    <a href="{{ newsUrl }}" class="inline-flex flex-1 items-center justify-center p-5">{{ 'All news and announcements'|t }} <i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
    </div>
</div>
