{% set pageEntries = craft.entries.section('knowledgeBase').limit(3).orderBy('postDate desc').all() %}

<div class="bg-blue-50">
	<div class="container px-4 mx-auto py-12 lg:py-28 mb-8 lg:mb-0">
		<div class="flex items-center mb-8 lg:mb-12">
			<h4 class="text-3xl lg:text-4xl font-bold">
				{{ 'Knowledge base'|t }}
			</h4>
			<a href="{{ knowledgeBaseUrl }}" class="inline-flex items-center ml-auto">{{ 'More'|t }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
		</div>

		<div class="grid gap-x-12 gap-y-6 lg:grid-cols-3">
			{% for item in pageEntries %}
				{% include '/_snippet/content_vertical' %}
			{% endfor %}
		</div>
	</div>
</div>
