{% set pageEntries = craft.entries.section('docs').limit(3).orderBy('postDate desc').all() %}

{% if pageEntries %}
	<div class="container mx-auto px-4 lg:py-28 mb-12 lg:mb-0">
		<div class="flex items-center mb-8 lg:mb-12">
			<h4 class="text-3xl lg:text-4xl font-bold">
				{{ 'Documentation'|t }}
			</h4>
			<a href="{{ docsUrl }}" class="inline-flex items-center ml-auto">{{ 'More'|t }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
		</div>

		<div class="grid gap-8 sm:gap-12 lg:grid-cols-2 mb-8">
			{% for item in pageEntries %}
				{% include '/_snippet/content_horizontal' with {
					category: item.documentsCategory
				} %}
			{% endfor %}
		</div>
	</div>
{% endif %}
