{% set pageEntries = craft.entries.section('news').limit(3).orderBy('postDate desc').all() %}

{% if pageEntries %}
	<h2 class="text-3xl md:text-4xl font-bold leading-tight mb-8">
		{{ 'News'|t }}
	</h2>
	<section>
		{% for item in pageEntries %}
			{% include ['/_snippet/content_horizontal'] %}
            <hr class="my-5 border-t border-blue-100" />
		{% endfor %}
	</section>
	<a href="{{ newsUrl }}" class="inline-flex flex-1 items-center">{{ 'All news'|t }} <i class="icon-arrow-right ml-2.5 text-base text-blue"></i></a>
{% endif %}
