
{% set bannerList = craft.entries.section('mainBanner').all() %}
{% set dots = bannerList|length  %}



<section class="container mx-auto px-4 animation">
    <div class="flex items-center md:flex-row md:space-x-12 relative mb-12 mt-6 lg:my-20 flex-col">
        <div class="w-full md:w-1/2">
            {% if entry.subtitle %}
                <div class="text-dark-500 text-sm tracking-wide uppercase mb-6">
                    {{ entry.subtitle }}
                </div>
            {% endif %}

            <h2 class="text-4xl md:text-5xl font-bold mb-6">
                {{ entry.title }}
            </h2>
            {% if entry.reachText %}
                <div class="mb-8">
                    {{ entry.reachText }}
                </div>
            {% endif %}

            {% if entry.urlLink %}
                <a href="{{ entry.urlLink }}" class="btn btn-primary mr-3">{{ entry.placeholder }} <i class="icon-arrow-right ml-2"></i></a>
            {% endif %}

            {% if entry.urlLink2 %}
                <a href="{{ entry.urlLink2 }}" class="inline-flex items-center py-2">{{ entry.plainText }} <i class="icon-play-circle text-blue ml-1.5"></i></a>
            {% endif %}
        </div>
        {% if entry.introImage.one() %}
            <div class="w-full md:w-1/2">
                <img src="{{ entry.introImage.one().getUrl }}" title="{{ entry.introImage.one().title }}" />
            </div>
        {% endif %}
    </div>
</section>
