<div class="container mx-auto">
	<div class="flex flex-col rounded-[36px] overflow-hidden md:flex-row text-white">
		<a href="{{ viberUrl }}" class="inline-flex flex-1 items-center justify-center p-5 bg-purple">Viber<i class="icon-Viber ml-2.5 text-xl"></i></a>
		<a href="{{ whatsappUrl }}" class="inline-flex flex-1 items-center justify-center p-5 bg-green-500">WhatsApp<i class="icon-Whatsapp ml-2.5 text-xl"></i></a>
		<a href="#" class="inline-flex flex-1 items-center justify-center p-5 bg-blue">{{ 'Contacts'|t }} <i class="icon-support ml-2.5 text-xl"></i></a>
	</div>
</div>
