{% set query = craft
    .entries
    .section('successStories')
%}

{% if entry.categoryStory.one() %}
    {% set query = query.relatedTo(entry.categoryStory.one()) %}
{% endif %}

{% set pageEntries = query.all() %}


{% set dots = pageEntries|length  %}

{% if pageEntries %}
	<div class="container mx-auto px-4 carousel-holder">
		<h2 class="text-3xl md:text-4xl font-bold text-center mb-0 md:mb-8">
            {{ 'Success stories'|t }}
		</h2>


        <div class="grid grid-cols-12 gap-4">

            <div class="col-span-2 hidden sm:block">
                <ul class="text-dark-500 space-y-3 mt-9 pagination-dots flex flex-col items-start text-list">
                    {% for newsEntry in pageEntries %}
                        <button class="underline-offset-8">{{ newsEntry.placeholder }}</button>
                     {% endfor %}
                </ul>
            </div>

            <div class="col-span-12 sm:col-span-10 grid grid-cols-5">
                <div class="col-span-5 sm:col-span-4 carousel -mx-4 sm:mx-0" data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay": false,"prevNextButtons":false, "wrapAround": true, "pageDots":false, "lazyLoad": "true", "groupCells": true}'>
                    {% for newsEntry in pageEntries %}
                            {% include ['/_snippet/' ~ itemView ?? 'content_story-sm'] %}
                    {% endfor %}
                </div>
                <div class="col-span-5 sm:col-span-1 flex justify-center items-center">
                    <div class="button-group--cells pagination flex flex-row sm:flex-col items-center">
                        <button class="pagination-nav btn-previous"><span class="w-8 h-8 bg-blue-100 rounded-full m-1.5 flex items-center justify-center"><i class="icon-arrow-left text-dark-500"></i></span></button>
                        <div class="pagination-dots flex flex-row sm:flex-col">
                            {% for i in 1..dots %}
                                <button class="dot w-2 h-2 rounded-full m-1.5 {{ loop.first ? 'is-selected' : ''}}"></button>
                            {% endfor %}
                        </div>
                        <button class="pagination-nav btn-next"><span class="w-8 h-8 bg-blue-100 rounded-full m-1.5 flex items-center justify-center"><i class="icon-arrow-right text-dark-500"></i></span></button>
                    </div>
                </div>
            </div>

        </div>

        <div class="flex justify-center my-6">
            <a href="{{ url('success-stories') }}" class="btn btn-primary">{{ 'All success stories'|t }}<i class="icon-arrow-right ml-2"></i></a>
        </div>
    </div>
{% endif %}
