<section>
	<ul class="leading-snug">
		<li>
			<a href="{{ supportCenterUrl }}" class="flex items-center mb-2"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-support.svg') }}" width="35" title="" alt=""/>{{ 'Support center'|t }}</a>
		</li>
		<li>
			<a href="{{ supportCenterFaqUrl }}" class="flex items-center mb-2"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-faq.svg') }}" width="35" title="" alt=""/>{{ 'Frequently Asked Questions'|t }}</a>
		</li>

		<li>
			<a href="{{ knowledgeBaseUrl }}" class="flex items-center mb-2"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-video.svg') }}" width="35" title="" alt=""/>{{ 'Knowledge base'|t }}</a>
		</li>

		{% if craft.app.language == 'sl-SI' %}
			<li>
				<a href="{{ docsUrl }}" class="flex items-center mb-2"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-docs.svg') }}" width="35" title="" alt=""/>{{ 'Documentation'|t }}</a>
			</li>
		{% endif %}


		<!--
				<li><a href="{{ chatUrl }}" class="flex items-center mb-2"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-chat.svg') }}" width="35" title="" alt="" />{{ 'Chat'|t }}</a></li>
				<li><a href="{{ viberUrl }}" class="flex items-center mb-2"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-viber.svg') }}" width="35" title="" alt="" />Viber</a></li>
				<li><a href="{{ whatsappUrl }}" class="flex items-center mb-2"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-whatsapp.svg') }}" width="35" title="" alt="" />WhatsApp</a></li>
				<li><a href="{{ remoteAssistanceUrl }}" class="flex items-center mb-2"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-switch.svg') }}" width="35" title="" alt="" />{{ 'Remote assistance'|t }}</a></li>
		        -->
	</ul>
</section>
