<ul class="flex flex-col md:flex-row md:space-x-6 lg:space-x-12 my-12">
	<li class="flex-1">
		<a href="{{ supportCenterFaqUrl }}" class="flex items-center mb-2 border-blue-100 border rounded p-3">
			<img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-faq.svg') }}" width="35" title="" alt="" />{{ 'Frequently Asked Questions'|t }} <i class="icon-arrow-right text-blue ml-auto"></i>
		</a>
	</li>

	<li class="flex-1">
		<a href="{{ knowledgeBaseUrl }}" class="flex items-center mb-2 border-blue-100 border rounded p-3"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-video.svg') }}" width="35" title="" alt="" />{{ 'Knowledge base'|t }} <i class="icon-arrow-right text-blue ml-auto"></i></a>
	</li>

	<li class="flex-1"><a href="{{ docsUrl }}" class="flex items-center mb-2 border-blue-100 border rounded p-3"><img class="mr-3" src="{{ alias('@web/assets/images/svg/sm-docs.svg') }}" width="35" title="" alt="" />{{ 'Documentation'|t }} <i class="icon-arrow-right text-blue ml-auto"></i></a></li>
</ul>
