<div class="container mx-auto px-4">
	<div class="flex flex-col divide-y divide-x-0 divide-blue-100 rounded-[36px] border border-blue-100 md:flex-row md:divide-x md:divide-y-0">
		<a href="{{ ecosystemUrl }}" class="inline-flex flex-1 items-center justify-center p-5">
			{{ 'bizBox in your application'|t }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i>
		</a>
		<a href="{{ edirectoryUrl }}" class="inline-flex flex-1 items-center justify-center p-5">
			{{ 'eExchange Directory'|t }}<i class="icon-arrow-right ml-2.5 text-base text-blue"></i>
		</a>
		<a href="{{ newsUrl }}" class="inline-flex flex-1 items-center justify-center p-5">
			{{ 'Announcements - news'|t }} <i class="icon-arrow-right ml-2.5 text-base text-blue"></i>
		</a>
	</div>
</div>
