{% extends '_layouts/site' %}

{% set image = entry.brandImage.one() %}

{% block main %}

    <div class="container px-4 mx-auto mb-8 lg:mb-0 py-3">
    
        {% include '/_snippet/breadcrumb' %}

        <div class="flex flex-col md:flex-row items-center gap-6 md:gap-12 lg:gap-24 py-12 lg:py-20">
            <div class="w-full md:w-2/3">
                
                <h1 class="text-4xl md:text-5xl font-bold mb-6">
                    {{ entry.title }}
                </h1>

                <div class="flex flex-wrap gap-x-6 border-b border-blue-100 pb-4 mb-4">
                    <span class="text-dark-500 font-normal">{{ 'Solutions'|t }}:</span>
                    <ul class="flex flex-wrap gap-x-6 text-dark-700 font-bold">
                        {% for i, item in entry.partnerSolution.all() %}
                            <li>{{item.solutionName}}</li>
                         {% endfor %}
                    </ul>
                </div>

                <div class="flex gap-x-6 flex-wrap">
                    {% if entry.urlLink %}
                        <a class="inline-flex items-center gap-2" href="{{ entry.urlLink}}"><i class="text-base icon-network text-blue"></i> {{ entry.urlLink}}</a>
                    {% endif %}
                    {% if entry.plainText %}
                        <a class="inline-flex items-center gap-2" href="mailto:{{ entry.plainText}}"><i class="text-base icon-mail text-blue"></i>{{ entry.plainText}}</a>
                    {% endif %}
                    {% if entry.placeholder %}
                        <a class="inline-flex items-center gap-2" href="tel:{{ entry.placeholder}}"><i class="text-base icon-phone text-blue"></i>{{ entry.placeholder}}</a>  
                    {% endif %}
                </div>

                <p class="text-lg leading-8 my-6">
                    {{ entry.subtitle }}
                </p>
            </div>
            <div class="w-full md:w-1/3">
                {% if image %}       
                    <img class="rounded-2xl object-contain shadow w-[300px] h-[200px] md:ml-auto" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
                {% endif %}
            </div>
        </div>

        <div class="w-full mx-auto lg:w-9/12">
        
            <div class="mb-6 prose-item">{{ entry.reachText }}</div>
            <a href="{{ entry.urlLink }}" class="btn btn-primary">{{ entry.urlLink }} <i class="icon-arrow-right ml-2"></i>
            </a>
        </div>

      
   

    </div>

	<section class="mt-8">
		{% include '/_includes/partner_solution.twig' %}
	</section>
{% endblock %}