{% set title = 'bizBox partners'|t %}
{% set seo = craft.seo.custom(title) %}

{% extends '_layouts/site' %}

{% set q = craft.app.request.getParam('q') %}

{% set members = craft.entries.section('partners').orderBy('title')   %}

{% if q %}
    {% set members = members.search(q) %}
{% endif %}

{% set alpabet = ['#','A','B','C','Č','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','Š','T','U','V','W','X','Y','Z','Ž'] %}

{% set jsonMembers = [] %}
{% for member in members.all() %}
    {% set solutions = [] %}
    {% for solution in member.partnerSolution.all() %}
        {% set solutions = solutions|merge([ { 
            title: solution.solutionName ,
        }]) %}
    {% endfor %}

    {% set jsonMembers = jsonMembers|merge([ { 
        title: member.title ,
        url: member.type.handle == 'link' ? member.linkUrl : member.url ,
        image:  member.brandImage.one().getUrl() ?? null ,
        partnerSolution: solutions,
        connectionMethod: member.connectionMethod,
        supportedServices: member.supportedServices,
        receivedEdocuments: member.receivedEdocuments,
        sentEdocuments: member.sentEdocuments
    }]) %}
{% endfor %}

{% block main %}

	{% include '/_snippet/breadcrumb' %}

	<div class="container mx-auto px-4 lg:mt-20 mt-8 mb-12 lg:mb-40" id="app">
        <h1 class="text-4xl md:text-5xl font-bold mb-10 text-center">
            {{ title }}
        </h1>
        <div class="lg:w-8/12 mx-auto">
            <div class="text-dark-600 mb-8 text-center">
                <p>{{ 'The bizBox ecosystem is an integrated eBusiness point for more than 50 business systems used by more than 25,000 users.'|t }}</p>
            </div>

            <form method="get" action="">
                <div class="flex flex-row items-center border border-blue-100 p-1 bg-white rounded-[36px] my-4">
                    <i class="icon-search text-blue pl-4 pr-2"></i>
                    <input type="text" class="border-0 rounded-[36px] placeholder:text-dark-700 focus:shadow-none" placeholder="Iskanje" name="q" value="{{ q }}" />
                    <button type="submit" class="btn btn-primary !px-12 !py-4"><span class="hidden sm:block">{{ 'Search'|t }}</span> <i class="icon-arrow-right !pl-0 sm:!pl-3"></i></button>
                </div>
            </form>
            <div class="bg-blue-50 p-2 rounded divide-y divide-blue-100 mb-12">
                <div class="flex gap-1 pb-2 flex-wrap">
                    {% for letter in alpabet %}
                        <a class="w-6 h-6 hover:bg-blue rounded-full inline-flex items-center justify-center text-dark-500 hover:text-white" href="#{{letter}}">{{letter}}</a>
                    {% endfor %}
                </div>
                <div class="p-4 hidden" id="filter">  
                    <div class="mb-6">
                        <h4 class="font-bold mb-3">Način povezovanja</h4>
                        <ul class="flex flex-wrap gap-2 text-sm">
                            <li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl" :class="{ 'bg-blue text-white' : filter.connectionMethod == '' }" @click="selectConnectionMethod()">Vsi načini</li>
                            <li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl" :class="{ 'bg-blue text-white' : filter.connectionMethod == item.value }" v-for="item in connectionMethod" @click="selectConnectionMethod(item.value)">${ item.label }</li>
                        </ul>
                    </div>
                     <div class="mb-6">
                        <h4 class="font-bold mb-3">Podprte storitve bizBox</h4>
                        <ul class="flex flex-wrap gap-2 text-sm">
                            <li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl" :class="{ 'bg-blue text-white' : filter.supportedServices == '' }" @click="selectSupportedServices()">Vse storitve</li>
                            <li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl" :class="{ 'bg-blue text-white' : filter.supportedServices == item.value }" v-for="item in supportedServices" @click="selectSupportedServices(item.value)">${ item.label }</li>
                        </ul>
                    </div>
                     <div class="mb-6">
                        <h4 class="font-bold mb-3">Katere eDokumente prejema</h4>
                        <ul class="flex flex-wrap gap-2 text-sm">
                            <li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl" :class="{ 'bg-blue text-white' : filter.receivedEdocuments == '' }" @click="selectReceivedEdocuments()">Vse dokumente</li>
                            <li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl" :class="{ 'bg-blue text-white' : filter.receivedEdocuments == item.value }" v-for="item in receivedEdocuments" @click="selectReceivedEdocuments(item.value)">${ item.label }</li>
                        </ul>
                    </div>
                     <div class="mb-6">
                        <h4 class="font-bold mb-3">Katere eDokumente kreira/pošilja</h4>
                        <ul class="flex flex-wrap gap-2 text-sm">
                            <li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl" :class="{ 'bg-blue text-white' : filter.sentEdocuments == '' }" @click="selectsentEdocuments()">Vsi načini</li>
                            <li class="cursor-pointer px-4 py-1.5 bg-white rounded-3xl" :class="{ 'bg-blue text-white' : filter.sentEdocuments == item.value }" v-for="item in sentEdocuments" @click="selectsentEdocuments(item.value)">${ item.label }</li>
                        </ul>
                    </div>
                </div>  
                <div class="text-center pt-2">  
                    <button type="button" class="inline-flex items-center justify-center mx-3 py-1 toggleFilter" data-open>{{ 'Open filter'|t }}<i class="icon-arrow-down ml-2.5 text-base text-blue"></i></button>
                    <button type="button" class="inline-flex items-center justify-center mx-3 py-1 toggleFilter hidden" data-close>{{ 'Close filter'|t }}<i class="icon-arrow-up ml-2.5 text-base text-blue"></i></button>
                    <button type="button" class="inline-flex items-center justify-center mx-3 py-1" @click="resetFilter()">{{ 'Reset'|t }}<i class="icon-reset ml-2.5 text-base text-blue"></i></button>
                </div>  
            </div>
        </div>

        <div class="flex gap-8 md:gap-12 mb-10 flex-col md:flex-row" v-for="group in membersGrouped">
            <h2 class="shrink-0 w-16 h-16 bg-blue rounded-full !text-white flex items-center justify-center text-3xl font-bold" :id="group.letter">${group.letter}</h2>
            <div class="flex-1">
                <article class="bg-white shadow rounded-2xl p-4 lg:flex items-center gap-12 mb-6" v-for="member in group.members">
                    <div class="flex-1 lg:pl-4">
                        <h2 class="text-3xl font-bold mb-4">
                            <a :href="member.url">${ member.title }</a>
                        </h2>
                        <div class="flex flex-wrap gap-x-6 border-b border-blue-100 pb-4 mb-4" v-if="member.partnerSolution.length">
                            <span class="text-dark-500 font-normal">{{ 'Solution'|t }}:</span>
                            <ul class="flex flex-wrap gap-x-6 text-dark-700 font-bold">
                                <li v-for="item in member.partnerSolution">${item.title}</li>
                            </ul>
                        </div>
                        <div class="flex gap-x-6 flex-wrap">
                            <a class="inline-flex items-center gap-2" :href="member.urlLink" v-if="member.urlLink"><i class="text-base icon-network text-blue"></i> ${ member.urlLink}</a>
                            <a class="inline-flex items-center gap-2" :href="'mailto:'.member.plainText" v-if="member.plainText"><i class="text-base icon-mail text-blue"></i>${ member.plainText}</a>
                            <a class="inline-flex items-center gap-2" :href="'tel:'.ember.placeholder" v-if="member.placeholder"><i class="text-base icon-phone text-blue"></i>${ member.placeholder}</a>  
                        </div>
                    </div>
                    <a class="relative block mb-4" :href="member.url" v-if="member.image">
                        <img class="rounded-lg object-contain w-[269px] h-[170px]" :src="member.image"/>
                    </a>
                </article>
            </div>
        </div>
	</div>

    <script>
        Vue.createApp({
            delimiters: ['${', '}'],
            data() {
                return {
                    membersGroupedData: {{ jsonMembers | json_encode | raw }},
                    connectionMethod: {{ craft.app.fields.getFieldByHandle('connectionMethod').settings.options | json_encode | raw  }},
                    supportedServices: {{ craft.app.fields.getFieldByHandle('supportedServices').settings.options | json_encode  | raw }},
                    receivedEdocuments: {{ craft.app.fields.getFieldByHandle('receivedEdocuments').settings.options | json_encode  | raw }},
                    sentEdocuments: {{ craft.app.fields.getFieldByHandle('sentEdocuments').settings.options | json_encode  | raw }},
                    filter: {
                        connectionMethod: '',
                        supportedServices: '',
                        receivedEdocuments: '',
                        sentEdocuments: '',
                    },
                }
            },
            computed: {
                membersGrouped() {
                    let self = this;
                    return this.membersGroupedData
                        .filter(function (el) {
                            return (Object.values(el.connectionMethod).find(item => item.value == self.filter.connectionMethod) || self.filter.connectionMethod == '')
                                && (Object.values(el.supportedServices).find(item => item.value == self.filter.supportedServices) || self.filter.supportedServices == '')
                                && (Object.values(el.receivedEdocuments).find(item => item.value == self.filter.receivedEdocuments) || self.filter.receivedEdocuments == '')
                                && (Object.values(el.sentEdocuments).find(item => item.value == self.filter.sentEdocuments) || self.filter.sentEdocuments == '')
                            ;
                        })
                        .reduce(function (acc, el) {
                            let letter = el.title.charAt(0);
                            if (!acc[letter]) {
                                acc[letter] = {
                                    letter: letter,
                                    members: [],
                                };
                            }
                            acc[letter].members.push(el);
                            return acc;
                        }, {});
                },
            },
            methods: {
                selectConnectionMethod(value = '') {
                    this.filter.connectionMethod = value;
                },
                selectSupportedServices(value = '') {
                    this.filter.supportedServices = value;
                },
                selectReceivedEdocuments(value = '') {
                    this.filter.receivedEdocuments = value;
                },
                selectsentEdocuments(value = '') {
                    this.filter.sentEdocuments = value;
                },
                resetFilter(value = '') {
                    this.filter.connectionMethod = '';
                    this.filter.supportedServices = '';
                    this.filter.receivedEdocuments = '';
                    this.filter.sentEdocuments = '';
                },
            },
        }).mount('#app')
    </script>
{% endblock %}
