{% if craft.app.request.segments|last != 'piskotki' %}
	{% set cookies = craft.app.request.getRawCookies() %}
	<div class="md-modal md-cookies" id="md-cookies">
		<div class="mx-auto max-w-3xl rounded-xl bg-white p-6 relative">

			<button class="md-close !top-4 !right-4">
				<i class="icon-close text-dark-500"></i>
			</button>

			<img width="195" height="128" src="{{ alias('@web/assets/images/bizBox-logo.svg') }} " class="mx-auto mb-5 inline-block"/>
			<p class="mb-4">
				{{ 'cookies description'|t|raw }}
			</p>

			<div class="flex">
				<div class="w-2/3">
					{{ 'Essential cookies'|t }}<p class="text-sm">
						{{ 'Provide the functioning of our website'|t }}
					</p>
				</div>
				<div class="w-1/3 text-center">
					<input type="checkbox" value="1" disabled checked/>
				</div>
			</div>
			<div class="flex">
				<div class="w-2/3">
					{{ 'Analytical cookies'|t }}<p class="text-sm">
						{{ 'Provide data on the use of our website based on which we can optimise and enhance your user experience'|t }}
					</p>
				</div>
				<div class="w-1/3 text-center">
					<input name="thirt_part_cookie" type="checkbox" value="1" {{ '3_part_cookie_agree' in (cookies|keys) ? 'checked' : '' }}/>
				</div>
			</div>
			<div class="d-flex align-items-center justify-content-center my-6 text-center">
				<button class="btn btn-primary mx-2" id="save">{{ 'Save'|t }}<i class="icon-arrow-right ml-2"></i>
				</button>
				<button class="btn btn-primary mx-2" id="save-all">{{ 'Accept all'|t }}<i class="icon-arrow-right ml-2"></i>
				</button>
				<a href="{{ cookiesUrl }}" class="strong d-inline-flex align-items-center mx-2" target="_self">
					<span class="circle">
						<i class="icon-arrow-up-right"></i>
					</span>
					{{ 'More information'|t }}</a>
			</div>
			<p class="text-sm">
				{{ 'If you continue to use our website without choosing any of the options, essential cookies will be uploaded.'|t }}
			</p>
			<p class="text-sm">{{ 'Language versions: In case of any discrepancies between the Slovenian and the English versions, the Slovenian version prevails.'|t }}</p>
		</div>
	</div>
	<div class="md-overlay"></div>
{% endif %}
