<div class="md-modal" id="md-search">
	<button class="md-close">
		<i class="icon-close text-white"></i>
	</button>
	<form class="" name="form-search" method="get" action="{{ url('search/results') }}">
		<input type="text" name="q" value="" class="form-control" placeholder="{{ 'Enter a search string'|t }}" />
	</form>
</div>

<div class="md-overlay"></div>
