	<div class="mb-8">
		<h4 class="mb-4 text-2xl font-bold">{{ 'Contact details'|t }}</h4>
		<div class="space-y-6">
			<div id="fromTaxId">
				<label for="fromTaxId" class="label">{{ 'Tax number'|t }}</label>
				<input type="text" placeholder="{{ 'Tax number'|t }}" name="message[fromTaxId]" required/>
			</div>

			<div id="fromCompany">
				<label for="fromCompany" class="label">{{ 'Company name'|t }}</label>
				<input type="text" placeholder="{{ 'Company name'|t }}" name="message[fromCompany]" />
			</div>

			<div id="fromName">
				<label for="fromName" class="label">{{ 'Contact person'|t }}</label>
				<input type="text" placeholder="{{ 'Contact person'|t }}" name="fromName" required/>
			</div>

			<div id="fromEmail">
				<label for="fromEmail" class="label">{{ 'Email'|t }}</label>
				<input type="email" placeholder="{{ 'Email'|t }}" name="fromEmail" required/>
			</div>

			<div id="fromPhone">
				<label for="fromPhone" class="label">{{ 'Phone'|t }}</label>
				<input type="tel" placeholder="{{ 'Phone'|t }}" name="message[fromPhone]" required/>
			</div>

            <div id="fromNotes">
				<label for="fromNotes" class="label">{{ 'Additional notes'|t }}</label>
				<textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[fromNotes]"></textarea>
			</div>
		</div>
	</div>