	<div class="mb-8 space-y-6 hidden" id="field-ebills">
		<h4 class="mb-4 text-2xl font-bold">{{ 'Preparation of eInvoices - application'|t }}</h4>

   		<section class="space-y-6">
           <fieldset>
                <div id="message_eBillsReceiving">
                    <label class="flex items-baseline" for="eBillsReceiving">
                        <input name="message[eBillsReceiving]" id="eBillsReceiving" type="checkbox" value="Da" />
                        {{ 'I want to receive eDocuments'|t }}
                    </label>
                </div>

                <div id="message_eBillsSending">
                    <label class="flex items-baseline" for="eBillsSending">
                        <input name="message[eBillsSending]" id="eBillsSending" type="checkbox" value="Da" />
                        {{ 'I want to send eDocuments'|t }}
                    </label>
                </div>
            </fieldset>

			<div id="message_eBillsQtyBillsPerMonth">
				<label for="eBillsQtyBillsPerMonth" class="label">{{ 'Average number of invoices sent per month'|t }}:</label>
				<select name="message[eBillsQtyBillsPerMonth]" id="eBillsQtyBillsPerMonth">
					<option value="">{{ 'Select'|t }}</option>
					<option value="{{ 'up to'|t }} 10">{{ 'up to'|t }} 10</option>
                    <option value="{{ 'up to'|t }} 25">{{ 'up to'|t }} 25</option>
                    <option value="{{ 'up to'|t }} 500">{{ 'up to'|t }} 500</option>
                    <option value="{{ 'up to'|t }} 5000">{{ 'up to'|t }} 5000</option>
				</select>
			</div>


			<div id="message_eBillsEdiStandard">
				<label for="eBillsEdiStandard" class="label">{{ 'Which EDI standard do I use'|t }} (eSLOG 2.0, EDIFACT, …)</label>
				<input type="text" placeholder="{{ 'Which EDI standard do I use'|t }} (eSLOG 2.0, EDIFACT, …)" name="message[eBillsEdiStandard]" />
			</div>

            <fieldset>
                <div id="message_eBillsOwnAccountingSystem">
                    <label class="flex items-baseline" for="eBillsOwnAccountingSystem">
                        <input name="message[eBillsOwnAccountingSystem]" id="eBillsOwnAccountingSystem" type="checkbox" value="Da" data-toggle="ebills-own-accounting-system"/>
                        {{ 'I have my own inf. accounting / ERP system'|t }}
                    </label>
                </div>

                <div id="ebills-own-accounting-system" class="hidden">
                    <label for="eBillsOwnAccountingSystemType" class="label">{{ 'Select system'|t }}</label>
                    <select name="message[eBillsOwnAccountingSystemType]" id="eBillsOwnAccountingSystemType" data-toggle="ebills-own-accounting-system-other">

                        {% set AccountingSystemType = ["Audax", "Business Connect", "Firma", "Birokrat", "Sara Smart", "Business Central", "Dynamic Navision", "TronInter Center", "PosTrade", "dagFIP", "Pantheon", "Datastudio poslovni system", "Odoo (eFirma.si)", "MyAccount", "GoSoft", "Orka.eračun", "eFakture", "Hansaworld", "imDocs", "CLICKTRANS", "iERP", "Hipokrat", "LSC PRO", "Melom Storžič", "Oddo", "MetaKocka", "Desito", "CALCULUS 4", "Numeric.si", "IPSPlus", "Largo", "PRO-BIT", "ODOS", "Dragon Ticketing", "AccountingBOX", "RCG assist", "RCL", "Dynamics Navison", "SAP", "INFOR", "iCenter", "Minimax", "EBA DMS", "FORMnet program", "FAW/FAWLT/FAWS", "ShakeSpeare", "Business Central", "Dynamics Navison", "IS21"] %}
                        {% for item in AccountingSystemType %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}

                        <option value="other">{{ 'Other'|t }}</option>
                    </select>
                </div>

                <div id="ebills-own-accounting-system-other" class="hidden">
                    <label for="eBillsOwnAccountingSystemTypeOther" class="label">{{ 'Other'|t }}</label>
                    <input type="text" placeholder="{{ 'Other'|t }}" name="message[eBillsOwnAccountingSystemTypeOther]" />
                </div>
            </fieldset>

            <fieldset>
                <div id="message_eBillsExternalAccountingProvider">
                    <label class="flex items-baseline" for="eBillsExternalAccountingProvider">
                        <input name="message[eBillsExternalAccountingProvider]" id="eBillsExternalAccountingProvider" type="checkbox" value="Da" data-toggle="ebills-external-accounting-provider-name"/>
                        {{ 'I have an external accounting service provider'|t }}
                    </label>
                </div>

                <div class="hidden" id="ebills-external-accounting-provider-name">
                    <label for="eBillsExternalAccountingProviderName" class="label">{{ 'Enter a name'|t }}</label>
                    <input type="text" placeholder="{{ 'Enter a name'|t }}" name="message[eBillsExternalAccountingProviderName]" />
                </div>
            </fieldset>

            <fieldset class="space-y-1">
				<div id="message_eBillsNeedIntegration">
					<label class="flex items-baseline" for="eBillsNeedIntegration">
						<input name="message[eBillsNeedIntegration]" id="eBillsNeedIntegration" type="checkbox" value="Da" />
						{{ 'I want integration with the existing business information system'|t }}.
					</label>
				</div>

				<div id="message_eBillsNeedOnlineEinvoice">
					<label class="flex items-baseline" for="eBillsNeedOnlineEinvoice">
						<input name="message[eBillsNeedOnlineEinvoice]" id="eBillsNeedOnlineEinvoice" type="checkbox" value="Da" />
						{{ 'I need an online edition of eInvoices (online solution for preparing eInvoices)'|t }}.
					</label>
				</div>

				<div id="message_eBillsNeedStorage">
					<label class="flex items-baseline" for="eBillsNeedStorage">
						<input name="message[eBillsNeedStorage]" id="eBillsNeedStorage" type="checkbox" value="Da" />
						{{ 'I need formal long-term storage of exchanged e Invoices (eStorage.si)'|t }}
					</label>
				</div>

                <fieldset>
                    <div id="message_eBillsNeedPrepaidPackage">
                        <label class="flex items-baseline" for="eBillsNeedPrepaidPackage">
                            <input name="message[eBillsNeedPrepaidPackage]" id="eBillsNeedPrepaidPackage" type="checkbox" value="Da" data-toggle="ebill-subscription-package"/>
                            {{ 'I want a prepaid package without a monthly subscription. Select EDI.web package for proforma invoice'|t }}.
                        </label>
                    </div>

                    <fieldset id="ebill-subscription-package" class="my-2 space-y-2 hidden">
                        <label for="eBillSubscriptionPackage" class="label">{{ 'select a prepaid package'|t }}</label>
                        <div class="checkbox-box">
                            <input name="message[eBillSubscriptionPackage]" id="subscriptionPackage40" type="radio" value="EDI.web 40"/>
                            <label class="flex items-center" for="subscriptionPackage40"> <span class="ml-9">EDI.web 40</span> </label>
                        </div>
                        <div class="checkbox-box">
                            <input name="message[eBillSubscriptionPackage]" id="subscriptionPackage100" type="radio" value="EDI.web 100" />
                            <label class="flex items-center" for="subscriptionPackage100"> <span class="ml-9">EDI.web 100</span> </label>
                        </div>
                    </fieldset>
                </fieldset>

                <div id="message_eBillsNeedMonthlySubscription">
					<label class="flex items-baseline" for="eBillsNeedMonthlySubscription">
						<input name="message[eBillsNeedMonthlySubscription]" id="eBillsNeedMonthlySubscription" type="checkbox" value="Da" />
						{{ 'I want a monthly subscription and more features. You will be contacted by sales.'|t }}
					</label>
				</div>

			</fieldset>

            <div id="message_eBillsNote">
                <label for="eBillsNote" class="label">{{ 'Additional notes'|t }}</label>
                <textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eBillsNote]"></textarea>
            </div>
		</section>
	</div>