	<div class="mb-8 space-y-6 hidden" id="field-ecompensation">
		<h4 class="mb-4 text-2xl font-bold">{{ 'Chain compensations'|t }}</h4>

   		<section class="space-y-6">


            <div id="message_eCompensationInitiator">
                <label class="flex items-baseline" for="eCompensationInitiator">
                    <input name="message[eCompensationInitiator]" id="eCompensationInitiator" type="checkbox" value="Da" />
                    {{ 'Would you like to appear in the compensation process as the initiator / initiator of compensations'|t }}
                </label>
            </div>

           	<div id="message_eCompensationNr">
				<label for="eCompensationNr" class="label">{{ 'How many compensation proposals do you make per month?'|t }}</label>
				<input type="text" placeholder="{{ 'How many compensation proposals do you make per month?'|t }}" name="message[eCompensationNr]" />
			</div>

            <div id="message_eCompensationPartnersNr">
				<label for="eCompensationPartnersNr" class="label">{{ 'Enter the number of partners with whom you would carry out the digital operational compensation process'|t }}</label>
				<input type="text" placeholder="{{ 'Enter the number of partners with whom you would carry out the digital operational compensation process'|t }}" name="message[eCompensationPartnersNr]" />
			</div>
            
            <div id="message_eCompensationParticipation">
                <label class="flex items-baseline" for="eCompensationParticipation">
                    <input name="message[eCompensationParticipation]" id="eCompensationParticipation" type="checkbox" value="Da" />
                    {{ 'Will you participate in the compensation process only as participants, with the possibility of confirmation or. refusal of compensation?'|t }}
                </label>
            </div>

            <div id="message_eCompensationProgram">
                <label class="flex items-baseline" for="eCompensationProgram">
                    <input name="message[eCompensationProgram]" id="eCompensationProgram" type="checkbox" value="Da" />
                    {{ 'Are you already using any compensation program?'|t }}
                </label>
            </div>

            <div id="message_eCompensationBizboxIntegration">
                <label class="flex items-baseline" for="eCompensationBizboxIntegration">
                    <input name="message[eCompensationBizboxIntegration]" id="eCompensationBizboxIntegration" type="checkbox" value="Da" />
                    {{ 'Would you like to integrate bizBox compensation for the digital operational process of implementing compensation with partners?'|t }}
                </label>
            </div>

            <div id="message_eCompensationNote">
                <label for="eCompensationNote" class="label">{{ 'Additional notes'|t }}</label>
                <textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eCompensationNote]"></textarea>
            </div>
		</section>
	</div>