	<div class="mb-8 space-y-6 hidden" id="field-edi">
		<h4 class="mb-4 text-2xl font-bold">{{ 'eExchange + EDI'|t }}</h4>

   		<section class="space-y-6">
           <fieldset>
                <div id="message_eExchangeReceiving">
                    <label class="flex items-baseline" for="eExchangeReceiving">
                        <input name="message[eExchangeReceiving]" id="eExchangeReceiving" type="checkbox" value="Da" data-toggle="exchange-receiving-documents"/>
                        {{ 'I want to receive eDocuments'|t }}
                    </label>
                </div>

                <div id="exchange-receiving-documents" class="hidden">
                    <label for="eExchangeReceivingDocuments" class="label">{{ 'Select'|t }}</label>
                    <select name="message[eExchangeReceivingDocuments]" id="eExchangeReceivingDocuments" data-toggle="exchange-receiving-documents-other">
                        <option value="">{{ 'Select'|t }}</option>
                        <option value="{{ 'Order'|t }}">{{ 'Order'|t }}</option>
                        <option value="{{ 'Order response'|t }}">{{ 'Order response'|t }}</option>
                        <option value="{{ 'Delivery note'|t }}">{{ 'Delivery note'|t }}</option>
                        <option value="{{ 'Takeover'|t }}">{{ 'Takeover'|t }}</option>
                        <option value="{{ 'Bill'|t }}">{{ 'Bill'|t }}</option>
                        <option value="{{ 'Information on articles'|t }}">{{ 'Information on articles'|t }}</option>
                        <option value="other">{{ 'Other'|t }}</option>
                    </select>
                </div>

                <div id="exchange-receiving-documents-other" class="hidden">
                    <label for="eExchangeReceivingDocumentsOther" class="label">{{ 'Other'|t }}</label>
                    <input type="text" placeholder="{{ 'Other'|t }}" name="message[eExchangeReceivingDocumentsOther]" />
                </div>
            </fieldset>

            <fieldset>
                <div id="message_eExchangeSending">
                    <label class="flex items-baseline" for="eExchangeSending">
                        <input name="message[eExchangeSending]" id="eExchangeSending" type="checkbox" value="Da" data-toggle="exchange-sending-documents"/>
                        {{ 'I want to send eDocuments'|t }}
                    </label>
                </div>

                <div id="exchange-sending-documents" class="hidden">
                    <label for="eExchangeSendingDocuments" class="label">{{ 'Select'|t }}</label>
                    <select name="message[eExchangeSendingDocuments]" id="eExchangeSendingDocuments" data-toggle="exchange-sending-documents-other">
                        <option value="">{{ 'Select'|t }}</option>
                        <option value="{{ 'Order'|t }}">{{ 'Order'|t }}</option>
                        <option value="{{ 'Order response'|t }}">{{ 'Order response'|t }}</option>
                        <option value="{{ 'Delivery note'|t }}">{{ 'Delivery note'|t }}</option>
                        <option value="{{ 'Takeover'|t }}">{{ 'Takeover'|t }}</option>
                        <option value="{{ 'Bill'|t }}">{{ 'Bill'|t }}</option>
                        <option value="{{ 'Information on articles'|t }}">{{ 'Information on articles'|t }}</option>
                        <option value="other">{{ 'Other'|t }}</option>
                    </select>
                </div>

                <div id="exchange-sending-documents-other" class="hidden">
                    <label for="eExchangeSendingDocumentsOther" class="label">{{ 'Other'|t }}</label>
                    <input type="text" placeholder="{{ 'Other'|t }}" name="message[eExchangeSendingDocumentsOther]" />
                </div>
           </fieldset>

			<div id="message_eExchangeQtyBillsPerMonth">
				<label for="eExchangeQtyBillsPerMonth" class="label">{{ 'How many EDI eDocuments do I send per month'|t }}:</label>
				<select name="message[eExchangeQtyBillsPerMonth]" id="eExchangeQtyBillsPerMonth">
					<option value="">{{ 'Select'|t }}</option>
					<option value="{{ 'up to'|t }} 10">{{ 'up to'|t }} 10</option>
                    <option value="{{ 'up to'|t }} 25">{{ 'up to'|t }} 25</option>
                    <option value="{{ 'up to'|t }} 500">{{ 'up to'|t }} 500</option>
                    <option value="{{ 'up to'|t }} 5000">{{ 'up to'|t }} 5000</option>
                    <option value="{{ 'above'|t }} 5000">{{ 'above'|t }} 5000</option>
				</select>
			</div>

			<div id="message_eExchangeEdiStandard">
				<label for="eExchangeEdiStandard" class="label">{{ 'Which EDI standard do I use'|t }} (eSLOG 2.0, EDIFACT, …)</label>
				<input type="text" placeholder="{{ 'Which EDI standard do I use'|t }} (eSLOG 2.0, EDIFACT, …)" name="message[eExchangeEdiStandard]" />
			</div>

            <div id="message_eExchangePartnersEdiStandard">
				<label for="eExchangePartnersEdiStandard" class="label">{{ 'Which EDI standard does my partner use'|t }} (eSLOG 2.0, EDIFACT, …)</label>
				<input type="text" placeholder="{{ 'Which EDI standard does my partner use'|t }} (eSLOG 2.0, EDIFACT, …)" name="message[eExchangePartnersEdiStandard]" />
			</div>

            <fieldset>
                <div id="message_eExchangeOwnAccountingSystem">
                    <label class="flex items-baseline" for="eExchangeOwnAccountingSystem">
                        <input name="message[eExchangeOwnAccountingSystem]" id="eExchangeOwnAccountingSystem" type="checkbox" value="Da" data-toggle="exchange-own-accounting-system-type"/>
                        {{ 'I have my own inf. accounting / ERP system'|t }}
                    </label>
                </div>

                <div id="exchange-own-accounting-system-type" class="hidden">
                    <label for="eExchangeOwnAccountingSystemType" class="label">{{ 'Select system'|t }}</label>
                    <select name="message[eExchangeOwnAccountingSystemType]" id="eExchangeOwnAccountingSystemType" data-toggle="exchange-own-accounting-system-type-other">

                        {% set AccountingSystemType = ["Audax", "Business Connect", "Firma", "Birokrat", "Sara Smart", "Business Central", "Dynamic Navision", "TronInter Center", "PosTrade", "dagFIP", "Pantheon", "Datastudio poslovni system", "Odoo (eFirma.si)", "MyAccount", "GoSoft", "Orka.eračun", "eFakture", "Hansaworld", "imDocs", "CLICKTRANS", "iERP", "Hipokrat", "LSC PRO", "Melom Storžič", "Oddo", "MetaKocka", "Desito", "CALCULUS 4", "Numeric.si", "IPSPlus", "Largo", "PRO-BIT", "ODOS", "Dragon Ticketing", "AccountingBOX", "RCG assist", "RCL", "Dynamics Navison", "SAP", "INFOR", "iCenter", "Minimax", "EBA DMS", "FORMnet program", "FAW/FAWLT/FAWS", "ShakeSpeare", "Business Central", "Dynamics Navison", "IS21"] %}
                        {% for item in AccountingSystemType %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}

                        <option value="other">{{ 'Other'|t }}</option>
                    </select>
                </div>

                <div id="exchange-own-accounting-system-type-other" class="hidden">
                    <label for="eExchangeOwnAccountingSystemTypeOther" class="label">{{ 'Other'|t }}</label>
                    <input type="text" placeholder="{{ 'Other'|t }}" name="message[eExchangeOwnAccountingSystemTypeOther]" />
                </div>
            </fieldset>


            <fieldset class="space-y-1">
				<div id="message_eExchangeNeedIntegration">
					<label class="flex items-baseline" for="eExchangeNeedIntegration">
						<input name="message[eExchangeNeedIntegration]" id="eExchangeNeedIntegration" type="checkbox" value="Da" />
						{{ 'I want integration with the existing business information system'|t }}.
					</label>
				</div>

				<div id="message_eExchangeIntroductionToPartners">
					<label class="flex items-baseline" for="eExchangeIntroductionToPartners">
						<input name="message[eExchangeIntroductionToPartners]" id="eExchangeIntroductionToPartners" type="checkbox" value="Da" />
						{{ 'I want to introduce EDI eOrdering with partners'|t }}.
					</label>
				</div>

                <div id="message_eExchangeOnlineEorderingWithPartners">
					<label class="flex items-baseline" for="eExchangeOnlineEorderingWithPartners">
						<input name="message[eExchangeOnlineEorderingWithPartners]" id="eExchangeOnlineEorderingWithPartners" type="checkbox" value="Da" />
						{{ 'I need online EDI eOrdering with partners'|t }}.
					</label>
				</div>

                <div id="message_eExchangeLongtermStorage">
					<label class="flex items-baseline" for="eExchangeLongtermStorage">
						<input name="message[eExchangeLongtermStorage]" id="eExchangeLongtermStorage" type="checkbox" value="Da" />
						{{ 'I need formal long-term storage of exchanged eDocuments (eStorage.si)'|t }}.
					</label>
				</div>


                <fieldset>
                    <div id="message_eExchangeNeedPrepaidPackage">
                        <label class="flex items-baseline" for="eExchangeNeedPrepaidPackage">
                            <input name="message[eExchangeNeedPrepaidPackage]" id="eExchangeNeedPrepaidPackage" type="checkbox" value="Da" data-toggle="exchange-subscription-package"/>
                            {{ 'I want a prepaid package without a monthly subscription. Select EDI.web package for proforma invoice'|t }}.
                        </label>
                    </div>

                    <fieldset id="exchange-subscription-package" class="my-2 hidden">
                        <div class="space-y-2">
                            <label for="eExchangeubscriptionPackage" class="label">{{ 'select a prepaid package'|t }}</label>
                            <div class="checkbox-box">
                                <input name="message[eExchangeubscriptionPackage]" id="eExchangesubscriptionPackage40" type="radio" value="EDI.web 40" />
                                <label class="flex items-center" for="eExchangesubscriptionPackage40"> <span class="ml-9">EDI.web 40</span> </label>
                            </div>
                            <div class="checkbox-box">
                                <input name="message[eExchangeubscriptionPackage]" id="eExchangesubscriptionPackage100" type="radio" value="EDI.web 100" />
                                <label class="flex items-center" for="eExchangesubscriptionPackage100"> <span class="ml-9">EDI.web 100</span> </label>
                            </div>
                        </div>
                    </fieldset>

                </fieldset>
                

                <div id="message_eExchangeNeedMonthlySubscription">
					<label class="flex items-baseline" for="eExchangeNeedMonthlySubscription">
						<input name="message[eExchangeNeedMonthlySubscription]" id="eExchangeNeedMonthlySubscription" type="checkbox" value="Da" />
						{{ 'I want a monthly subscription and more features. You will be contacted by sales.'|t }}
					</label>
				</div>

			</fieldset>

            <div id="message_eExchangeNote">
                <label for="eExchangeNote" class="label">{{ 'Additional notes'|t }}</label>
                <textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eExchangeNote]"></textarea>
            </div>
		</section>
	</div>