	<div class="mb-8 space-y-6 hidden" id="field-elogistic">
		<h4 class="mb-4 text-2xl font-bold">{{ 'Logistics - LogChain'|t }}</h4>

   		<section class="space-y-6">

            <fieldset id="message_eLogisticOrganizationType" class="space-y-2">
                <label for="eLogisticOrganizationType" class="label">{{ 'Type of organization'|t }}</label>
                <div class="checkbox-box">
                    <input name="message[eLogisticOrganizationLogistic]" id="eLogisticOrganizationLogistic" type="checkbox" value="{{ 'Logistics company (transport organizer,…)'|t }}" />
                    <label class="flex items-center" for="eLogisticOrganizationLogistic"> <span class="ml-9">{{ 'Logistics company (transport organizer,…)'|t }}</span> </label>
                </div>
                <div class="checkbox-box">
                    <input name="message[eLogisticOrganizationTransport]" id="eLogisticOrganizationTransport" type="checkbox" value="{{ 'Transport company'|t }}" />
                    <label class="flex items-center" for="eLogisticOrganizationTransport"> <span class="ml-9">{{ 'Transport company'|t }}</span> </label>
                </div>

                <div class="checkbox-box">
                    <input name="message[eLogisticOrganizationTransportForOwnNeeds]" id="eLogisticOrganizationTransportForOwnNeeds" type="checkbox" value="{{ 'Customer transport for own needs'|t }}" />
                    <label class="flex items-center" for="eLogisticOrganizationTransportForOwnNeeds"> <span class="ml-9">{{ 'Customer transport for own needs'|t }}</span> </label>
                </div>

                <div class="checkbox-box">
                    <input name="message[eLogisticOrganizationTrade]" id="eLogisticOrganizationTrade" type="checkbox" value="{{ 'Trade company'|t }}" />
                    <label class="flex items-center" for="eLogisticOrganizationTrade"> <span class="ml-9">{{ 'Trade company'|t }}</span> </label>
                </div>

                <div class="checkbox-box">
                    <input name="message[eLogisticOrganizationEcommerce]" id="eLogisticOrganizationEcommerce" type="checkbox" value="{{ 'eCommerce for ordering and delivery of goods'|t }}" />
                    <label class="flex items-center" for="eLogisticOrganizationEcommerce"> <span class="ml-9">{{ 'eCommerce for ordering and delivery of goods'|t }}</span> </label>
                </div>

                <div class="checkbox-box">
                    <input name="message[eLogisticOrganizationNeedTraceability]" id="eLogisticOrganizationNeedTraceability" type="checkbox" value="{{ 'I need traceability of own shipments and delivery'|t }}" />
                    <label class="flex items-center" for="eLogisticOrganizationNeedTraceability"> <span class="ml-9">{{ 'I need traceability of own shipments and delivery'|t }}</span> </label>
                </div>
            </fieldset>

           	<div id="message_eLogisticTruckTracking">
				<label for="eLogisticTruckTracking" class="label">{{ 'I use inf. truck tracking system'|t }}</label>
				<input type="text" placeholder="{{ 'I use inf. truck tracking system'|t }}" name="message[eLogisticTruckTracking]" />
			</div>

            <div id="message_eLogisticUseSystem">
                <label class="flex items-baseline" for="eLogisticUseSystem">
                    <input name="message[eLogisticUseSystem]" id="eLogisticUseSystem" type="checkbox" value="Da" />
                    {{ 'I use a system for warehousing, preparation of shipments,….'|t }}
                </label>
            </div>

            <fieldset id="message_eLogisticModules" class="space-y-2">
                <label for="eLogisticModules" class="label">{{ 'I need Logchain modules'|t }}</label>
                <div class="checkbox-box">
                    <input name="message[eLogisticModulesPreparation]" id="eLogisticModulesPreparation" type="checkbox" value="{{ 'For preparation of shipments, shipment, route determination and delivery (management of logistics processes, routes and shipments)'|t }}" />
                    <label class="flex items-center" for="eLogisticModulesPreparation"> <span class="ml-9">{{ 'For preparation of shipments, shipment, route determination and delivery (management of logistics processes, routes and shipments)'|t }}</span> </label>
                </div>
                <div class="checkbox-box">
                    <input name="message[eLogisticModulesTracking]" id="eLogisticModulesTracking" type="checkbox" value="{{ 'For tracking shipments and receiving shipments (consignee)'|t }}" />
                    <label class="flex items-center" for="eLogisticModulesTracking"> <span class="ml-9">{{ 'For tracking shipments and receiving shipments (consignee)'|t }}</span> </label>
                </div>

                <div class="checkbox-box">
                    <input name="message[eLogisticModulesFieldActivities]" id="eLogisticModulesFieldActivities" type="checkbox" value="{{ 'For field activities (carrier - driver,…)'|t }}" />
                    <label class="flex items-center" for="eLogisticModulesFieldActivities"> <span class="ml-9">{{ 'For field activities (carrier - driver,…)'|t }}</span> </label>
                </div>
            </fieldset>

            <fieldset>
                <div id="message_eLogisticNeedTablets">
                    <label class="flex items-baseline" for="eLogisticNeedTablets">
                        <input name="message[eLogisticNeedTablets]" id="eLogisticNeedTablets" type="checkbox" value="Da" />
                        {{ 'I need tablets or readers to work in the field'|t }}
                    </label>
                </div>

                <div id="message_eLogisticNeedIntegration">
                    <label class="flex items-baseline" for="eLogisticNeedIntegration">
                        <input name="message[eLogisticNeedIntegration]" id="eLogisticNeedIntegration" type="checkbox" value="Da" />
                        {{ 'I need integration with my inf. Systems'|t }}
                    </label>
                </div>
            </fieldset>

            <div id="message_eLogisticUsersByModules">
				<label for="eLogisticUsersByModules" class="label">{{ 'Define no. users by modules'|t }}</label>
				<input type="text" placeholder="{{ 'No. users'|t }}" name="message[eLogisticUsersByModules]" />
			</div>

            <div id="message_eLogisticDriversNumber">
				<label for="eLogisticDriversNumber" class="label">{{ 'No. drivers'|t }}</label>
				<input type="text" placeholder="{{ 'No. drivers'|t }}" name="message[eLogisticDriversNumber]" />
			</div>

            <div id="message_eLogisticNote">
                <label for="eLogisticNote" class="label">{{ 'Additional notes'|t }}</label>
                <textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eLogisticNote]"></textarea>
            </div>
		</section>
	</div>