	<div class="mb-8 space-y-6 hidden" id="field-estorage">
		<h4 class="mb-4 text-2xl font-bold">{{ 'Long-term eStorage'|t }}</h4>

   		<section class="space-y-6">

           	<div id="message_eStorageKeepDocuments">
				<label for="eStorageKeepDocuments" class="label">{{ 'Which documents I want to keep or for which processes'|t }}</label>
				<input type="text" placeholder="{{ 'eInvoices, eOrdering, Contracts, ...'|t }}" name="message[eStorageKeepDocuments]" />
			</div>

            <fieldset>
                <div id="message_eStorageOwnDocumentSystem">
                    <label class="flex items-baseline" for="eStorageOwnDocumentSystem">
                        <input name="message[eStorageOwnDocumentSystem]" id="eStorageOwnDocumentSystem" type="checkbox" value="Da" />
                        {{ 'I have a document system'|t }}
                    </label>
                </div>

                <div id="message_eStorageNeedIntegration">
                    <label class="flex items-baseline" for="eStorageNeedIntegration">
                        <input name="message[eStorageNeedIntegration]" id="eStorageNeedIntegration" type="checkbox" value="Da" />
                        {{ 'I need the integration of eStorage with internal systems (DMS, ERP, ...)'|t }}
                    </label>
                </div>

                <div id="message_eStorageNeedInterface">
                    <label class="flex items-baseline" for="eStorageNeedInterface">
                        <input name="message[eStorageNeedInterface]" id="eStorageNeedInterface" type="checkbox" value="Da" />
                        {{ 'I need an online interface for eStorage'|t }}
                    </label>
                </div>
            </fieldset>

            <fieldset>
                <div id="message_eStorageNeedInternalRetentionRules">
                    <label class="flex items-baseline" for="eStorageNeedInternalRetentionRules">
                        <input name="message[eStorageNeedInternalRetentionRules]" id="eStorageNeedInternalRetentionRules" type="checkbox" value="Da" />
                        {{ 'I need help drafting internal retention rules'|t }}
                    </label>
                </div>

                <div id="message_eStorageNeedIntroduction">
                    <label class="flex items-baseline" for="eStorageNeedIntroduction">
                        <input name="message[eStorageNeedIntroduction]" id="eStorageNeedIntroduction" type="checkbox" value="Da" />
                        {{ 'I need advice on the introduction of eStorage (signature plans, classification plans, ..)'|t }}
                    </label>
                </div>
            </fieldset>

            <div id="message_eStorageMonthlyIncrement">
				<label for="eStorageMonthlyIncrement" class="label">{{ 'Number of submitted documents per month'|t }}</label>
				<input type="text" placeholder="{{ 'Enter the size of the monthly increment in GB - integer'|t }}" name="message[eStorageMonthlyIncrement]" />
			</div>

            <div id="message_eStorageEstimatedSize">
				<label for="eStorageEstimatedSize" class="label">{{ 'Estimated size (average) of submitted documents (in kb)'|t }}</label>
				<input type="text" placeholder="{{ 'Estimated size (average) of submitted documents (in kb)'|t }}" name="message[eStorageEstimatedSize]" />
			</div>

            <div id="message_eStorageEstimatedMonthlySize">
				<label for="eStorageEstimatedMonthlySize" class="label">{{ 'Estimation of the size of submitted documents per month'|t }}</label>
				<input type="text" placeholder="{{ 'Estimation of the size of submitted documents per month'|t }}" name="message[eStorageEstimatedMonthlySize]" />
			</div>

            <fieldset>
                <div id="message_eStorageNeedPaperArchive">
                    <label class="flex items-baseline" for="eStorageNeedPaperArchive">
                        <input name="message[eStorageNeedPaperArchive]" id="eStorageNeedPaperArchive" type="checkbox" value="Da" data-toggle="estorage-estimated-archive-size"/>
                        {{ 'I need a paper archive scanning service - existing documentation'|t }}
                    </label>
                </div>

                <div id="estorage-estimated-archive-size" class="hidden">
                    <label for="eStorageEstimatedArchiveSize" class="label">{{ 'Estimate the size of the archive'|t }}</label>
                    <input type="text" placeholder="{{ 'Estimate the size of the archive'|t }}" name="message[eStorageEstimatedArchiveSize]" />
                </div>
            </fieldset>


            <div id="message_eStorageNote">
                <label for="eStorageNote" class="label">{{ 'Additional notes'|t }}</label>
                <textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eStorageNote]"></textarea>
            </div>
		</section>
	</div>