<div class="mb-8 space-y-6 hidden" id="field-store">
	<h4 class="mb-4 text-2xl font-bold">{{ 'Foreign trade'|t }}</h4>

	<section class="space-y-6">

		<fieldset id="message_eStoreOrganizationType" class="space-y-2">
			<label for="eStoreOrganizationType" class="label">{{ 'Type of organization'|t }}</label>
			<div class="checkbox-box">
				<input name="message[eStoreOrganizationForwarding]" id="eStoreOrganizationForwarding" type="checkbox" value="{{ 'Customs representative (forwarding)'|t }}"/>
				<label class="flex items-center" for="eStoreOrganizationForwarding">
					<span class="ml-9">{{ 'Customs representative (forwarding)'|t }}</span>
				</label>
			</div>
			<div class="checkbox-box">
				<input name="message[eStoreOrganizationOwnAccount]" id="eStoreOrganizationOwnAccount" type="checkbox" value="{{ 'Carrying out customs procedures for own account'|t }}"/>
				<label class="flex items-center" for="eStoreOrganizationOwnAccount">
					<span class="ml-9">{{ 'Carrying out customs procedures for own account'|t }}</span>
				</label>
			</div>
		</fieldset>

		<fieldset id="message_eStoreProceduresForDigitize" class="space-y-2">
			<label for="eStoreProceduresForDigitize" class="label">{{ 'Procedures I want to digitize'|t }}</label>


			<!--Uvoz (AIS in ICS)-->
			<div class="checkbox-box">
				<input name="message[eStoreProceduresForDigitizeItem01]" id="eStoreProceduresForDigitizeItem01" type="checkbox" value="{{ 'Imports (AIS and ICS)'|t }}" data-toggle="store-procedure-for-digitize-item01"/>
				<label class="flex items-center" for="eStoreProceduresForDigitizeItem01">
					<span class="ml-9">{{ 'Imports (AIS and ICS)'|t }}</span>
				</label>
			</div>

			<div class="rounded border border-blue-100 hidden" id="store-procedure-for-digitize-item01">
				<table class="min-w-full">
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of locations to perform procedures'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrLocationsItem01">
								<input type="text" name="message[estoreNrLocationsItem01]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of users of the solution'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrUsersOfSlolutionItem01">
								<input type="text" name="message[estoreNrUsersOfSlolutionItem01]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Approximate number of procedures performed per month'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrProceduresItem01">
								<input type="text" name="message[estoreNrProceduresItem01]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5 border-b border-blue-100">
							<label class="label">{{ 'Countries where the proceedings are conducted'|t }}</label>
							<div class="flex flex-wrap">
								<label class="flex mr-4 items-baseline" for="SLO">
									<input name="message[estorecountriesSLOItem01]" id="SLO" type="checkbox" value="Slovenija"/>
									{{ 'Slovenia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="EU">
									<input name="message[estorecountriesEUItem01]" id="EU" type="checkbox" value="EU"/>
									EU
								</label>
								<label class="flex mr-4 items-baseline" for="Crna_Gora">
									<input name="message[estorecountriesMonteNegroItem01]" id="Crna_Gora" type="checkbox" value="Črna gora"/>
									{{ 'Montenegro'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Makedonija">
									<input name="message[estorecountriesMacedoniaItem01]" id="Makedonija" type="checkbox" value="Makedonija"/>
								{{ 'Macedonia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Srbija">
									<input name="message[estorecountriesSerbiaItem01]" id="Srbija" type="checkbox" value="Srbija"/>
									{{ 'Serbia'|t }}
								</label>
								<label class="flex mr-4 items-baseline mt-4" for="Other">
									<input name="message[estorecountriesOtherItem01]" id="Other" type="checkbox" value="Drugo"/>
									<div id="message_estorecountriesOtherTypeItem01">
										<input type="text" placeholder="{{ 'Other'|t }}" name="message[estorecountriesOtherTypeItem01]"/>
									</div>
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5">
							<div id="message_eStoreNoteItem01">
								<label for="eStoreNoteItem01" class="label">{{ 'Additional notes'|t }}</label>
								<textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eStoreNoteItem01]"></textarea>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!--Uvoz-->

			<!--Izvoz (AES in ECS)-->
			<div class="checkbox-box">
				<input name="message[eStoreProceduresForDigitizeItem02]" id="eStoreProceduresForDigitizeItem02" type="checkbox" value="{{ 'Exports (AES and ECS)'|t }}" data-toggle="store-procedure-for-digitize-Item02"/>
				<label class="flex items-center" for="eStoreProceduresForDigitizeItem02">
					<span class="ml-9">{{ 'Exports (AES and ECS)'|t }}</span>
				</label>
			</div>

			<div class="rounded border border-blue-100 hidden" id="store-procedure-for-digitize-Item02">
				<table class="min-w-full">
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of locations to perform procedures'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrLocationsItem02">
								<input type="text" name="message[estoreNrLocationsItem02]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of users of the solution'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrUsersOfSlolutionItem02">
								<input type="text" name="message[estoreNrUsersOfSlolutionItem02]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Approximate number of procedures performed per month'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrProceduresItem02">
								<input type="text" name="message[estoreNrProceduresItem02]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5 border-b border-blue-100">
							<label class="label">{{ 'Countries where the proceedings are conducted'|t }}</label>
							<div class="flex flex-wrap">
								<label class="flex mr-4 items-baseline" for="SLO">
									<input name="message[estorecountriesSLOItem02]" id="SLO" type="checkbox" value="Slovenija"/>
									{{ 'Slovenia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="EU">
									<input name="message[estorecountriesEUItem02]" id="EU" type="checkbox" value="EU"/>
									EU
								</label>
								<label class="flex mr-4 items-baseline" for="Crna_Gora">
									<input name="message[estorecountriesMonteNegroItem02]" id="Crna_Gora" type="checkbox" value="Črna gora"/>
									{{ 'Montenegro'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Makedonija">
									<input name="message[estorecountriesMacedoniaItem02]" id="Makedonija" type="checkbox" value="Makedonija"/>
									{{ 'Macedonia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Srbija">
									<input name="message[estorecountriesSerbiaItem02]" id="Srbija" type="checkbox" value="Srbija"/>
									{{ 'Serbia'|t }}
								</label>
								<label class="flex mr-4 items-baseline mt-4" for="Other">
									<input name="message[estorecountriesOtherItem02]" id="Other" type="checkbox" value="Drugo"/>
									<div id="message_estorecountriesOtherTypeItem02">
										<input type="text" placeholder="{{ 'Other'|t }}" name="message[estorecountriesOtherTypeItem02]"/>
									</div>
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5">
							<div id="message_eStoreNoteItem02">
								<label for="eStoreNoteItem02" class="label">{{ 'Additional notes'|t }}</label>
								<textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eStoreNoteItem02]"></textarea>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!---->

			<!--Tranzit (NCTS)-->
			<div class="checkbox-box">
				<input name="message[eStoreProceduresForDigitizeItem03]" id="eStoreProceduresForDigitizeItem03" type="checkbox" value="{{ 'Transit (NCTS)'|t }}" data-toggle="store-procedure-for-digitize-Item03"/>
				<label class="flex items-center" for="eStoreProceduresForDigitizeItem03">
					<span class="ml-9">{{ 'Transit (NCTS)'|t }}</span>
				</label>
			</div>

			<div class="rounded border border-blue-100 hidden" id="store-procedure-for-digitize-Item03">
				<table class="min-w-full">
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of locations to perform procedures'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrLocationsItem03">
								<input type="text" name="message[estoreNrLocationsItem03]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of users of the solution'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrUsersOfSlolutionItem03">
								<input type="text" name="message[estoreNrUsersOfSlolutionItem03]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Approximate number of procedures performed per month'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrProceduresItem03">
								<input type="text" name="message[estoreNrProceduresItem03]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5 border-b border-blue-100">
							<label class="label">{{ 'Countries where the proceedings are conducted'|t }}</label>
							<div class="flex flex-wrap">
								<label class="flex mr-4 items-baseline" for="SLO">
									<input name="message[estorecountriesSLOItem03]" id="SLO" type="checkbox" value="Slovenija"/>
									{{ 'Slovenia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="EU">
									<input name="message[estorecountriesEUItem03]" id="EU" type="checkbox" value="EU"/>
									EU
								</label>
								<label class="flex mr-4 items-baseline" for="Crna_Gora">
									<input name="message[estorecountriesMonteNegroItem03]" id="Crna_Gora" type="checkbox" value="Črna gora"/>
								{{ 'Montenegro'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Makedonija">
									<input name="message[estorecountriesMacedoniaItem03]" id="Makedonija" type="checkbox" value="Makedonija"/>
									{{ 'Macedonia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Srbija">
									<input name="message[estorecountriesSerbiaItem03]" id="Srbija" type="checkbox" value="Srbija"/>
									{{ 'Serbia'|t }}
								</label>
								<label class="flex mr-4 items-baseline mt-4" for="Other">
									<input name="message[estorecountriesOtherItem03]" id="Other" type="checkbox" value="Drugo"/>
									<div id="message_estorecountriesOtherTypeItem03">
										<input type="text" placeholder="{{ 'Other'|t }}" name="message[estorecountriesOtherTypeItem03]"/>
									</div>
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5">
							<div id="message_eStoreNoteItem03">
								<label for="eStoreNoteItem03" class="label">{{ 'Additional notes'|t }}</label>
								<textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eStoreNoteItem03]"></textarea>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!---->

			<!--Carinsko skladišče / Trošarinski premiki blaga (EMCS)-->
			<div class="checkbox-box">
				<input name="message[eStoreProceduresForDigitizeItem04]" id="eStoreProceduresForDigitizeItem04" type="checkbox" value="{{ 'Customs warehouse'|t }} / {{ 'Excise movements of goods (EMCS)'|t }}" data-toggle="store-procedure-for-digitize-Item04"/>
				<label class="flex items-center" for="eStoreProceduresForDigitizeItem04">
					<span class="ml-9">{{ 'Customs warehouse'|t }}
						/
						{{ 'Excise movements of goods (EMCS)'|t }}</span>
				</label>
			</div>

			<div class="rounded border border-blue-100 hidden" id="store-procedure-for-digitize-Item04">
				<table class="min-w-full">
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of locations to perform procedures'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrLocationsItem04">
								<input type="text" name="message[estoreNrLocationsItem04]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of users of the solution'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrUsersOfSlolutionItem04">
								<input type="text" name="message[estoreNrUsersOfSlolutionItem04]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Approximate number of procedures performed per month'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrProceduresItem04">
								<input type="text" name="message[estoreNrProceduresItem04]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5 border-b border-blue-100">
							<label class="label">{{ 'Countries where the proceedings are conducted'|t }}</label>
							<div class="flex flex-wrap">
								<label class="flex mr-4 items-baseline" for="SLO">
									<input name="message[estorecountriesSLOItem04]" id="SLO" type="checkbox" value="Slovenija"/>
									{{ 'Slovenia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="EU">
									<input name="message[estorecountriesEUItem04]" id="EU" type="checkbox" value="EU"/>
									EU
								</label>
								<label class="flex mr-4 items-baseline" for="Crna_Gora">
									<input name="message[estorecountriesMonteNegroItem04]" id="Crna_Gora" type="checkbox" value="Črna gora"/>
								{{ 'Montenegro'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Makedonija">
									<input name="message[estorecountriesMacedoniaItem04]" id="Makedonija" type="checkbox" value="Makedonija"/>
							{{ 'Macedonia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Srbija">
									<input name="message[estorecountriesSerbiaItem04]" id="Srbija" type="checkbox" value="Srbija"/>
									{{ 'Serbia'|t }}
								</label>
								<label class="flex mr-4 items-baseline mt-4" for="Other">
									<input name="message[estorecountriesOtherItem04]" id="Other" type="checkbox" value="Drugo"/>
									<div id="message_estorecountriesOtherTypeItem04">
										<input type="text" placeholder="{{ 'Other'|t }}" name="message[estorecountriesOtherTypeItem04]"/>
									</div>
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5">
							<div id="message_eStoreNoteItem04">
								<label for="eStoreNoteItem04" class="label">{{ 'Additional notes'|t }}</label>
								<textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eStoreNoteItem04]"></textarea>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!---->

			<!--Intrastat poročanje-->
			<div class="checkbox-box">
				<input name="message[eStoreProceduresForDigitizeItem05]" id="eStoreProceduresForDigitizeItem05" type="checkbox" value="{{ 'Intrastat reporting'|t }}" data-toggle="store-procedure-for-digitize-Item05"/>
				<label class="flex items-center" for="eStoreProceduresForDigitizeItem05">
					<span class="ml-9">{{ 'Intrastat reporting'|t }}</span>
				</label>
			</div>

			<div class="rounded border border-blue-100 hidden" id="store-procedure-for-digitize-Item05">
				<table class="min-w-full">
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of locations to perform procedures'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrLocationsItem05">
								<input type="text" name="message[estoreNrLocationsItem05]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Number of users of the solution'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrUsersOfSlolutionItem05">
								<input type="text" name="message[estoreNrUsersOfSlolutionItem05]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="px-4 py-2.5 border-b border-blue-100">{{ 'Approximate number of procedures performed per month'|t }}</td>
						<td class="px-4 py-2.5 border-b border-blue-100 w-1/2">
							<div id="message_estoreNrProceduresItem05">
								<input type="text" name="message[estoreNrProceduresItem05]"/>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5 border-b border-blue-100">
							<label class="label">{{ 'Countries where the proceedings are conducted'|t }}</label>
							<div class="flex flex-wrap">
								<label class="flex mr-4 items-baseline" for="SLO">
									<input name="message[estorecountriesSLOItem05]" id="SLO" type="checkbox" value="Slovenija"/>
									{{ 'Slovenia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="EU">
									<input name="message[estorecountriesEUItem05]" id="EU" type="checkbox" value="EU"/>
									EU
								</label>
								<label class="flex mr-4 items-baseline" for="Crna_Gora">
									<input name="message[estorecountriesMonteNegroItem05]" id="Crna_Gora" type="checkbox" value="Črna gora"/>
								{{ 'Montenegro'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Makedonija">
									<input name="message[estorecountriesMacedoniaItem05]" id="Makedonija" type="checkbox" value="Makedonija"/>
									{{ 'Macedonia'|t }}
								</label>
								<label class="flex mr-4 items-baseline" for="Srbija">
									<input name="message[estorecountriesSerbiaItem05]" id="Srbija" type="checkbox" value="Srbija"/>
									{{ 'Serbia'|t }}
								</label>
								<label class="flex mr-4 items-baseline mt-4" for="Other">
									<input name="message[estorecountriesOtherItem05]" id="Other" type="checkbox" value="Drugo"/>
									<div id="message_estorecountriesOtherTypeItem05">
										<input type="text" placeholder="{{ 'Other'|t }}" name="message[estorecountriesOtherTypeItem05]"/>
									</div>
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="px-4 py-2.5">
							<div id="message_eStoreNoteItem05">
								<label for="eStoreNoteItem05" class="label">{{ 'Additional notes'|t }}</label>
								<textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eStoreNoteItem05]"></textarea>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!---->


		</fieldset>

		<div id="message_eStoreNeedStorage">
			<label class="flex items-baseline" for="eStoreNeedStorage">
				<input name="message[eStoreNeedStorage]" id="eStoreNeedStorage" type="checkbox" value="Da"/>
				{{ 'I need eStorage for Customs documents and attachments'|t }}
			</label>
		</div>

		<div id="message_eStoreNote">
			<label for="eStoreNote" class="label">{{ 'Additional notes'|t }}</label>
			<textarea type="text" placeholder="{{ 'Additional notes'|t }}" name="message[eStoreNote]"></textarea>
		</div>
	</section>
</div>
